{
  "swagger": "2.0",
  "info": {
    "version": "Current",
    "title": "Smart Pension API",
    "description": "This is the endpoint description of Smart Pension API."
  },
  "host": "api.sandbox.autoenrolment.co.uk",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "paths": {
    "/companies/{company_id}/bills/{id}": {
      "get": {
        "summary": "Companies/Bills/Get",
        "tags": [
          "Bills"
        ],
        "description": "",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "include",
            "in": "query",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "200": {
            "description": "OK",
            "examples": {
              "application/json": "{\n  \"id\": 2,\n  \"company_id\": 15,\n  \"state\": \"pending_submission\",\n  \"amount\": 20.0,\n  \"description\": \"name's Pension\",\n  \"invoice_name\": \"SP1704102\",\n  \"paid_at\": null,\n  \"charge_on\": \"2017-04-10\",\n  \"created_at\": \"2017-04-10T10:46:50.000+01:00\",\n  \"updated_at\": \"2017-04-10T10:46:50.000+01:00\",\n  \"pdf_bill_url\": \"/home/anthony/code/work/api/public/system/bills/pdf_bills/000/000/002/original/Bill-2017-04-10-2.pdf\",\n  \"links\": [\n\n  ]\n}"
            }
          }
        }
      },
      "delete": {
        "summary": "Companies/Bills/Destroy",
        "tags": [
          "Bills"
        ],
        "description": "",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "403": {
            "description": "Forbidden",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 50,\n      \"title\": \"The Bill cannot be cancelled.\",\n      \"detail\": \"The bill cannot be cancelled because it has already been submited to the bank.\",\n      \"source\": {\n        \"pointer\": \"/base\"\n      }\n    }\n  ]\n}"
            }
          },
          "204": {
            "description": "Empty",
            "examples": {
              "application/json": "{}"
            }
          }
        }
      }
    },
    "/employees/referrals": {
      "post": {
        "summary": "Employees/Referrals/Create",
        "tags": [
          "Referrals"
        ],
        "description": "",
        "parameters": [
          {
            "name": "referee_token",
            "in": "query",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "201": {
            "description": "Created",
            "examples": {
              "application/json": "{\n  \"id\": 6,\n  \"type\": \"employee\"\n}"
            }
          }
        }
      }
    },
    "/advisers/{id}": {
      "get": {
        "summary": "Advisers/Get",
        "tags": [
          "Advisers"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "200": {
            "description": "OK",
            "examples": {
              "application/json": "{\n  \"id\": 6\n}"
            }
          }
        }
      },
      "patch": {
        "summary": "Advisers/Update",
        "tags": [
          "Advisers"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "body",
            "required": false,
            "description": "Adviser name",
            "type": "string"
          },
          {
            "name": "address",
            "in": "body",
            "required": false,
            "description": "Adviser address",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "204": {
            "description": "Empty",
            "examples": {
              "application/json": "{}"
            }
          },
          "422": {
            "description": "Unprocessable",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 101,\n      \"title\": \"Adviser name is required.\",\n      \"detail\": \"You need to include a name for this adviser account; this is the name that clients of this adviser will see.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/name\"\n      }\n    }\n  ]\n}"
            }
          }
        }
      }
    },
    "/companies/{company_id}/employees": {
      "post": {
        "summary": "Companies/Employees/Create",
        "tags": [
          "Employees"
        ],
        "description": "",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "external_id",
            "in": "body",
            "required": false,
            "description": "External ID",
            "type": "string"
          },
          {
            "name": "fund_id",
            "in": "body",
            "required": false,
            "description": "Fund ID",
            "type": "string"
          },
          {
            "name": "email",
            "in": "body",
            "required": false,
            "description": "Employee email",
            "type": "string"
          },
          {
            "name": "forename",
            "in": "body",
            "required": true,
            "description": "Employee forename",
            "type": "string"
          },
          {
            "name": "surname",
            "in": "body",
            "required": true,
            "description": "Employee surname",
            "type": "string"
          },
          {
            "name": "title",
            "in": "body",
            "required": false,
            "description": "Employee title",
            "type": "string"
          },
          {
            "name": "telephone",
            "in": "body",
            "required": false,
            "description": "Employee telephone number",
            "type": "string"
          },
          {
            "name": "male",
            "in": "body",
            "required": false,
            "description": "Employee male",
            "type": "string"
          },
          {
            "name": "line1",
            "in": "body",
            "required": false,
            "description": "Employee address line 1",
            "type": "string"
          },
          {
            "name": "line2",
            "in": "body",
            "required": false,
            "description": "Employee address line 2",
            "type": "string"
          },
          {
            "name": "city",
            "in": "body",
            "required": false,
            "description": "Employee address city",
            "type": "string"
          },
          {
            "name": "county",
            "in": "body",
            "required": false,
            "description": "Employee address county",
            "type": "string"
          },
          {
            "name": "postcode",
            "in": "body",
            "required": true,
            "description": "Employee address postcode",
            "type": "string"
          },
          {
            "name": "date_of_birth",
            "in": "body",
            "required": true,
            "description": "Employee date of birth",
            "type": "string"
          },
          {
            "name": "national_insurance_number",
            "in": "body",
            "required": false,
            "description": "Employee national insurance number",
            "type": "string"
          },
          {
            "name": "starts_on",
            "in": "body",
            "required": true,
            "description": "Employee start date",
            "type": "string"
          },
          {
            "name": "ends_on",
            "in": "body",
            "required": false,
            "description": "Employee end employment date",
            "type": "string"
          },
          {
            "name": "exit_reason",
            "in": "body",
            "required": false,
            "description": "Employee exit reason",
            "type": "string"
          },
          {
            "name": "percentage",
            "in": "body",
            "required": false,
            "description": "Employee percentage",
            "type": "string"
          },
          {
            "name": "company_percentage",
            "in": "body",
            "required": false,
            "description": "Employee company percentage",
            "type": "string"
          },
          {
            "name": "company_match",
            "in": "body",
            "required": false,
            "description": "Employee company percentage match",
            "type": "string"
          },
          {
            "name": "opt_state",
            "in": "body",
            "required": false,
            "description": "Employee opt state",
            "type": "string"
          },
          {
            "name": "group_id",
            "in": "body",
            "required": false,
            "description": "Employee group ID",
            "type": "string"
          },
          {
            "name": "works_in_uk",
            "in": "body",
            "required": false,
            "description": "Employee works in UK",
            "type": "string"
          },
          {
            "name": "contribute_if_entitled",
            "in": "body",
            "required": false,
            "description": "Employee contribute if entitled",
            "type": "string"
          },
          {
            "name": "customer_id",
            "in": "body",
            "required": false,
            "description": "Employee associated customer ID",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "422": {
            "description": "Unprocessable",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 2522,\n      \"title\": \"Forename is a required field.\",\n      \"detail\": \"You need to include the forename.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/forename\"\n      }\n    },\n    {\n      \"code\": 2524,\n      \"title\": \"Surname is a required field.\",\n      \"detail\": \"You need to include the surname.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/surname\"\n      }\n    },\n    {\n      \"code\": 2526,\n      \"title\": \"Postcode is a required field.\",\n      \"detail\": \"You need to include the postcode.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/postcode\"\n      }\n    },\n    {\n      \"code\": 2504,\n      \"title\": \"Date of birth is a required field.\",\n      \"detail\": \"You need to enter the date of birth.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/date_of_birth\"\n      }\n    },\n    {\n      \"code\": 2527,\n      \"title\": \"Employment start date is a required field.\",\n      \"detail\": \"You need to include the employment start date.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/starts_on\"\n      }\n    }\n  ]\n}"
            }
          },
          "201": {
            "description": "Created",
            "examples": {
              "application/json": "{\n  \"id\": 7,\n  \"email\": null,\n  \"reset_password_token\": null,\n  \"reset_password_sent_at\": null,\n  \"remember_created_at\": null,\n  \"last_sign_in_at\": null,\n  \"slug\": \"fsurname\",\n  \"created_at\": \"2017-04-10T10:46:51.000+01:00\",\n  \"updated_at\": \"2017-04-10T10:46:51.000+01:00\",\n  \"confirmation_token\": null,\n  \"gauth_secret\": \"3iusqyroqmqiaiedra3wpug2xlrdwbdgagxa45nox4wfzgbp7id6spmjz6ycigiy\",\n  \"gauth_enabled\": false,\n  \"gauth_tmp\": null,\n  \"forename\": \"forename\",\n  \"surname\": \"surname\",\n  \"title\": null,\n  \"authentication_token\": \"1guwHeh2s7x3i8eD3gL5\",\n  \"date_of_birth\": \"2017-04-09\",\n  \"group_id\": null,\n  \"line2\": null,\n  \"city\": null,\n  \"county\": null,\n  \"postcode\": \"w6 4ra\",\n  \"line1\": null,\n  \"telephone\": null,\n  \"national_insurance_number\": null,\n  \"works_in_uk\": true,\n  \"starts_on\": \"2016-01-01\",\n  \"authentication_token_generated_at\": \"2017-04-10T10:46:51.000+01:00\",\n  \"male\": true,\n  \"company_percentage\": 10.0,\n  \"company_percentage_matched\": 10.0,\n  \"company_match\": false,\n  \"percentage\": 1.0,\n  \"contribute_if_entitled\": true,\n  \"temporary_password\": \"6pzMTgF2\",\n  \"ends_on\": null,\n  \"exit_reason\": null,\n  \"opt_out_on\": null,\n  \"opt_state\": \"ignition\",\n  \"opt_in_on\": null,\n  \"company_id\": 20,\n  \"api_key\": \"xEmZcO4ClURj6_al5LnK6g\",\n  \"automatically_enrolled\": false,\n  \"external_id\": null,\n  \"fund_id\": 1,\n  \"customer_id\": null,\n  \"referral_clicks\": 0,\n  \"contribution_ids\": [\n\n  ],\n  \"links\": [\n    {\n      \"rel\": \"company\",\n      \"title\": \"company\",\n      \"href\": \"http://api.autoenrolment.dev:3000/companies/20\"\n    }\n  ]\n}"
            }
          }
        }
      },
      "get": {
        "summary": "Companies/Enrolments/Employees/List",
        "tags": [
          "Employees"
        ],
        "description": "",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "include",
            "in": "query",
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string"
          },
          {
            "name": "direction",
            "in": "query",
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "200": {
            "description": "OK",
            "examples": {
              "application/json": "{\n  \"limit\": 50,\n  \"offset\": 0,\n  \"total\": 3,\n  \"links\": [\n    {\n      \"rel\": \"self\",\n      \"title\": \"self\",\n      \"href\": \"http://api.example.com/companies/159/employees?include%5B%5D=company\"\n    },\n    {\n      \"rel\": \"first\",\n      \"title\": \"first\",\n      \"href\": \"http://api.example.com/companies/159/employees?include%5B%5D=company&offset=0&limit=50\"\n    },\n    {\n      \"rel\": \"last\",\n      \"title\": \"last\",\n      \"href\": \"http://api.example.com/companies/159/employees?include%5B%5D=company&offset=0&limit=50\"\n    }\n  ],\n  \"employees\": [\n    {\n      \"id\": 68,\n      \"email\": \"m1@example.com\",\n      \"reset_password_token\": null,\n      \"reset_password_sent_at\": null,\n      \"remember_created_at\": null,\n      \"last_sign_in_at\": null,\n      \"slug\": \"fsurname\",\n      \"created_at\": \"2017-04-10T10:47:41.000+01:00\",\n      \"updated_at\": \"2017-04-10T10:47:41.000+01:00\",\n      \"confirmation_token\": null,\n      \"gauth_secret\": \"uf54ql4uctgfdgcdb6eqhfmlez2drzcuasszmj7uwwec4ggl7fb2dhvzaiejbd2v\",\n      \"gauth_enabled\": false,\n      \"gauth_tmp\": null,\n      \"forename\": \"forename\",\n      \"surname\": \"surname\",\n      \"title\": null,\n      \"authentication_token\": \"nemJxv9t85XyZuzqnyxU\",\n      \"date_of_birth\": \"1995-04-10\",\n      \"group_id\": null,\n      \"line2\": null,\n      \"city\": null,\n      \"county\": null,\n      \"postcode\": \"postcode\",\n      \"line1\": null,\n      \"telephone\": null,\n      \"national_insurance_number\": null,\n      \"works_in_uk\": true,\n      \"starts_on\": \"2017-04-10\",\n      \"authentication_token_generated_at\": \"2017-04-10T10:47:41.000+01:00\",\n      \"male\": true,\n      \"company_percentage\": 1.0,\n      \"company_percentage_matched\": 1.0,\n      \"company_match\": false,\n      \"percentage\": 1.0,\n      \"contribute_if_entitled\": true,\n      \"temporary_password\": \"iMYCG83J\",\n      \"ends_on\": null,\n      \"exit_reason\": null,\n      \"opt_out_on\": \"2016-01-10\",\n      \"opt_state\": \"opted_out\",\n      \"opt_in_on\": null,\n      \"company_id\": 159,\n      \"api_key\": \"_efw7B-D-4jnPjXcLrDB5A\",\n      \"automatically_enrolled\": true,\n      \"external_id\": null,\n      \"fund_id\": 1,\n      \"customer_id\": null,\n      \"referral_clicks\": 0,\n      \"contribution_ids\": [\n\n      ],\n      \"links\": [\n        {\n          \"rel\": \"company\",\n          \"title\": \"company\",\n          \"href\": \"http://api.autoenrolment.dev:3000/companies/159\"\n        }\n      ],\n      \"company\": {\n        \"id\": 159,\n        \"name\": \"name\",\n        \"slug\": \"name\",\n        \"registration_number\": \"number\",\n        \"staging_on\": \"2014-04-01\",\n        \"tax_office_number\": null,\n        \"tax_office_employer_reference\": null,\n        \"contact_id\": 169,\n        \"contact_type\": \"Customer\",\n        \"legal_structure\": \"Limited Company\",\n        \"welcome_letters_reminder_sent_at\": null,\n        \"pension_regulator_letter_code\": null,\n        \"trading_address1\": null,\n        \"trading_address2\": null,\n        \"trading_address3\": null,\n        \"trading_address_postcode\": null,\n        \"reg_address1\": null,\n        \"reg_address2\": null,\n        \"reg_address3\": null,\n        \"reg_address4\": null,\n        \"reg_address_postcode\": null,\n        \"pensionable_earning_type\": \"unbanded\",\n        \"automatic_postponement_period\": null,\n        \"default_percentage\": 1.0,\n        \"employer_pension_scheme_registration\": \"SMART10000159\",\n        \"created_at\": \"2017-04-10T10:47:41.000+01:00\",\n        \"updated_at\": \"2017-04-10T10:47:41.000+01:00\",\n        \"status\": \"active\"\n      }\n    },\n    {\n      \"id\": 69,\n      \"email\": \"m2@example.com\",\n      \"reset_password_token\": null,\n      \"reset_password_sent_at\": null,\n      \"remember_created_at\": null,\n      \"last_sign_in_at\": null,\n      \"slug\": \"fsurname2\",\n      \"created_at\": \"2017-04-10T10:47:41.000+01:00\",\n      \"updated_at\": \"2017-04-10T10:47:41.000+01:00\",\n      \"confirmation_token\": null,\n      \"gauth_secret\": \"kflqxgjkjstmwoj7ymc4rev2ajv5cerq7bxcq5wkltdszbvdgr5vdza2ordsg6tn\",\n      \"gauth_enabled\": false,\n      \"gauth_tmp\": null,\n      \"forename\": \"forename\",\n      \"surname\": \"surname\",\n      \"title\": null,\n      \"authentication_token\": \"3MozhrxXy99k4hzf9zf1\",\n      \"date_of_birth\": \"1995-04-10\",\n      \"group_id\": null,\n      \"line2\": null,\n      \"city\": null,\n      \"county\": null,\n      \"postcode\": \"postcode\",\n      \"line1\": null,\n      \"telephone\": null,\n      \"national_insurance_number\": null,\n      \"works_in_uk\": true,\n      \"starts_on\": \"2017-04-10\",\n      \"authentication_token_generated_at\": \"2017-04-10T10:47:41.000+01:00\",\n      \"male\": true,\n      \"company_percentage\": 1.0,\n      \"company_percentage_matched\": 1.0,\n      \"company_match\": false,\n      \"percentage\": 1.0,\n      \"contribute_if_entitled\": true,\n      \"temporary_password\": \"zYNwypER\",\n      \"ends_on\": null,\n      \"exit_reason\": null,\n      \"opt_out_on\": \"2016-01-10\",\n      \"opt_state\": \"opted_out\",\n      \"opt_in_on\": null,\n      \"company_id\": 159,\n      \"api_key\": \"d3bzl-APEkhtBqA06vDDtA\",\n      \"automatically_enrolled\": true,\n      \"external_id\": null,\n      \"fund_id\": 1,\n      \"customer_id\": null,\n      \"referral_clicks\": 0,\n      \"contribution_ids\": [\n\n      ],\n      \"links\": [\n        {\n          \"rel\": \"company\",\n          \"title\": \"company\",\n          \"href\": \"http://api.autoenrolment.dev:3000/companies/159\"\n        }\n      ],\n      \"company\": {\n        \"id\": 159,\n        \"name\": \"name\",\n        \"slug\": \"name\",\n        \"registration_number\": \"number\",\n        \"staging_on\": \"2014-04-01\",\n        \"tax_office_number\": null,\n        \"tax_office_employer_reference\": null,\n        \"contact_id\": 169,\n        \"contact_type\": \"Customer\",\n        \"legal_structure\": \"Limited Company\",\n        \"welcome_letters_reminder_sent_at\": null,\n        \"pension_regulator_letter_code\": null,\n        \"trading_address1\": null,\n        \"trading_address2\": null,\n        \"trading_address3\": null,\n        \"trading_address_postcode\": null,\n        \"reg_address1\": null,\n        \"reg_address2\": null,\n        \"reg_address3\": null,\n        \"reg_address4\": null,\n        \"reg_address_postcode\": null,\n        \"pensionable_earning_type\": \"unbanded\",\n        \"automatic_postponement_period\": null,\n        \"default_percentage\": 1.0,\n        \"employer_pension_scheme_registration\": \"SMART10000159\",\n        \"created_at\": \"2017-04-10T10:47:41.000+01:00\",\n        \"updated_at\": \"2017-04-10T10:47:41.000+01:00\",\n        \"status\": \"active\"\n      }\n    },\n    {\n      \"id\": 70,\n      \"email\": \"m3@example.com\",\n      \"reset_password_token\": null,\n      \"reset_password_sent_at\": null,\n      \"remember_created_at\": null,\n      \"last_sign_in_at\": null,\n      \"slug\": \"fsurname0\",\n      \"created_at\": \"2017-04-10T10:47:41.000+01:00\",\n      \"updated_at\": \"2017-04-10T10:47:41.000+01:00\",\n      \"confirmation_token\": null,\n      \"gauth_secret\": \"3w4k5mrrwprqofi43uup44rrnpovr2row7pscbf6fd3cnowlqcvr7atta3xvoann\",\n      \"gauth_enabled\": false,\n      \"gauth_tmp\": null,\n      \"forename\": \"forename\",\n      \"surname\": \"surname\",\n      \"title\": null,\n      \"authentication_token\": \"y5cMYjarZV5ugQPXWC7H\",\n      \"date_of_birth\": \"1995-04-10\",\n      \"group_id\": null,\n      \"line2\": null,\n      \"city\": null,\n      \"county\": null,\n      \"postcode\": \"postcode\",\n      \"line1\": null,\n      \"telephone\": null,\n      \"national_insurance_number\": null,\n      \"works_in_uk\": true,\n      \"starts_on\": \"2017-04-10\",\n      \"authentication_token_generated_at\": \"2017-04-10T10:47:41.000+01:00\",\n      \"male\": true,\n      \"company_percentage\": 1.0,\n      \"company_percentage_matched\": 1.0,\n      \"company_match\": false,\n      \"percentage\": 1.0,\n      \"contribute_if_entitled\": true,\n      \"temporary_password\": \"LCqwzvC-\",\n      \"ends_on\": null,\n      \"exit_reason\": null,\n      \"opt_out_on\": \"2016-01-10\",\n      \"opt_state\": \"opted_out\",\n      \"opt_in_on\": null,\n      \"company_id\": 159,\n      \"api_key\": \"EXD40SKlHR_vSsR8QlLnzQ\",\n      \"automatically_enrolled\": true,\n      \"external_id\": null,\n      \"fund_id\": 1,\n      \"customer_id\": null,\n      \"referral_clicks\": 0,\n      \"contribution_ids\": [\n        21\n      ],\n      \"links\": [\n        {\n          \"rel\": \"company\",\n          \"title\": \"company\",\n          \"href\": \"http://api.autoenrolment.dev:3000/companies/159\"\n        }\n      ],\n      \"company\": {\n        \"id\": 159,\n        \"name\": \"name\",\n        \"slug\": \"name\",\n        \"registration_number\": \"number\",\n        \"staging_on\": \"2014-04-01\",\n        \"tax_office_number\": null,\n        \"tax_office_employer_reference\": null,\n        \"contact_id\": 169,\n        \"contact_type\": \"Customer\",\n        \"legal_structure\": \"Limited Company\",\n        \"welcome_letters_reminder_sent_at\": null,\n        \"pension_regulator_letter_code\": null,\n        \"trading_address1\": null,\n        \"trading_address2\": null,\n        \"trading_address3\": null,\n        \"trading_address_postcode\": null,\n        \"reg_address1\": null,\n        \"reg_address2\": null,\n        \"reg_address3\": null,\n        \"reg_address4\": null,\n        \"reg_address_postcode\": null,\n        \"pensionable_earning_type\": \"unbanded\",\n        \"automatic_postponement_period\": null,\n        \"default_percentage\": 1.0,\n        \"employer_pension_scheme_registration\": \"SMART10000159\",\n        \"created_at\": \"2017-04-10T10:47:41.000+01:00\",\n        \"updated_at\": \"2017-04-10T10:47:41.000+01:00\",\n        \"status\": \"active\"\n      }\n    }\n  ]\n}"
            }
          },
          "422": {
            "description": "Unprocessable",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 1504,\n      \"title\": \"Offset must be greater than or equal to 0.\",\n      \"detail\": \"You need to enter an offset which must be a numerical value greater or equal than 0.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/offset\"\n      }\n    }\n  ]\n}"
            }
          }
        }
      }
    },
    "/employees/verify_credentials": {
      "get": {
        "summary": "Employees/VerifyCredentials",
        "tags": [
          "Employees"
        ],
        "description": "",
        "parameters": [
          {
            "name": "slug",
            "in": "query",
            "type": "string"
          },
          {
            "name": "login",
            "in": "query",
            "type": "string"
          },
          {
            "name": "password",
            "in": "query",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "200": {
            "description": "OK",
            "examples": {
              "application/json": "{\n  \"id\": 8,\n  \"api_key\": \"OrKHQej8H9XF_ciieSulBQ\"\n}"
            }
          }
        }
      }
    },
    "/users/verify_credentials": {
      "get": {
        "summary": "Users/VerifyCredentials",
        "tags": [
          "Users"
        ],
        "description": "",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "type": "string"
          },
          {
            "name": "password",
            "in": "query",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "200": {
            "description": "OK",
            "examples": {
              "application/json": "{\n  \"id\": 6,\n  \"email\": \"email@example.com\",\n  \"title\": null,\n  \"forename\": \"forename\",\n  \"surname\": \"surname\",\n  \"api_key\": \"8yepO5pMD13tjZXBEyVT2Q\",\n  \"telephone\": \"0123456789\",\n  \"adviser_id\": 9,\n  \"created_at\": \"2017-04-10T10:46:53.000+01:00\",\n  \"updated_at\": \"2017-04-10T10:46:53.000+01:00\",\n  \"links\": [\n    {\n      \"rel\": \"adviser\",\n      \"title\": \"adviser\",\n      \"href\": \"http://api.autoenrolment.dev:3000/advisers/9\"\n    }\n  ]\n}"
            }
          }
        }
      }
    },
    "/companies/{company_id}/billing_detail": {
      "patch": {
        "summary": "Companies/BillingDetail/Update",
        "tags": [
          "BillingDetail"
        ],
        "description": "",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "204": {
            "description": "Empty",
            "examples": {
              "application/json": "{}"
            }
          }
        }
      },
      "get": {
        "summary": "Companies/BillingDetail/Get",
        "tags": [
          "BillingDetail"
        ],
        "description": "",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "200": {
            "description": "OK",
            "examples": {
              "application/json": "{\n  \"state\": \"ignition\",\n  \"created_at\": \"2017-04-10T10:47:23.000+01:00\"\n}"
            }
          }
        }
      },
      "post": {
        "summary": "Companies/BillingDetail/Create",
        "tags": [
          "BillingDetail"
        ],
        "description": "",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "success_url",
            "in": "query",
            "type": "string"
          },
          {
            "name": "success_url",
            "in": "body",
            "required": true,
            "description": "Redirect url (must be https)",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "201": {
            "description": "Created",
            "examples": {
              "application/json": "{\n  \"redirect_url\": \"http://gocardless.com/RF1\"\n}"
            }
          },
          "422": {
            "description": "Unprocessable",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 2601,\n      \"title\": \"Success URL is not a valid URL\",\n      \"detail\": \"Success URL must be a valid https URL\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/success_url\"\n      }\n    }\n  ]\n}"
            }
          }
        }
      }
    },
    "/errors": {
      "get": {
        "summary": "Errors/List",
        "tags": [
          "Errors"
        ],
        "description": "",
        "parameters": [
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "200": {
            "description": "OK",
            "examples": {
              "application/json": "[\n  {\n    \"code\": 1,\n    \"title\": \"User cannot be deleted.\",\n    \"detail\": \"The last user cannot be deleted as an Adviser must have at least one user.\"\n  },\n  {\n    \"code\": 2,\n    \"title\": \"Contribution cannot be deleted.\",\n    \"detail\": \"The contribution cannot be deleted as it has been paid or payment is pending and a permanent record must be kept.\"\n  },\n  {\n    \"code\": 3,\n    \"title\": \"Contribution cannot be deleted.\",\n    \"detail\": \"The contribution cannot be deleted as contribution history cannot contain missing records.\"\n  },\n  {\n    \"code\": 4,\n    \"title\": \"Permission denied.\",\n    \"detail\": \"Permission denied as this is not one of your advisers.\"\n  },\n  {\n    \"code\": 5,\n    \"title\": \"Customer signatory cannot be deleted.\",\n    \"detail\": \"The customer cannot be deleted as they are a signatory of the company.\"\n  },\n  {\n    \"code\": 6,\n    \"title\": \"Customer contact cannot be deleted.\",\n    \"detail\": \"The customer cannot be deleted as they are the designated point of contact for the company.\"\n  },\n  {\n    \"code\": 8,\n    \"title\": \"Invitation has expired.\",\n    \"detail\": \"Invitations are only valid for 30 days, please create a new invitation.\"\n  },\n  {\n    \"code\": 9,\n    \"title\": \"You are already an adviser for this company.\",\n    \"detail\": \"You already accepted an invitation to be an adviser for this company.\"\n  },\n  {\n    \"code\": 10,\n    \"title\": \"Contribution cannot be updated.\",\n    \"detail\": \"The contribution cannot be updated as it has been paid or payment is pending and a permanent record must be kept.\"\n  },\n  {\n    \"code\": 11,\n    \"title\": \"Staging date is locked.\",\n    \"detail\": \"The staging date cannot be changed as a postponement period has been created or contributions have been made.\"\n  },\n  {\n    \"code\": 12,\n    \"title\": \"Staging date is missing.\",\n    \"detail\": \"Please set your company staging date. Without the staging date you can not perform this action.\"\n  },\n  {\n    \"code\": 13,\n    \"title\": \"DEPRECATED\",\n    \"detail\": \"DEPRECATED\"\n  },\n  {\n    \"code\": 14,\n    \"title\": \"Letters are sent\",\n    \"detail\": \"There are no employees who have not received the letter.\"\n  },\n  {\n    \"code\": 15,\n    \"title\": \"DEPRECATED\",\n    \"detail\": \"DEPRECATED\"\n  },\n  {\n    \"code\": 16,\n    \"title\": \"Impossible to create reward.\",\n    \"detail\": \"All the requirements are not met to create the reward.\"\n  },\n  {\n    \"code\": 17,\n    \"title\": \"Invalid webhook.\",\n    \"detail\": \"The request signature is incorrect.\"\n  },\n  {\n    \"code\": 18,\n    \"title\": \"DEPRECATED ID proof has been removed from the system\",\n    \"detail\": \"DEPRECATED ID proof has been removed from the system\"\n  },\n  {\n    \"code\": 19,\n    \"title\": \"DEPRECATED ID proof has been removed from the system\",\n    \"detail\": \"DEPRECATED ID proof has been removed from the system\"\n  },\n  {\n    \"code\": 20,\n    \"title\": \"Record already exists.\",\n    \"detail\": \"You can't create multiple records.\"\n  },\n  {\n    \"code\": 21,\n    \"title\": \"Contribution cannot be created.\",\n    \"detail\": \"The contribution cannot be created as the company pensionable earning type is self-certification, and the contribution does not have the amounts calculated.\"\n  },\n  {\n    \"code\": 22,\n    \"title\": \"Contribution cannot be updated.\",\n    \"detail\": \"The contribution cannot be updated as it is of pensionable earning type self-certification.\"\n  },\n  {\n    \"code\": 23,\n    \"title\": \"Company not found.\",\n    \"detail\": \"The company specified in the papdis file does not exist.\"\n  },\n  {\n    \"code\": 24,\n    \"title\": \"Unauthorized.\",\n    \"detail\": \"The current customer is not authorized to create imports.\"\n  },\n  {\n    \"code\": 25,\n    \"title\": \"Company contains employees without external id.\",\n    \"detail\": \"Some of the employees of this company do not have external id set.\"\n  },\n  {\n    \"code\": 26,\n    \"title\": \"Invitation has already been used.\",\n    \"detail\": \"Invitation has already been accepted, and they can only be used once, please ask another one.\"\n  },\n  {\n    \"code\": 27,\n    \"title\": \"Employee cannot be deleted because there is account information which must be retained.\",\n    \"detail\": \"The employee cannot be deleted because there is contributions or postponement records for this employee and this information must be retained.\"\n  },\n  {\n    \"code\": 28,\n    \"title\": \"Employee has contributions.\",\n    \"detail\": \"Postponement cannot be deleted or updated because there are contribution records for this employee.\"\n  },\n  {\n    \"code\": 29,\n    \"title\": \"Employee not found.\",\n    \"detail\": \"The employee specified in the file does not exist.\"\n  },\n  {\n    \"code\": 29,\n    \"title\": \"DEPRECATED AML check has been removed from the system\",\n    \"detail\": \"DEPRECATED AML check has been removed from the system\"\n  },\n  {\n    \"code\": 30,\n    \"title\": \"You can't have more than two signatories.\",\n    \"detail\": \"The maximum of signatories is two.\"\n  },\n  {\n    \"code\": 31,\n    \"title\": \"At least one signatory is required.\",\n    \"detail\": \"You need to have at least one signatory.\"\n  },\n  {\n    \"code\": 32,\n    \"title\": \"Customer cannot be promoted.\",\n    \"detail\": \"The customer can not be premoted because the role of the customer is signatory.\"\n  },\n  {\n    \"code\": 33,\n    \"title\": \"Customer cannot be demoted.\",\n    \"detail\": \"The customer can not be demoted because the role of the customer is admin.\"\n  },\n  {\n    \"code\": 34,\n    \"title\": \"Company without envelope.\",\n    \"detail\": \"The Participation Agreement cannot be generated because we are currently generating another one for the same company.\"\n  },\n  {\n    \"code\": 35,\n    \"title\": \"Maximum number of %{entity} reached!\",\n    \"detail\": \"You cannot have more than %{limit} %{entity}.\"\n  },\n  {\n    \"code\": 36,\n    \"title\": \"DEPRECATED message are generated synchronously\",\n    \"detail\": \"DEPRECATED message are generated synchronously\"\n  },\n  {\n    \"code\": 37,\n    \"title\": \"Adviser contact cannot be deleted.\",\n    \"detail\": \"The link between this adviser and company cannot be deleted as they are the designated point of contact for the company.\"\n  },\n  {\n    \"code\": 38,\n    \"title\": \"Your tax office num or ref are incorrect.\",\n    \"detail\": \"You need to include the correct tax office number and reference.\"\n  },\n  {\n    \"code\": 40,\n    \"title\": \"DEPRECATED operation is now permitted\",\n    \"detail\": \"DEPRECATED operation is now permitted\"\n  },\n  {\n    \"code\": 41,\n    \"title\": \"This adviser is point of contact of some company/companies\",\n    \"detail\": \"The adviser which you are trying to delete is point of contact at one or multiple companies. Please choose different point of contact(s) before deleting this adviser.\"\n  },\n  {\n    \"code\": 42,\n    \"title\": \"Contribution cannot be updated.\",\n    \"detail\": \"This contribution cannot be updated because the new amount will change the assessment category for this employee. Please delete and recreate this contribution\"\n  },\n  {\n    \"code\": 43,\n    \"title\": \"This import cannot be destroyed\",\n    \"detail\": \"This import is not failed and cannot be destroyed.\"\n  },\n  {\n    \"code\": 44,\n    \"title\": \"There was a problem in the JSON you submitted.\",\n    \"detail\": \"Description: %{detail}\"\n  },\n  {\n    \"code\": 45,\n    \"title\": \"The re-enrolment date cannot be created yet.\",\n    \"detail\": \"The re-enrolment date cannot be created because it is too far in the future. You will be able to set it from %{date}\"\n  },\n  {\n    \"code\": 46,\n    \"title\": \"This action cannot be perform because there are contributions.\",\n    \"detail\": \"This action cannot be perform because there are contribution records for this re-enrolment period and this information must be retained.\"\n  },\n  {\n    \"code\": 47,\n    \"title\": \"Enrolment cannot be updated/deleted.\",\n    \"detail\": \"The enrolment cannot be updated/deleted as enrolment history cannot contain missing records.\"\n  },\n  {\n    \"code\": 48,\n    \"title\": \"Enrolment cannot be updated/deleted.\",\n    \"detail\": \"You can't update/delete your first enrolment event.\"\n  },\n  {\n    \"code\": 49,\n    \"title\": \"There was a problem with your envelope.\",\n    \"detail\": \"There was a problem with your envelope. Please contact customer services and inform them there is an envelope error.\"\n  },\n  {\n    \"code\": 50,\n    \"title\": \"The Bill cannot be cancelled.\",\n    \"detail\": \"The bill cannot be cancelled because it has already been submited to the bank.\"\n  },\n  {\n    \"code\": 101,\n    \"title\": \"Adviser name is required.\",\n    \"detail\": \"You need to include a name for this adviser account; this is the name that clients of this adviser will see.\"\n  },\n  {\n    \"code\": 102,\n    \"title\": \"Adviser name must be unique\",\n    \"detail\": \"This adviser name is currently in use, please use a different one.\"\n  },\n  {\n    \"code\": 103,\n    \"title\": \"Adviser address is required.\",\n    \"detail\": \"You need to include an address for this adviser account. This can be the registered address of the firm or the place that receives business related correspondence.\"\n  },\n  {\n    \"code\": 201,\n    \"title\": \"Password is a required field.\",\n    \"detail\": \"You need to enter a password for this adviser.\"\n  },\n  {\n    \"code\": 202,\n    \"title\": \"Password confirmation is a required field.\",\n    \"detail\": \"You need to enter a password confirmation for this adviser.\"\n  },\n  {\n    \"code\": 203,\n    \"title\": \"Confirm your password.\",\n    \"detail\": \"The password and password confirmation must match.\"\n  },\n  {\n    \"code\": 204,\n    \"title\": \"Adviser name is required.\",\n    \"detail\": \"You need to include a name for this adviser account; this is the name that clients of this adviser will see.\"\n  },\n  {\n    \"code\": 205,\n    \"title\": \"Adviser name must be unique\",\n    \"detail\": \"This adviser name is currently in use, please use a different one.\"\n  },\n  {\n    \"code\": 206,\n    \"title\": \"Adviser address is required.\",\n    \"detail\": \"You need to include an address for this adviser account. This can be the registered address of the firm or the place that receives business related correspondence.\"\n  },\n  {\n    \"code\": 207,\n    \"title\": \"Email address is a required field.\",\n    \"detail\": \"You need to enter an email address for this adviser.\"\n  },\n  {\n    \"code\": 208,\n    \"title\": \"Email address is not valid.\",\n    \"detail\": \"The email address you entered is not valid. This may be because of the address format or the domain being unreachable. Make sure the address uses this format: name@something.com and that email is enabled for this domain.\"\n  },\n  {\n    \"code\": 209,\n    \"title\": \"Email address must be unique\",\n    \"detail\": \"This email address is currently in use, please use a different one.\"\n  },\n  {\n    \"code\": 210,\n    \"title\": \"Forename is a required field.\",\n    \"detail\": \"You need to include a forename for this adviser.\"\n  },\n  {\n    \"code\": 211,\n    \"title\": \"Surname is a required field.\",\n    \"detail\": \"You need to include a surname for this adviser.\"\n  },\n  {\n    \"code\": 212,\n    \"title\": \"Telephone number is a required field.\",\n    \"detail\": \"You need to include a telephone number for this adviser.\"\n  },\n  {\n    \"code\": 301,\n    \"title\": \"Staging date is missing.\",\n    \"detail\": \"Please set your company staging date. Without this you do not have the option to assess.\"\n  },\n  {\n    \"code\": 301,\n    \"title\": \"Staging date is missing.\",\n    \"detail\": \"Please set your company staging date. Without this you do not have the option to assess.\"\n  },\n  {\n    \"code\": 302,\n    \"title\": \"Employee cannot be assessed until your staging date has passed\",\n    \"detail\": \"You cannot assess until after your staging date of %{staging_on}, please wait until after this date.\"\n  },\n  {\n    \"code\": 302,\n    \"title\": \"Employee cannot be assessed until your staging date has passed.\",\n    \"detail\": \"You cannot assess until after your staging date of %{staging_on}, please wait until after this date.\"\n  },\n  {\n    \"code\": 303,\n    \"title\": \"Employee is opted out of the scheme.\",\n    \"detail\": \"As the employee has opted out of the scheme, they do not need to be assessed.\"\n  },\n  {\n    \"code\": 303,\n    \"title\": \"Employee is opted out of the scheme.\",\n    \"detail\": \"As the employee has opted out of the scheme, they do not need to be assessed.\"\n  },\n  {\n    \"code\": 304,\n    \"title\": \"Employee employment start date is required.\",\n    \"detail\": \"In order to assess the employee, we need you to provide the date they started employment with your company.\"\n  },\n  {\n    \"code\": 304,\n    \"title\": \"Employee employment start date is required.\",\n    \"detail\": \"In order to assess the employee, we need you to provide the date they started employment with your company.\"\n  },\n  {\n    \"code\": 305,\n    \"title\": \"Employee date of birth is required.\",\n    \"detail\": \"In order to assess the employee, we need you to provide their date of birth.\"\n  },\n  {\n    \"code\": 305,\n    \"title\": \"Employee date of birth is required.\",\n    \"detail\": \"In order to assess the employee, we need you to provide their date of birth.\"\n  },\n  {\n    \"code\": 306,\n    \"title\": \"Opt in request is awaiting approval.\",\n    \"detail\": \"You have an opt in request awaiting approval.\"\n  },\n  {\n    \"code\": 306,\n    \"title\": \"Opt in request is awaiting approval.\",\n    \"detail\": \"You have an opt in request awaiting approval.\"\n  },\n  {\n    \"code\": 307,\n    \"title\": \"Gross qualifying earnings is a required field.\",\n    \"detail\": \"You need to enter a gross qualifying earnings.\"\n  },\n  {\n    \"code\": 307,\n    \"title\": \"Gross qualifying earnings is a required field.\",\n    \"detail\": \"You need to enter a gross qualifying earnings.\"\n  },\n  {\n    \"code\": 308,\n    \"title\": \"Gross qualifying earnings must be numerical.\",\n    \"detail\": \"You need to enter a gross qualifying earnings which must be a numerical value greater than 0 in the format eg: '2154.21'\"\n  },\n  {\n    \"code\": 308,\n    \"title\": \"Gross qualifying earnings must be numerical.\",\n    \"detail\": \"You need to enter a gross qualifying earnings which must be a numerical value greater than 0 in the format eg: '2154.21'\"\n  },\n  {\n    \"code\": 309,\n    \"title\": \"Gross qualifying earnings must be greater than or equal to 0.\",\n    \"detail\": \"You need to enter your gross qualifying earnings which must be a numerical value greater than 0 in the format eg: '2154.21'\"\n  },\n  {\n    \"code\": 309,\n    \"title\": \"Gross qualifying earnings must be greater than or equal to 0.\",\n    \"detail\": \"You need to enter your gross qualifying earnings which must be a numerical value greater than 0 in the format eg: '2154.21'\"\n  },\n  {\n    \"code\": 311,\n    \"title\": \"Period type is a required field.\",\n    \"detail\": \"You need to enter a pay period type.\"\n  },\n  {\n    \"code\": 311,\n    \"title\": \"Period type is a required field.\",\n    \"detail\": \"You need to enter a pay period type.\"\n  },\n  {\n    \"code\": 312,\n    \"title\": \"Period type is not valid.\",\n    \"detail\": \"Valid values for the period types are: Weekly, Fornightly, Four Weekly, Monthly, Quarterly, Bi Annually, Annually.\"\n  },\n  {\n    \"code\": 312,\n    \"title\": \"Period type is not valid.\",\n    \"detail\": \"Valid values for the period types are: Weekly, Fornightly, Four Weekly, Monthly, Quarterly, Bi Annually, Annually.\"\n  },\n  {\n    \"code\": 313,\n    \"title\": \"Pay period start date is a required field.\",\n    \"detail\": \"You need to enter a pay period start date.\"\n  },\n  {\n    \"code\": 313,\n    \"title\": \"Pay period start date is a required field.\",\n    \"detail\": \"You need to enter a pay period start date.\"\n  },\n  {\n    \"code\": 314,\n    \"title\": \"Pay period is not consecutive.\",\n    \"detail\": \"The pay period start date must be one day after the end of the previous pay period. i.e %{value}.\"\n  },\n  {\n    \"code\": 314,\n    \"title\": \"Pay period is not consecutive.\",\n    \"detail\": \"The pay period start date must be one day after the end of the previous pay period. i.e %{value}.\"\n  },\n  {\n    \"code\": 315,\n    \"title\": \"Pay period start date must be after or on the %{value}.\",\n    \"detail\": \"This is the date that the employee can start to contribute.\"\n  },\n  {\n    \"code\": 315,\n    \"title\": \"Pay period start date must be after or on the %{value}.\",\n    \"detail\": \"This is the date that the employee can start to contribute.\"\n  },\n  {\n    \"code\": 316,\n    \"title\": \"Pay period start date must be after the %{value}.\",\n    \"detail\": \"This is the date that the employee contribute for the last time.\"\n  },\n  {\n    \"code\": 316,\n    \"title\": \"Pay period start date must be after the %{value}.\",\n    \"detail\": \"This is the date that the employee contribute for the last time.\"\n  },\n  {\n    \"code\": 317,\n    \"title\": \"DEPRECATED.\",\n    \"detail\": \"DEPRECATED.\"\n  },\n  {\n    \"code\": 317,\n    \"title\": \"DEPRECATED.\",\n    \"detail\": \"DEPRECATED.\"\n  },\n  {\n    \"code\": 318,\n    \"title\": \"Pay period start date cannot be accepted.\",\n    \"detail\": \"You are trying to upload a contribution with a start date that is too far in the past or future.\"\n  },\n  {\n    \"code\": 318,\n    \"title\": \"Pay period start date cannot be accepted.\",\n    \"detail\": \"You are trying to upload a contribution with a start date that is too far in the past or future.\"\n  },\n  {\n    \"code\": 319,\n    \"title\": \"Pay period end date is a required field.\",\n    \"detail\": \"You need to enter a pay period end date.\"\n  },\n  {\n    \"code\": 319,\n    \"title\": \"Pay period end date is a required field.\",\n    \"detail\": \"You need to enter a pay period end date.\"\n  },\n  {\n    \"code\": 320,\n    \"title\": \"Pay period end date overlaps with a postponement.\",\n    \"detail\": \"You cannot carry out a contribution as it overlaps with an existing postponement period.\"\n  },\n  {\n    \"code\": 320,\n    \"title\": \"Pay period end date overlaps with a postponement.\",\n    \"detail\": \"You cannot carry out a contribution as it overlaps with an existing postponement period.\"\n  },\n  {\n    \"code\": 321,\n    \"title\": \"Pay periods dates do not match the specified period length.\",\n    \"detail\": \"You have entered a range of dates which do not match the period length (e.g. weekly, monthly) that you specified.\"\n  },\n  {\n    \"code\": 321,\n    \"title\": \"Pay periods dates do not match the specified period length.\",\n    \"detail\": \"You have entered a range of dates which do not match the period length (e.g. weekly, monthly) that you specified.\"\n  },\n  {\n    \"code\": 322,\n    \"title\": \"Employer amount is a required field.\",\n    \"detail\": \"The employer amount is required if the employee amount or category are submitted.\"\n  },\n  {\n    \"code\": 322,\n    \"title\": \"Employer amount is a required field.\",\n    \"detail\": \"The employer amount is required if the employee amount or category are submitted.\"\n  },\n  {\n    \"code\": 323,\n    \"title\": \"Employee amount is a required field.\",\n    \"detail\": \"The Employee amount is required if the employer amount or category are submitted.\"\n  },\n  {\n    \"code\": 323,\n    \"title\": \"Employee amount is a required field.\",\n    \"detail\": \"The Employee amount is required if the employer amount or category are submitted.\"\n  },\n  {\n    \"code\": 324,\n    \"title\": \"Contribution category is a required field.\",\n    \"detail\": \"The category is required if the employer amount or category are submitted.\"\n  },\n  {\n    \"code\": 324,\n    \"title\": \"Contribution category is a required field.\",\n    \"detail\": \"The category is required if the employer amount or category are submitted.\"\n  },\n  {\n    \"code\": 325,\n    \"title\": \"Category is not valid.\",\n    \"detail\": \"Valid values for the categories are: No duties, Entitled workers, Non-eligible jobholders, Eligible jobholders\"\n  },\n  {\n    \"code\": 325,\n    \"title\": \"Category is not valid.\",\n    \"detail\": \"Valid values for the categories are: No duties, Entitled workers, Non-eligible jobholders, Eligible jobholders\"\n  },\n  {\n    \"code\": 326,\n    \"title\": \"Additional voluntary contribution amount must be numerical.\",\n    \"detail\": \"You need to enter an additional voluntary contribution amount which must be a numerical value greater than 0 in the format eg: '54.21'\"\n  },\n  {\n    \"code\": 326,\n    \"title\": \"Additional voluntary contribution amount must be numerical.\",\n    \"detail\": \"You need to enter an additional voluntary contribution amount which must be a numerical value greater than 0 in the format eg: '54.21'\"\n  },\n  {\n    \"code\": 327,\n    \"title\": \"Additional voluntary contribution amount must be greater than or equal to 0.\",\n    \"detail\": \"You need to enter an additional voluntary contribution amount which must be a numerical value greater than 0 in the format eg: '54.21'\"\n  },\n  {\n    \"code\": 327,\n    \"title\": \"Additional voluntary contribution amount must be greater than or equal to 0.\",\n    \"detail\": \"You need to enter an additional voluntary contribution amount which must be a numerical value greater than 0 in the format eg: '54.21'\"\n  },\n  {\n    \"code\": 328,\n    \"title\": \"Pensionable earnings is a required field.\",\n    \"detail\": \"You need to enter pensionable earnings.\"\n  },\n  {\n    \"code\": 328,\n    \"title\": \"Pensionable earnings is a required field.\",\n    \"detail\": \"You need to enter pensionable earnings.\"\n  },\n  {\n    \"code\": 329,\n    \"title\": \"Pensionable earnings must be numerical.\",\n    \"detail\": \"You need to enter pensionable earnings which must be a numerical value greater than 0 in the format eg: '2154.21'\"\n  },\n  {\n    \"code\": 329,\n    \"title\": \"Pensionable earnings must be numerical.\",\n    \"detail\": \"You need to enter pensionable earnings which must be a numerical value greater than 0 in the format eg: '2154.21'\"\n  },\n  {\n    \"code\": 330,\n    \"title\": \"Pensionable earnings must be greater than or equal to 0.\",\n    \"detail\": \"You need to enter your pensionable earnings which must be a numerical value greater than 0 in the format eg: '2154.21'\"\n  },\n  {\n    \"code\": 330,\n    \"title\": \"Pensionable earnings must be greater than or equal to 0.\",\n    \"detail\": \"You need to enter your pensionable earnings which must be a numerical value greater than 0 in the format eg: '2154.21'\"\n  },\n  {\n    \"code\": 331,\n    \"title\": \"Employer amount is not valid.\",\n    \"detail\": \"The employer amount must be equal to 0 as the employee is not an active member of the scheme.\"\n  },\n  {\n    \"code\": 331,\n    \"title\": \"Employer amount is not valid.\",\n    \"detail\": \"The employer amount must be equal to 0 as the employee is not an active member of the scheme.\"\n  },\n  {\n    \"code\": 332,\n    \"title\": \"Employee amount is not valid.\",\n    \"detail\": \"The employee amount must be equal to 0 as the employee is not an active member of the scheme.\"\n  },\n  {\n    \"code\": 332,\n    \"title\": \"Employee amount is not valid.\",\n    \"detail\": \"The employee amount must be equal to 0 as the employee is not an active member of the scheme.\"\n  },\n  {\n    \"code\": 333,\n    \"title\": \"Your pay period should include re-enrolment date.\",\n    \"detail\": \"You pay period start and end dates should include the %{value}.\"\n  },\n  {\n    \"code\": 333,\n    \"title\": \"Your pay period should include re-enrolment date.\",\n    \"detail\": \"You pay period start and end dates should include the %{value}.\"\n  },\n  {\n    \"code\": 334,\n    \"title\": \"Re-enrolment date is missing.\",\n    \"detail\": \"Please set your company re-enrolment date (or ask your admin to). Without this you do not have the option to re-assess.\"\n  },\n  {\n    \"code\": 335,\n    \"title\": \"Employee cannot be re-assessed until your re-enrolment date has passed\",\n    \"detail\": \"You cannot re-assess until after your re-enrolment date of %{event_on}, please wait until after this date.\"\n  },\n  {\n    \"code\": 401,\n    \"title\": \"The picture is required.\",\n    \"detail\": \"You need to upload a picture for your company logo.\"\n  },\n  {\n    \"code\": 401,\n    \"title\": \"The picture is required.\",\n    \"detail\": \"You need to upload a picture for your company logo.\"\n  },\n  {\n    \"code\": 402,\n    \"title\": \"The picture is invalid.\",\n    \"detail\": \"Valid formats for pictures are: JPEG, PNG and GIF\"\n  },\n  {\n    \"code\": 402,\n    \"title\": \"The picture is invalid.\",\n    \"detail\": \"Valid formats for pictures are: JPEG, PNG and GIF\"\n  },\n  {\n    \"code\": 403,\n    \"title\": \"The picture file size is greater than allowed.\",\n    \"detail\": \"The picture file size must be less than 2 Mb.\"\n  },\n  {\n    \"code\": 403,\n    \"title\": \"The picture file size is greater than allowed.\",\n    \"detail\": \"The picture file size must be less than 2 Mb.\"\n  },\n  {\n    \"code\": 404,\n    \"title\": \"The picture file size is less than allowed.\",\n    \"detail\": \"The picture file size must be greater than 1 byte.\"\n  },\n  {\n    \"code\": 404,\n    \"title\": \"The picture file size is less than allowed.\",\n    \"detail\": \"The picture file size must be greater than 1 byte.\"\n  },\n  {\n    \"code\": 501,\n    \"title\": \"Email address is a required field.\",\n    \"detail\": \"You need to include the email address.\"\n  },\n  {\n    \"code\": 501,\n    \"title\": \"Email address is a required field.\",\n    \"detail\": \"You need to include the email address.\"\n  },\n  {\n    \"code\": 502,\n    \"title\": \"Email address is not valid.\",\n    \"detail\": \"The email address you entered is not valid. This may be because of the address format or the domain being unreachable. Make sure the address uses this format: name@something.com and that email is enabled for this domain.\"\n  },\n  {\n    \"code\": 502,\n    \"title\": \"Email address is not valid.\",\n    \"detail\": \"The email address you entered is not valid. This may be because of the address format or the domain being unreachable. Make sure the address uses this format: name@something.com and that email is enabled for this domain.\"\n  },\n  {\n    \"code\": 503,\n    \"title\": \"Slug is a required field.\",\n    \"detail\": \"You need to include the slug.\"\n  },\n  {\n    \"code\": 601,\n    \"title\": \"DEPRECATED - Approved is a required field.\",\n    \"detail\": \"DEPRECATED - You need to decide if you will approve the opt in request.\"\n  },\n  {\n    \"code\": 701,\n    \"title\": \"At least one signatory is required.\",\n    \"detail\": \"You need to provide at least one signatory. They will have admin permissions for the account and will sign the participation agreement.\"\n  },\n  {\n    \"code\": 701,\n    \"title\": \"At least one signatory is required.\",\n    \"detail\": \"You need to provide at least one signatory. They will have admin permissions for the account and will sign the participation agreement.\"\n  },\n  {\n    \"code\": 702,\n    \"title\": \"You can't have more than two signatories.\",\n    \"detail\": \"A maximum of two signatories is allowed.\"\n  },\n  {\n    \"code\": 702,\n    \"title\": \"You can't have more than two signatories.\",\n    \"detail\": \"A maximum of two signatories is allowed.\"\n  },\n  {\n    \"code\": 703,\n    \"title\": \"Company registration number is a required field.\",\n    \"detail\": \"You need to enter the company registration number. If the business is not registered with Companies House please use another unique number to identify this business. For example, HMRC registration number, business telephone number or charity number.\"\n  },\n  {\n    \"code\": 703,\n    \"title\": \"Company registration number is a required field.\",\n    \"detail\": \"You need to enter the company registration number. If the business is not registered with Companies House please use another unique number to identify this business. For example, HMRC registration number, business telephone number or charity number.\"\n  },\n  {\n    \"code\": 704,\n    \"title\": \"Legal structure is a required field.\",\n    \"detail\": \"You need to enter the legal structure of the company.\"\n  },\n  {\n    \"code\": 704,\n    \"title\": \"Legal structure is a required field.\",\n    \"detail\": \"You need to enter the legal structure of the company.\"\n  },\n  {\n    \"code\": 705,\n    \"title\": \"Legal structure is not valid.\",\n    \"detail\": \"Please select from this list of valid legal structures: Limited Company, Limited Partnership, Limited Liability Partnership, Unincorporated Association, Ordinary Business Partnership, Sole Trader, Charity, Other\"\n  },\n  {\n    \"code\": 705,\n    \"title\": \"Legal structure is not valid.\",\n    \"detail\": \"Please select from this list of valid legal structures: Limited Company, Limited Partnership, Limited Liability Partnership, Unincorporated Association, Ordinary Business Partnership, Sole Trader, Charity, Other\"\n  },\n  {\n    \"code\": 706,\n    \"title\": \"Company name is required field.\",\n    \"detail\": \"You need to enter the name of the company.\"\n  },\n  {\n    \"code\": 706,\n    \"title\": \"Company name is required field.\",\n    \"detail\": \"You need to enter the name of the company.\"\n  },\n  {\n    \"code\": 707,\n    \"title\": \"This company name is already in use.\",\n    \"detail\": \"This company name is currently in use, please use a different one.\"\n  },\n  {\n    \"code\": 707,\n    \"title\": \"This company name is already in use.\",\n    \"detail\": \"This company name is currently in use, please use a different one.\"\n  },\n  {\n    \"code\": 708,\n    \"title\": \"Pension regulator letter code is the wrong length (must be 10 characters).\",\n    \"detail\": \"You need to enter the Pension regulator letter code which must be a numerical value and have a length of ten characters.\"\n  },\n  {\n    \"code\": 708,\n    \"title\": \"Pension regulator letter code is the wrong length (must be 10 characters).\",\n    \"detail\": \"You need to enter the Pension regulator letter code which must be a numerical value and have a length of ten characters.\"\n  },\n  {\n    \"code\": 709,\n    \"title\": \"Pension regulator letter code must be numerical.\",\n    \"detail\": \"You need to enter the Pension regulator letter code which must be a numerical value and have a length of ten characters.\"\n  },\n  {\n    \"code\": 709,\n    \"title\": \"Pension regulator letter code must be numerical.\",\n    \"detail\": \"You need to enter the Pension regulator letter code which must be a numerical value and have a length of ten characters.\"\n  },\n  {\n    \"code\": 710,\n    \"title\": \"Contact id is a required field.\",\n    \"detail\": \"You need to enter the id of the contact, it is the customer/adviser who will receive all the notifications.\"\n  },\n  {\n    \"code\": 710,\n    \"title\": \"Contact id is a required field.\",\n    \"detail\": \"You need to enter the id of the contact, it is the customer/adviser who will receive all the notifications.\"\n  },\n  {\n    \"code\": 711,\n    \"title\": \"Staging date is a required field if automatic postponement period is provided.\",\n    \"detail\": \"You need to enter your staging date.\"\n  },\n  {\n    \"code\": 711,\n    \"title\": \"Staging date is a required field if automatic postponement period is provided.\",\n    \"detail\": \"You need to enter your staging date.\"\n  },\n  {\n    \"code\": 712,\n    \"title\": \"Staging date is invalid.\",\n    \"detail\": \"You staging date must be a first of month.\"\n  },\n  {\n    \"code\": 712,\n    \"title\": \"Staging date is invalid.\",\n    \"detail\": \"You staging date must be a first of month.\"\n  },\n  {\n    \"code\": 713,\n    \"title\": \"Pensionable earning type is a required field.\",\n    \"detail\": \"You need to enter the pensionable earning type of the company.\"\n  },\n  {\n    \"code\": 713,\n    \"title\": \"Pensionable earning type is a required field.\",\n    \"detail\": \"You need to enter the pensionable earning type of the company.\"\n  },\n  {\n    \"code\": 714,\n    \"title\": \"Pensionable earning type is not valid.\",\n    \"detail\": \"Please select from this list of valid pensionable earning type: banded, unbanded, tier1, tier2, tier3\"\n  },\n  {\n    \"code\": 714,\n    \"title\": \"Pensionable earning type is not valid.\",\n    \"detail\": \"Please select from this list of valid pensionable earning type: banded, unbanded, tier1, tier2, tier3\"\n  },\n  {\n    \"code\": 715,\n    \"title\": \"Default percentage is required.\",\n    \"detail\": \"You need to enter the default contribution percentage for this company.\"\n  },\n  {\n    \"code\": 715,\n    \"title\": \"Default percentage is required.\",\n    \"detail\": \"You need to enter the default contribution percentage for this company.\"\n  },\n  {\n    \"code\": 716,\n    \"title\": \"Default percentage must be numerical.\",\n    \"detail\": \"You need to enter the default contribution percentage which must be a numerical value greater than 0 and less than 100.\"\n  },\n  {\n    \"code\": 716,\n    \"title\": \"Default percentage must be numerical.\",\n    \"detail\": \"You need to enter the default contribution percentage which must be a numerical value greater than 0 and less than 100.\"\n  },\n  {\n    \"code\": 717,\n    \"title\": \"Default percentage must be greater than or equal to 0.\",\n    \"detail\": \"You need to enter the default contribution percentage which must be a numerical value greater than 0 and less than 100.\"\n  },\n  {\n    \"code\": 717,\n    \"title\": \"Default percentage must be greater than or equal to 0.\",\n    \"detail\": \"You need to enter the default contribution percentage which must be a numerical value greater than 0 and less than 100.\"\n  },\n  {\n    \"code\": 718,\n    \"title\": \"Default percentage must be less than or equal to 100.\",\n    \"detail\": \"You need to enter the default contribution percentage contribution which must be a numerical value greater than 0 and less than 100.\"\n  },\n  {\n    \"code\": 718,\n    \"title\": \"Default percentage must be less than or equal to 100.\",\n    \"detail\": \"You need to enter the default contribution percentage contribution which must be a numerical value greater than 0 and less than 100.\"\n  },\n  {\n    \"code\": 719,\n    \"title\": \"Default percentage must be greater or equal than %{value}.\",\n    \"detail\": \"You need to enter the default contribution percentage which must be a numerical value greater than %{value} and less than 100.\"\n  },\n  {\n    \"code\": 719,\n    \"title\": \"Default percentage must be greater or equal than %{value}.\",\n    \"detail\": \"You need to enter the default contribution percentage which must be a numerical value greater than %{value} and less than 100.\"\n  },\n  {\n    \"code\": 720,\n    \"title\": \"Contact type is a required field.\",\n    \"detail\": \"You need to enter the type of the contact, it is the customer/adviser who will receive all the notifications.\"\n  },\n  {\n    \"code\": 720,\n    \"title\": \"Contact type is a required field.\",\n    \"detail\": \"You need to enter the type of the contact, it is the customer/adviser who will receive all the notifications.\"\n  },\n  {\n    \"code\": 721,\n    \"title\": \"Contact type can only be 'Customer' or 'Adviser'\",\n    \"detail\": \"You need to set the contact type to either 'Customer' or 'Adviser'.\"\n  },\n  {\n    \"code\": 721,\n    \"title\": \"Contact type can only be 'Customer' or 'Adviser'\",\n    \"detail\": \"You need to set the contact type to either 'Customer' or 'Adviser'.\"\n  },\n  {\n    \"code\": 722,\n    \"title\": \"Contact id is not valid\",\n    \"detail\": \"Contact must exist and have permission to manage your company\"\n  },\n  {\n    \"code\": 722,\n    \"title\": \"Account name is a required field.\",\n    \"detail\": \"You need to enter the account name for this company.\"\n  },\n  {\n    \"code\": 722,\n    \"title\": \"Account name is not valid.\",\n    \"detail\": \"The account name you entered is blacklisted.\"\n  },\n  {\n    \"code\": 722,\n    \"title\": \"Contact id is not valid\",\n    \"detail\": \"Contact must exist and have permission to manage your company\"\n  },\n  {\n    \"code\": 722,\n    \"title\": \"Account name is a required field.\",\n    \"detail\": \"You need to enter the account name for this company.\"\n  },\n  {\n    \"code\": 722,\n    \"title\": \"Account name is not valid.\",\n    \"detail\": \"The account name you entered is blacklisted.\"\n  },\n  {\n    \"code\": 723,\n    \"title\": \"This company account name is already in use.\",\n    \"detail\": \"This company account name is currently in use, please use a different one.\"\n  },\n  {\n    \"code\": 723,\n    \"title\": \"This company account name is already in use.\",\n    \"detail\": \"This company account name is currently in use, please use a different one.\"\n  },\n  {\n    \"code\": 724,\n    \"title\": \"The company name is not valid.\",\n    \"detail\": \"The company name you entered is blacklisted.\"\n  },\n  {\n    \"code\": 724,\n    \"title\": \"This company account name contains swear words.\",\n    \"detail\": \"This company account name contains swear words, please use a different one.\"\n  },\n  {\n    \"code\": 724,\n    \"title\": \"The company name is not valid.\",\n    \"detail\": \"The company name you entered is blacklisted.\"\n  },\n  {\n    \"code\": 724,\n    \"title\": \"This company account name contains swear words.\",\n    \"detail\": \"This company account name contains swear words, please use a different one.\"\n  },\n  {\n    \"code\": 725,\n    \"title\": \"Company account name is empty\",\n    \"detail\": \"Company account name is empty, please change your company name to more descriptive name.\"\n  },\n  {\n    \"code\": 725,\n    \"title\": \"This company account name is too long.\",\n    \"detail\": \"This company account name is too long, please change your account name to a shorter account name.\"\n  },\n  {\n    \"code\": 726,\n    \"title\": \"This company name contains swear words.\",\n    \"detail\": \"This company name contains swear words, please change your company name to a name without swear words.\"\n  },\n  {\n    \"code\": 726,\n    \"title\": \"This company account name is too short.\",\n    \"detail\": \"This company account name is too short, please change your account name to a longer account name.\"\n  },\n  {\n    \"code\": 727,\n    \"title\": \"This company name is too short.\",\n    \"detail\": \"This company name is too short, please change your company name to a longer name.\"\n  },\n  {\n    \"code\": 728,\n    \"title\": \"Pension regulator letter code must be numerical.\",\n    \"detail\": \"You need to enter the Pension regulator letter code which must be a numerical value and have a length of ten characters.\"\n  },\n  {\n    \"code\": 728,\n    \"title\": \"Pension regulator letter code must be numerical.\",\n    \"detail\": \"You need to enter the Pension regulator letter code which must be a numerical value and have a length of ten characters.\"\n  },\n  {\n    \"code\": 729,\n    \"title\": \"Automatic postponements can only be one of the following - '1 week', '2 weeks', '3 weeks', '4 weeks', '1 month', '2 months', '3 months'.\",\n    \"detail\": \"You need to set the automatic postponements to one of the following - '1 week', '2 weeks', '3 weeks', '4 weeks', '1 month', '2 months', '3 months'.\"\n  },\n  {\n    \"code\": 729,\n    \"title\": \"Automatic postponements can only be one of the following - '1 week', '2 weeks', '3 weeks', '4 weeks', '1 month', '2 months', '3 months'.\",\n    \"detail\": \"You need to set the automatic postponements to one of the following - '1 week', '2 weeks', '3 weeks', '4 weeks', '1 month', '2 months', '3 months'.\"\n  },\n  {\n    \"code\": 801,\n    \"title\": \"Enter your login.\",\n    \"detail\": \"It can be your email or your slug.\"\n  },\n  {\n    \"code\": 802,\n    \"title\": \"Enter your password.\",\n    \"detail\": \"You need to enter your password.\"\n  },\n  {\n    \"code\": 803,\n    \"title\": \"Enter your slug.\",\n    \"detail\": \"You need to enter your slug.\"\n  },\n  {\n    \"code\": 901,\n    \"title\": \"Staging date is missing.\",\n    \"detail\": \"Please set your company staging date (or ask your admin to). Without this you do not have the option to change your opt state.\"\n  },\n  {\n    \"code\": 901,\n    \"title\": \"Staging date is missing.\",\n    \"detail\": \"Please set your company staging date (or ask your admin to). Without this you do not have the option to change your opt state.\"\n  },\n  {\n    \"code\": 902,\n    \"title\": \"Staging date is in the future.\",\n    \"detail\": \"You cannot change your opt state until after your staging date of %{staging_on}, please wait until after this date.\"\n  },\n  {\n    \"code\": 902,\n    \"title\": \"Staging date is in the future.\",\n    \"detail\": \"You cannot change your opt state until after your staging date of %{staging_on}, please wait until after this date.\"\n  },\n  {\n    \"code\": 903,\n    \"title\": \"Opt in request is awaiting approval.\",\n    \"detail\": \"You have an opt in request awaiting approval.\"\n  },\n  {\n    \"code\": 903,\n    \"title\": \"Opt in request is awaiting approval.\",\n    \"detail\": \"You have an opt in request awaiting approval.\"\n  },\n  {\n    \"code\": 904,\n    \"title\": \"Date of birth is a required field.\",\n    \"detail\": \"You need to enter the date of birth.\"\n  },\n  {\n    \"code\": 904,\n    \"title\": \"Date of birth is a required field.\",\n    \"detail\": \"You need to enter the date of birth.\"\n  },\n  {\n    \"code\": 905,\n    \"title\": \"Date of birth is not valid.\",\n    \"detail\": \"The Date of birth must be a date prior to today.\"\n  },\n  {\n    \"code\": 905,\n    \"title\": \"Date of birth is not valid.\",\n    \"detail\": \"The Date of birth must be a date prior to today.\"\n  },\n  {\n    \"code\": 906,\n    \"title\": \"Email address is a required field.\",\n    \"detail\": \"You need to include the email address.\"\n  },\n  {\n    \"code\": 906,\n    \"title\": \"Email address is a required field.\",\n    \"detail\": \"You need to include the email address.\"\n  },\n  {\n    \"code\": 907,\n    \"title\": \"Email address is not valid.\",\n    \"detail\": \"The email address you entered is not valid. This may be because of the address format or the domain being unreachable. Make sure the address uses this format: name@something.com and that email is enabled for this domain.\"\n  },\n  {\n    \"code\": 907,\n    \"title\": \"Email address is not valid.\",\n    \"detail\": \"The email address you entered is not valid. This may be because of the address format or the domain being unreachable. Make sure the address uses this format: name@something.com and that email is enabled for this domain.\"\n  },\n  {\n    \"code\": 908,\n    \"title\": \"Email address must be unique.\",\n    \"detail\": \"This email address is currently in use, please use a different one.\"\n  },\n  {\n    \"code\": 908,\n    \"title\": \"Email address must be unique.\",\n    \"detail\": \"This email address is currently in use, please use a different one.\"\n  },\n  {\n    \"code\": 909,\n    \"title\": \"Email address is locked.\",\n    \"detail\": \"You need to first sign the participation agreement in order to change your email address.\"\n  },\n  {\n    \"code\": 909,\n    \"title\": \"DEPRECATED operation is now permited\",\n    \"detail\": \"DEPRECATED You need to first sign the participation agreement in order to change your email address.\"\n  },\n  {\n    \"code\": 910,\n    \"title\": \"Title is not valid.\",\n    \"detail\": \"Please select from this list of valid titles: Mr, Mrs, Ms, Miss, Dr.\"\n  },\n  {\n    \"code\": 910,\n    \"title\": \"Title is not valid.\",\n    \"detail\": \"Please select from this list of valid titles: Mr, Mrs, Ms, Miss, Dr.\"\n  },\n  {\n    \"code\": 911,\n    \"title\": \"Forename is a required field.\",\n    \"detail\": \"You need to include the forename.\"\n  },\n  {\n    \"code\": 911,\n    \"title\": \"Forename is a required field.\",\n    \"detail\": \"You need to include the forename.\"\n  },\n  {\n    \"code\": 912,\n    \"title\": \"Forename is invalid.\",\n    \"detail\": \"Numbers or special characters are not allowed.\"\n  },\n  {\n    \"code\": 912,\n    \"title\": \"Forename is invalid.\",\n    \"detail\": \"Numbers or special characters are not allowed.\"\n  },\n  {\n    \"code\": 913,\n    \"title\": \"Surname is a required field.\",\n    \"detail\": \"You need to include the surname.\"\n  },\n  {\n    \"code\": 913,\n    \"title\": \"Surname is a required field.\",\n    \"detail\": \"You need to include the surname.\"\n  },\n  {\n    \"code\": 914,\n    \"title\": \"Surname is invalid.\",\n    \"detail\": \"Numbers or special characters are not allowed.\"\n  },\n  {\n    \"code\": 914,\n    \"title\": \"Surname is invalid.\",\n    \"detail\": \"Numbers or special characters are not allowed.\"\n  },\n  {\n    \"code\": 915,\n    \"title\": \"Postcode is a required field.\",\n    \"detail\": \"You need to include the postcode.\"\n  },\n  {\n    \"code\": 915,\n    \"title\": \"Postcode is a required field.\",\n    \"detail\": \"You need to include the postcode.\"\n  },\n  {\n    \"code\": 916,\n    \"title\": \"Password is a required field.\",\n    \"detail\": \"You need to enter a password.\"\n  },\n  {\n    \"code\": 916,\n    \"title\": \"Password is a required field.\",\n    \"detail\": \"You need to enter a password.\"\n  },\n  {\n    \"code\": 917,\n    \"title\": \"Password is too short.\",\n    \"detail\": \"You need to enter a password of at least 8 characters.\"\n  },\n  {\n    \"code\": 917,\n    \"title\": \"Password is too short.\",\n    \"detail\": \"You need to enter a password of at least 8 characters.\"\n  },\n  {\n    \"code\": 918,\n    \"title\": \"Password is too long.\",\n    \"detail\": \"You need to enter a password with a maximum of 128 characters.\"\n  },\n  {\n    \"code\": 918,\n    \"title\": \"Password is too long.\",\n    \"detail\": \"You need to enter a password with a maximum of 128 characters.\"\n  },\n  {\n    \"code\": 919,\n    \"title\": \"Password confirmation is a required field.\",\n    \"detail\": \"You need to confirm your password.\"\n  },\n  {\n    \"code\": 919,\n    \"title\": \"Password confirmation is a required field.\",\n    \"detail\": \"You need to confirm your password.\"\n  },\n  {\n    \"code\": 920,\n    \"title\": \"Confirm your password.\",\n    \"detail\": \"The password and password confirmation must match.\"\n  },\n  {\n    \"code\": 920,\n    \"title\": \"Confirm your password.\",\n    \"detail\": \"The password and password confirmation must match.\"\n  },\n  {\n    \"code\": 1001,\n    \"title\": \"Token is a required field.\",\n    \"detail\": \"You need to enter your two-factor authentication code.\"\n  },\n  {\n    \"code\": 1101,\n    \"title\": \"Group name is required.\",\n    \"detail\": \"You need to enter a name for the group so you can identify the different groups of employees within your company.\"\n  },\n  {\n    \"code\": 1101,\n    \"title\": \"Group name is required.\",\n    \"detail\": \"You need to enter a name for the group so you can identify the different groups of employees within your company.\"\n  },\n  {\n    \"code\": 1101,\n    \"title\": \"Group name is required.\",\n    \"detail\": \"You need to enter a name for the group so you can identify the different groups of employees within your company.\"\n  },\n  {\n    \"code\": 1102,\n    \"title\": \"Group name must be unique.\",\n    \"detail\": \"You already have group with this name.\"\n  },\n  {\n    \"code\": 1102,\n    \"title\": \"Group name must be unique.\",\n    \"detail\": \"You already have group with this name.\"\n  },\n  {\n    \"code\": 1102,\n    \"title\": \"Group name must be unique.\",\n    \"detail\": \"You already have group with this name.\"\n  },\n  {\n    \"code\": 1103,\n    \"title\": \"DEPRECATED\",\n    \"detail\": \"DEPRECATED\"\n  },\n  {\n    \"code\": 1103,\n    \"title\": \"DEPRECATED\",\n    \"detail\": \"DEPRECATED\"\n  },\n  {\n    \"code\": 1103,\n    \"title\": \"DEPRECATED\",\n    \"detail\": \"DEPRECATED\"\n  },\n  {\n    \"code\": 1104,\n    \"title\": \"DEPRECATED\",\n    \"detail\": \"DEPRECATED\"\n  },\n  {\n    \"code\": 1104,\n    \"title\": \"DEPRECATED\",\n    \"detail\": \"DEPRECATED\"\n  },\n  {\n    \"code\": 1104,\n    \"title\": \"DEPRECATED\",\n    \"detail\": \"DEPRECATED\"\n  },\n  {\n    \"code\": 1105,\n    \"title\": \"DEPRECATED\",\n    \"detail\": \"DEPRECATED\"\n  },\n  {\n    \"code\": 1105,\n    \"title\": \"DEPRECATED\",\n    \"detail\": \"DEPRECATED\"\n  },\n  {\n    \"code\": 1105,\n    \"title\": \"DEPRECATED\",\n    \"detail\": \"DEPRECATED\"\n  },\n  {\n    \"code\": 1106,\n    \"title\": \"DEPRECATED\",\n    \"detail\": \"DEPRECATED\"\n  },\n  {\n    \"code\": 1106,\n    \"title\": \"DEPRECATED\",\n    \"detail\": \"DEPRECATED\"\n  },\n  {\n    \"code\": 1106,\n    \"title\": \"DEPRECATED\",\n    \"detail\": \"DEPRECATED\"\n  },\n  {\n    \"code\": 1107,\n    \"title\": \"DEPRECATED\",\n    \"detail\": \"DEPRECATED\"\n  },\n  {\n    \"code\": 1107,\n    \"title\": \"DEPRECATED\",\n    \"detail\": \"DEPRECATED\"\n  },\n  {\n    \"code\": 1107,\n    \"title\": \"DEPRECATED\",\n    \"detail\": \"DEPRECATED\"\n  },\n  {\n    \"code\": 1201,\n    \"title\": \"Password is a required field.\",\n    \"detail\": \"You need to enter a password.\"\n  },\n  {\n    \"code\": 1202,\n    \"title\": \"Password is too short.\",\n    \"detail\": \"You need to enter a password of at least 8 characters.\"\n  },\n  {\n    \"code\": 1203,\n    \"title\": \"Password is too long.\",\n    \"detail\": \"You need to enter a password with a maximum of 128 characters.\"\n  },\n  {\n    \"code\": 1204,\n    \"title\": \"Password confirmation is a required field.\",\n    \"detail\": \"You need to confirm your password.\"\n  },\n  {\n    \"code\": 1205,\n    \"title\": \"Confirm your password.\",\n    \"detail\": \"The password and password confirmation must match.\"\n  },\n  {\n    \"code\": 1206,\n    \"title\": \"Token is a required field.\",\n    \"detail\": \"In order to reset your password, you need to first request a token.\"\n  },\n  {\n    \"code\": 1301,\n    \"title\": \"The file is required.\",\n    \"detail\": \"You need to choose a file to import.\"\n  },\n  {\n    \"code\": 1301,\n    \"title\": \"The file is required.\",\n    \"detail\": \"You need to choose a file to import.\"\n  },\n  {\n    \"code\": 1302,\n    \"title\": \"The file size is greater than allowed.\",\n    \"detail\": \"The file must be less than 2MB.\"\n  },\n  {\n    \"code\": 1302,\n    \"title\": \"The file size is greater than allowed.\",\n    \"detail\": \"The file must be less than 2MB.\"\n  },\n  {\n    \"code\": 1303,\n    \"title\": \"The file size is less than allowed.\",\n    \"detail\": \"The file size must be greater than 1 byte.\"\n  },\n  {\n    \"code\": 1303,\n    \"title\": \"The file size is less than allowed.\",\n    \"detail\": \"The file size must be greater than 1 byte.\"\n  },\n  {\n    \"code\": 1304,\n    \"title\": \"The type is required.\",\n    \"detail\": \"You need to set a type of file to import.\"\n  },\n  {\n    \"code\": 1304,\n    \"title\": \"The type is required.\",\n    \"detail\": \"You need to set a type of file to import.\"\n  },\n  {\n    \"code\": 1305,\n    \"title\": \"Type is not valid.\",\n    \"detail\": \"Please select from this list of valid types: PapdisImport, EmployeesImport, ContributionsImport\"\n  },\n  {\n    \"code\": 1305,\n    \"title\": \"Type is not valid.\",\n    \"detail\": \"Please select from this list of valid types: PapdisImport, EmployeesImport, ContributionsImport\"\n  },\n  {\n    \"code\": 1306,\n    \"title\": \"Metadata keys are invalid\",\n    \"detail\": \"The metadata keys should be of the following format: metadata.RESOURCE_NAME.RESOURCE_ATTRIBUTE\"\n  },\n  {\n    \"code\": 1306,\n    \"title\": \"Metadata keys are invalid\",\n    \"detail\": \"The metadata keys should be of the following format: metadata.RESOURCE_NAME.RESOURCE_ATTRIBUTE\"\n  },\n  {\n    \"code\": 1401,\n    \"title\": \"The deferral date is a required field.\",\n    \"detail\": \"You need to select a deferral date for the postponement. This can be any date up to 3 months and a day later than either your staging date or the employees start of employment, which ever is the latest.\"\n  },\n  {\n    \"code\": 1401,\n    \"title\": \"The deferral date is a required field.\",\n    \"detail\": \"You need to select a deferral date for the postponement. This can be any date up to 3 months and a day later than either your staging date or the employees start of employment, which ever is the latest.\"\n  },\n  {\n    \"code\": 1402,\n    \"title\": \"Postponement period is invalid.\",\n    \"detail\": \"The length of the postponement period must be at least one day.\"\n  },\n  {\n    \"code\": 1402,\n    \"title\": \"Postponement period is invalid.\",\n    \"detail\": \"The length of the postponement period must be at least one day.\"\n  },\n  {\n    \"code\": 1403,\n    \"title\": \"Postponement period is invalid.\",\n    \"detail\": \"The length of the postponement period must not exceed 3 months.\"\n  },\n  {\n    \"code\": 1403,\n    \"title\": \"Postponement period is invalid.\",\n    \"detail\": \"The length of the postponement period must not exceed 3 months.\"\n  },\n  {\n    \"code\": 1404,\n    \"title\": \"Postponement period is over.\",\n    \"detail\": \"You can't postpone this employee as you have passed the 42 day limit since your staging date or employment start date of the employee.\"\n  },\n  {\n    \"code\": 1404,\n    \"title\": \"Postponement period is over.\",\n    \"detail\": \"You can't postpone this employee as you have passed the 42 day limit since your staging date or employment start date of the employee.\"\n  },\n  {\n    \"code\": 1405,\n    \"title\": \"Employee has opted in.\",\n    \"detail\": \"You can't postpone this employee as they have already chosen to opt in.\"\n  },\n  {\n    \"code\": 1405,\n    \"title\": \"Employee has opted in.\",\n    \"detail\": \"You can't postpone this employee as they have already chosen to opt in.\"\n  },\n  {\n    \"code\": 1406,\n    \"title\": \"Employee has already been assessed.\",\n    \"detail\": \"You can't postpone this employee as they have already been assessed.\"\n  },\n  {\n    \"code\": 1406,\n    \"title\": \"Employee has already been assessed.\",\n    \"detail\": \"You can't postpone this employee as they have already been assessed.\"\n  },\n  {\n    \"code\": 1407,\n    \"title\": \"Staging date is missing.\",\n    \"detail\": \"Please set your company staging date. Without this you do not have the option to postpone.\"\n  },\n  {\n    \"code\": 1407,\n    \"title\": \"Staging date is missing.\",\n    \"detail\": \"Please set your company staging date. Without this you do not have the option to postpone.\"\n  },\n  {\n    \"code\": 1408,\n    \"title\": \"Postponement can't be created (not assessed).\",\n    \"detail\": \"The employee has already been postponed. If you are trying to create another postponement period, you need to assess them first.\"\n  },\n  {\n    \"code\": 1408,\n    \"title\": \"Postponement can't be created (not assessed).\",\n    \"detail\": \"The employee has already been postponed. If you are trying to create another postponement period, you need to assess them first.\"\n  },\n  {\n    \"code\": 1409,\n    \"title\": \"Postponement can't be created (overlaps).\",\n    \"detail\": \"The employee has already been
[...]
