{
  "swagger": "2.0",
  "info": {
    "version": "Current",
    "title": "Smart Pension API",
    "description": "This is the endpoint description of Smart Pension API."
  },
  "host": "api.sandbox.autoenrolment.co.uk",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "paths": {
    "/advisers/{adviser_id}/messages/{message_id}/attachments": {
      "get": {
        "summary": "Advisers/Messages/Attachments/List",
        "tags": [
          "Attachments"
        ],
        "description": "",
        "parameters": [
          {
            "name": "adviser_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string"
          },
          {
            "name": "direction",
            "in": "query",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "200": {
            "description": "OK",
            "examples": {
              "application/json": "{\n  \"limit\": 1,\n  \"offset\": 0,\n  \"total\": 2,\n  \"links\": [\n    {\n      \"rel\": \"self\",\n      \"title\": \"self\",\n      \"href\": \"http://api.example.com/advisers/5/messages/3/attachments?limit=1\"\n    },\n    {\n      \"rel\": \"next\",\n      \"title\": \"next\",\n      \"href\": \"http://api.example.com/advisers/5/messages/3/attachments?limit=1&offset=1\"\n    },\n    {\n      \"rel\": \"first\",\n      \"title\": \"first\",\n      \"href\": \"http://api.example.com/advisers/5/messages/3/attachments?limit=1&offset=0\"\n    },\n    {\n      \"rel\": \"last\",\n      \"title\": \"last\",\n      \"href\": \"http://api.example.com/advisers/5/messages/3/attachments?limit=1&offset=1\"\n    }\n  ],\n  \"attachments\": [\n    {\n      \"id\": 3746,\n      \"file_url\": \"/home/anthony/code/api/public/system/attachments/files/000/003/746/original/forename-surname-fea2b08b-897a-4b79-9540-25bdf85ae206.pdf\",\n      \"file_file_name\": \"forename-surname-fea2b08b-897a-4b79-9540-25bdf85ae206.pdf\"\n    }\n  ]\n}"
            }
          },
          "422": {
            "description": "Unprocessable",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 1504,\n      \"title\": \"Offset must be greater than or equal to 0.\",\n      \"detail\": \"You need to enter an offset which must be a numerical value greater or equal than 0.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/offset\"\n      }\n    }\n  ]\n}"
            }
          }
        }
      }
    },
    "/companies/{company_id}/customers/{id}": {
      "get": {
        "summary": "Companies/Customers/Get",
        "tags": [
          "Customers"
        ],
        "description": "",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "include",
            "in": "query",
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "200": {
            "description": "OK",
            "examples": {
              "application/json": "{\n  \"id\": 20,\n  \"email\": \"signatory@example.com\",\n  \"reset_password_token\": null,\n  \"reset_password_sent_at\": null,\n  \"remember_created_at\": null,\n  \"last_sign_in_at\": null,\n  \"slug\": \"fsurname\",\n  \"created_at\": \"2017-05-15T10:13:52.000+01:00\",\n  \"updated_at\": \"2017-05-15T10:13:53.000+01:00\",\n  \"gauth_secret\": \"ay4ytbvqmd67yfqqls3ia4ve2f3rkb7suoxuhetavbj2z2it24gacqreepe6hjvc\",\n  \"gauth_enabled\": false,\n  \"gauth_tmp\": null,\n  \"forename\": \"forename\",\n  \"surname\": \"surname\",\n  \"title\": null,\n  \"authentication_token\": \"wfF3HxKQD2rpjXHx_UeH\",\n  \"duedil_id\": null,\n  \"date_of_birth\": null,\n  \"duedil_address\": null,\n  \"line2\": null,\n  \"city\": null,\n  \"county\": null,\n  \"building_name\": null,\n  \"postcode\": null,\n  \"line1\": null,\n  \"building_number\": null,\n  \"telephone\": null,\n  \"referee_id\": null,\n  \"referee_type\": null,\n  \"referral_state\": \"ignition\",\n  \"referral_clicks\": 0,\n  \"referral_reward_name\": null,\n  \"authentication_token_generated_at\": \"2017-05-15T10:13:52.000+01:00\",\n  \"male\": true,\n  \"role\": \"signatory\",\n  \"middlename\": null,\n  \"envelope_state\": \"ignition\",\n  \"temporary_password\": null,\n  \"company_id\": 20,\n  \"api_key\": \"B4Y6mM9-PEoj4ZnebG17Jw\",\n  \"links\": [\n    {\n      \"rel\": \"company\",\n      \"title\": \"company\",\n      \"href\": \"https://api.host.com/companies/20\"\n    }\n  ]\n}"
            }
          }
        }
      },
      "patch": {
        "summary": "Companies/Customers/Update",
        "tags": [
          "Customers"
        ],
        "description": "",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "email",
            "in": "query",
            "required": true,
            "description": "Customer email",
            "type": "string"
          },
          {
            "name": "forename",
            "in": "query",
            "required": true,
            "description": "Customer forename",
            "type": "string"
          },
          {
            "name": "surname",
            "in": "query",
            "required": true,
            "description": "Customer surname",
            "type": "string"
          },
          {
            "name": "title",
            "in": "query",
            "required": true,
            "description": "Customer title",
            "type": "string"
          },
          {
            "name": "telephone",
            "in": "query",
            "required": true,
            "description": "Customer telephone number",
            "type": "string"
          },
          {
            "name": "male",
            "in": "query",
            "required": true,
            "description": "Customer male",
            "type": "string"
          },
          {
            "name": "line1",
            "in": "query",
            "required": true,
            "description": "Customer address line 1",
            "type": "string"
          },
          {
            "name": "line2",
            "in": "query",
            "required": true,
            "description": "Customer address line 2",
            "type": "string"
          },
          {
            "name": "city",
            "in": "query",
            "required": true,
            "description": "Customer address city",
            "type": "string"
          },
          {
            "name": "county",
            "in": "query",
            "required": true,
            "description": "Customer address county",
            "type": "string"
          },
          {
            "name": "postcode",
            "in": "query",
            "required": true,
            "description": "Customer address postcode",
            "type": "string"
          },
          {
            "name": "building_name",
            "in": "query",
            "required": true,
            "description": "Customer address building name",
            "type": "string"
          },
          {
            "name": "building_number",
            "in": "query",
            "required": true,
            "description": "Customer address building number",
            "type": "string"
          },
          {
            "name": "date_of_birth",
            "in": "query",
            "required": true,
            "description": "Customer date of birth",
            "type": "string"
          },
          {
            "name": "password",
            "in": "query",
            "required": true,
            "description": "Customer password",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "403": {
            "description": "Forbidden",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 34,\n      \"title\": \"Company without envelope.\",\n      \"detail\": \"The Participation Agreement cannot be generated because we are currently generating another one for the same company.\",\n      \"source\": {\n        \"pointer\": \"/base\"\n      }\n    }\n  ]\n}"
            }
          },
          "204": {
            "description": "Empty",
            "examples": {
              "application/json": "{}"
            }
          },
          "422": {
            "description": "Unprocessable",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 911,\n      \"title\": \"Forename is a required field.\",\n      \"detail\": \"You need to include the forename.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/forename\"\n      }\n    }\n  ]\n}"
            }
          }
        }
      },
      "delete": {
        "summary": "Companies/Customers/Destroy",
        "tags": [
          "Customers"
        ],
        "description": "",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "403": {
            "description": "Forbidden",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 6,\n      \"title\": \"Customer contact cannot be deleted.\",\n      \"detail\": \"The customer cannot be deleted as they are the designated point of contact for the company.\",\n      \"source\": {\n        \"pointer\": \"/base\"\n      }\n    }\n  ]\n}"
            }
          },
          "204": {
            "description": "Empty",
            "examples": {
              "application/json": "{}"
            }
          }
        }
      }
    },
    "/users/session": {
      "get": {
        "summary": "Users/Session",
        "tags": [
          "Users"
        ],
        "description": "",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "HTTP Token: Access denied.\n"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "200": {
            "description": "OK",
            "examples": {
              "application/json": "{\n  \"id\": 6,\n  \"email\": \"email@example.com\",\n  \"title\": null,\n  \"forename\": \"forename\",\n  \"surname\": \"surname\",\n  \"api_key\": \"SqO04O9nKKLBVqzk0hzrug\",\n  \"telephone\": \"0123456789\",\n  \"adviser_id\": 9,\n  \"created_at\": \"2017-05-15T10:13:53.000+01:00\",\n  \"updated_at\": \"2017-05-15T10:13:53.000+01:00\",\n  \"links\": [\n    {\n      \"rel\": \"adviser\",\n      \"title\": \"adviser\",\n      \"href\": \"https://api.host.com/advisers/9\"\n    }\n  ],\n  \"adviser\": {\n    \"id\": 9,\n    \"name\": \"super\",\n    \"type\": \"Adviser\",\n    \"address\": \"address\",\n    \"created_at\": \"2017-05-15T10:13:53.000+01:00\",\n    \"updated_at\": \"2017-05-15T10:13:53.000+01:00\",\n    \"signup_start\": null,\n    \"signup_finish\": null\n  }\n}"
            }
          }
        }
      }
    },
    "/advisers/{adviser_id}/messages": {
      "get": {
        "summary": "Advisers/Messages/List",
        "tags": [
          "Messages"
        ],
        "description": "",
        "parameters": [
          {
            "name": "adviser_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string"
          },
          {
            "name": "direction",
            "in": "query",
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "type": "string"
          },
          {
            "name": "include",
            "in": "query",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "200": {
            "description": "OK",
            "examples": {
              "application/json": "{\n  \"limit\": 1,\n  \"offset\": 0,\n  \"total\": 2,\n  \"links\": [\n    {\n      \"rel\": \"self\",\n      \"title\": \"self\",\n      \"href\": \"http://api.example.com/advisers/10/messages?limit=1\"\n    },\n    {\n      \"rel\": \"next\",\n      \"title\": \"next\",\n      \"href\": \"http://api.example.com/advisers/10/messages?limit=1&offset=1\"\n    },\n    {\n      \"rel\": \"first\",\n      \"title\": \"first\",\n      \"href\": \"http://api.example.com/advisers/10/messages?limit=1&offset=0\"\n    },\n    {\n      \"rel\": \"last\",\n      \"title\": \"last\",\n      \"href\": \"http://api.example.com/advisers/10/messages?limit=1&offset=1\"\n    }\n  ],\n  \"messages\": [\n    {\n      \"id\": 11,\n      \"subject\": \"name: The workforce pension scheme has been updated\",\n      \"body\": \"Dear super <br /><br />The workforce pension scheme for name has been updated and as the administrator for your company's pension scheme you are legally obliged to distribute all forms of correspondence to the employees of name. <br /><br />We have created the necessary documents, all you need to do is print them out and give them to your staff. <br /><br />Changes were made on: 15 May, 2017 10:13. Welcome letter has been created. <br /><br />If you have any questions please visit our frequently ask questions section of the website: http://support.autoenrolment.co.uk <br /><br />Kind regards. <br /><br />The Smart Pension Team. \",\n      \"name\": \"contact_update\",\n      \"recipient_id\": 10,\n      \"recipient_type\": \"Adviser\",\n      \"read\": false,\n      \"created_at\": \"2017-05-15T10:13:54.000+01:00\",\n      \"updated_at\": \"2017-05-15T10:13:54.000+01:00\",\n      \"message_attachments_count\": 1,\n      \"links\": [\n\n      ]\n    }\n  ]\n}"
            }
          },
          "422": {
            "description": "Unprocessable",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 1504,\n      \"title\": \"Offset must be greater than or equal to 0.\",\n      \"detail\": \"You need to enter an offset which must be a numerical value greater or equal than 0.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/offset\"\n      }\n    }\n  ]\n}"
            }
          }
        }
      }
    },
    "/companies/{company_id}/contributions/charge": {
      "get": {
        "summary": "Companies/Contributions/Charge",
        "tags": [
          "Contributions"
        ],
        "description": "",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "200": {
            "description": "OK",
            "examples": {
              "application/json": "{\n  \"provider_name\": \"genlife\",\n  \"plan_name\": \"g_plan_1\",\n  \"balance_charge\": \"0.3\",\n  \"employee_charge\": \"1.5\",\n  \"company_charge\": \"0.0\",\n  \"fund_name\": \"The AutoEnrolment.co.uk Master Trust Lifestyle Default\"\n}"
            }
          }
        }
      }
    },
    "/employees/verify_credentials": {
      "get": {
        "summary": "Employees/VerifyCredentials",
        "tags": [
          "Employees"
        ],
        "description": "",
        "parameters": [
          {
            "name": "slug",
            "in": "query",
            "type": "string"
          },
          {
            "name": "login",
            "in": "query",
            "type": "string"
          },
          {
            "name": "password",
            "in": "query",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "200": {
            "description": "OK",
            "examples": {
              "application/json": "{\n  \"id\": 18,\n  \"api_key\": \"ovzoXo1TvwD_USH_14vLeA\"\n}"
            }
          }
        }
      }
    },
    "/companies/{company_id}/letters/postponement": {
      "post": {
        "summary": "Companies/Letters/Postponement",
        "tags": [
          "Letters"
        ],
        "description": "",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "description": "Sending letter type",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "403": {
            "description": "Forbidden",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 12,\n      \"title\": \"Staging date is missing.\",\n      \"detail\": \"Please set your company staging date. Without the staging date you can not perform this action.\",\n      \"source\": {\n        \"pointer\": \"/base\"\n      }\n    }\n  ]\n}"
            }
          },
          "204": {
            "description": "Empty",
            "examples": {
              "application/json": "{}"
            }
          },
          "422": {
            "description": "Unprocessable",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 2101,\n      \"title\": \"Type is a required field.\",\n      \"detail\": \"You need to include the type.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/type\"\n      }\n    },\n    {\n      \"code\": 2101,\n      \"title\": \"Type is a required field.\",\n      \"detail\": \"You need to include the type.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/type\"\n      }\n    }\n  ]\n}"
            }
          }
        }
      }
    },
    "/customers/password": {
      "post": {
        "summary": "Customers/Password/Create",
        "tags": [
          "Password"
        ],
        "description": "",
        "parameters": [
          {
            "name": "reset_password_token",
            "in": "query",
            "required": true,
            "description": "Password recovery token",
            "type": "string"
          },
          {
            "name": "password",
            "in": "query",
            "required": true,
            "description": "Customer new password",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "201": {
            "description": "Created",
            "examples": {
              "application/json": "{\n  \"id\": 52,\n  \"api_key\": \"api_key\"\n}"
            }
          },
          "422": {
            "description": "Unprocessable",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 1201,\n      \"title\": \"Password is a required field.\",\n      \"detail\": \"You need to enter a password.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/password\"\n      }\n    },\n    {\n      \"code\": 1201,\n      \"title\": \"Password is a required field.\",\n      \"detail\": \"You need to enter a password.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/password\"\n      }\n    }\n  ]\n}"
            }
          }
        }
      }
    },
    "/employees/verify_two_fas": {
      "get": {
        "summary": "Employees/VerifyTwoFas",
        "tags": [
          "Employees"
        ],
        "description": "",
        "parameters": [
          {
            "name": "tmp_token",
            "in": "query",
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "200": {
            "description": "OK",
            "examples": {
              "application/json": "{\n  \"id\": 31,\n  \"api_key\": \"api_key\"\n}"
            }
          }
        }
      }
    },
    "/employees/referrals": {
      "post": {
        "summary": "Employees/Referrals/Create",
        "tags": [
          "Referrals"
        ],
        "description": "",
        "parameters": [
          {
            "name": "referee_token",
            "in": "query",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "201": {
            "description": "Created",
            "examples": {
              "application/json": "{\n  \"id\": 32,\n  \"type\": \"employee\"\n}"
            }
          }
        }
      }
    },
    "/companies/{company_id}/billing_detail": {
      "post": {
        "summary": "Companies/BillingDetail/Create",
        "tags": [
          "BillingDetail"
        ],
        "description": "",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "success_url",
            "in": "query",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "422": {
            "description": "Unprocessable",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 2701,\n      \"title\": \"Success URL is not a valid URL\",\n      \"detail\": \"Success URL must be a valid https URL\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/success_url\"\n      }\n    }\n  ]\n}"
            }
          },
          "201": {
            "description": "Created",
            "examples": {
              "application/json": "{\n  \"redirect_url\": \"http://gocardless.com/RF1\"\n}"
            }
          }
        }
      },
      "get": {
        "summary": "Companies/BillingDetail/Get",
        "tags": [
          "BillingDetail"
        ],
        "description": "",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "200": {
            "description": "OK",
            "examples": {
              "application/json": "{\n  \"state\": \"ignition\",\n  \"created_at\": \"2017-05-15T10:14:42.000+01:00\"\n}"
            }
          }
        }
      },
      "patch": {
        "summary": "Companies/BillingDetail/Update",
        "tags": [
          "BillingDetail"
        ],
        "description": "",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "204": {
            "description": "Empty",
            "examples": {
              "application/json": "{}"
            }
          }
        }
      }
    },
    "/company_lookups/{id}": {
      "get": {
        "summary": "CompanyLookups/Get",
        "tags": [
          "CompanyLookups"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "200": {
            "description": "OK",
            "examples": {
              "application/json": "{\n  \"id\": \"60ac2bd910408c6a9b28380cbebc76bb846f5198\",\n  \"last_update\": \"2013-01-22\",\n  \"name\": \"A&Z RJGFMNEQ KTF\",\n  \"status\": \"Dissolved\",\n  \"incorporation_date\": \"2007-11-18\",\n  \"latest_annual_return_date\": \"2011-12-01\",\n  \"latest_accounts_date\": \"2010-11-19\",\n  \"company_type\": \"Private limited with share capital\",\n  \"accounts_type\": \"Total Exemption Small\",\n  \"sic_code\": \"7487\",\n  \"sic_description\": \"Other business activities not elsewhere classified\",\n  \"reg_address4\": \"LONDON\",\n  \"credit_rating_latest_description\": \"Ljjgrkd jm raswwsdvs\",\n  \"shareholdings_url\": \"http://duedil.io/v3/sandbox/uk/companies/60ac2bd910408c6a9b28380cbebc76bb846f5198/shareholders\",\n  \"accounts_account_status\": \"0\",\n  \"accounts_accounts_format\": \"1\",\n  \"accounts_assets_current\": 2.3,\n  \"accounts_assets_intangible\": 2.3,\n  \"accounts_assets_net\": 85144.4,\n  \"accounts_assets_other_current\": 2.3,\n  \"accounts_assets_tangible\": 2.3,\n  \"accounts_url\": \"http://duedil.io/v3/sandbox/uk/companies/60ac2bd910408c6a9b28380cbebc76bb846f5198/accounts\",\n  \"accounts_assets_total_current\": 40641.3,\n  \"accounts_assets_total_fix\": 2.3,\n  \"accounts_audit_fees\": 2.3,\n  \"accounts_bank_overdraft\": 2.3,\n  \"accounts_bank_overdraft_lt_loans\": 82573.8,\n  \"accounts_capital_employed\": 81508.4,\n  \"accounts_cash\": 7442.6,\n  \"accounts_consolidated\": \"N\",\n  \"accounts_contingent_liability\": 2.3,\n  \"accounts_cost_of_sales\": 2.3,\n  \"accounts_currency\": \"BRI\",\n  \"accounts_date\": \"2010-11-19\",\n  \"accounts_depreciation\": 2.3,\n  \"accounts_directors_emoluments\": 2.3,\n  \"accounts_dividends_payable\": 2.3,\n  \"accounts_exports\": 2.3,\n  \"accounts_gross_profit\": 2.3,\n  \"accounts_increase_in_cash\": 2.3,\n  \"accounts_interest_payments\": 2.3,\n  \"accounts_liabilities_current\": 430.2,\n  \"accounts_liabilities_lt\": 82573.8,\n  \"accounts_liabilities_misc_current\": 2.3,\n  \"accounts_liabilities_total\": 67535.1,\n  \"accounts_lt_loans\": 2.3,\n  \"accounts_months\": 40,\n  \"accounts_net_cashflow_before_financing\": 2.3,\n  \"accounts_net_cashflow_from_financing\": 2.3,\n  \"accounts_net_worth\": 85144.4,\n  \"accounts_operating_profits\": 2.3,\n  \"accounts_operations_net_cashflow\": 2.3,\n  \"accounts_paid_up_equity\": 47283.9,\n  \"accounts_pandl_account_reserve\": -12571.3,\n  \"accounts_pre_tax_profit\": 2.3,\n  \"accounts_profit_after_tax\": 2.3,\n  \"accounts_qualification_code\": \"0\",\n  \"accounts_retained_profit\": 2.3,\n  \"accounts_revaluation_reserve\": 2.3,\n  \"accounts_shareholder_funds\": 85144.4,\n  \"accounts_short_term_loans\": 2.3,\n  \"accounts_stock\": 2.3,\n  \"accounts_sundry_reserves\": 2.3,\n  \"accounts_taxation\": 2.3,\n  \"accounts_trade_creditors\": 430.2,\n  \"accounts_trade_debtors\": 1280.8,\n  \"accounts_turnover\": 2.3,\n  \"accounts_wages\": 2.3,\n  \"accounts_working_capital\": 81508.4,\n  \"directors_url\": \"http://duedil.io/v3/sandbox/uk/companies/60ac2bd910408c6a9b28380cbebc76bb846f5198/directors\",\n  \"directorships_url\": \"http://duedil.io/v3/sandbox/uk/companies/60ac2bd910408c6a9b28380cbebc76bb846f5198/directorships\",\n  \"directorships_closed\": 2,\n  \"directorships_closed_secretary\": 1,\n  \"directorships_closed_director\": 1,\n  \"directorships_retired\": 3,\n  \"directorships_retired_director\": 3,\n  \"documents_url\": \"http://duedil.io/v3/sandbox/uk/companies/60ac2bd910408c6a9b28380cbebc76bb846f5198/documents\",\n  \"accounts_filing_date\": \"2011-12-12\",\n  \"reg_address_postcode\": \"W1S 3EA\",\n  \"reg_area_code\": \"W 1S\",\n  \"sic2007code\": \"82990\",\n  \"trading_address1\": \"Royalty House\",\n  \"trading_address2\": \"32 Sackville Street\",\n  \"trading_address3\": \"Mayfair\",\n  \"trading_address4\": \"London\",\n  \"trading_address_postcode\": \"W1S 3EA\",\n  \"directors\": [\n\n  ]\n}"
            }
          }
        }
      }
    },
    "/customers/two_fa": {
      "post": {
        "summary": "Customers/TwoFas/Create",
        "tags": [
          "TwoFas"
        ],
        "description": "",
        "parameters": [
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "201": {
            "description": "Created",
            "examples": {
              "application/json": "{\n  \"id\": 61,\n  \"email\": \"signatory@example.com\",\n  \"reset_password_token\": null,\n  \"reset_password_sent_at\": null,\n  \"remember_created_at\": null,\n  \"last_sign_in_at\": null,\n  \"slug\": \"fsurname\",\n  \"created_at\": \"2017-05-15T10:14:07.000+01:00\",\n  \"updated_at\": \"2017-05-15T10:14:07.000+01:00\",\n  \"gauth_secret\": \"qbxn7mx7b4l2nill6xia46py3tuxpvvdfuwdm2ygfh2hqdsni6r7tjnyu5fxqnyc\",\n  \"gauth_enabled\": false,\n  \"gauth_tmp\": null,\n  \"forename\": \"forename\",\n  \"surname\": \"surname\",\n  \"title\": null,\n  \"authentication_token\": \"DAhP7xjFhkfXMJ96ryPQ\",\n  \"duedil_id\": null,\n  \"date_of_birth\": null,\n  \"duedil_address\": null,\n  \"line2\": null,\n  \"city\": null,\n  \"county\": null,\n  \"building_name\": null,\n  \"postcode\": null,\n  \"line1\": null,\n  \"building_number\": null,\n  \"telephone\": null,\n  \"referee_id\": null,\n  \"referee_type\": null,\n  \"referral_state\": \"ignition\",\n  \"referral_clicks\": 0,\n  \"referral_reward_name\": null,\n  \"authentication_token_generated_at\": \"2017-05-15T10:14:07.000+01:00\",\n  \"male\": true,\n  \"role\": \"signatory\",\n  \"middlename\": null,\n  \"envelope_state\": \"ignition\",\n  \"temporary_password\": null,\n  \"company_id\": 53,\n  \"api_key\": \"u-NPBf9y7Jffu4A4wnKGnA\",\n  \"links\": [\n\n  ]\n}"
            }
          }
        }
      },
      "patch": {
        "summary": "Customers/TwoFas/Update",
        "tags": [
          "TwoFas"
        ],
        "description": "",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "type": "string"
          },
          {
            "name": "gauth_enabled",
            "in": "query",
            "required": true,
            "description": "Customer gauth enable",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "204": {
            "description": "Empty",
            "examples": {
              "application/json": "{}"
            }
          }
        }
      }
    },
    "/companies/{company_id}/enrolments/{id}": {
      "delete": {
        "summary": "Companies/Enrolments/Destroy",
        "tags": [
          "Enrolments"
        ],
        "description": "",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "403": {
            "description": "Forbidden",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 46,\n      \"title\": \"This action cannot be perform because there are contributions.\",\n      \"detail\": \"This action cannot be perform because there are contribution records for this re-enrolment period and this information must be retained.\",\n      \"source\": {\n        \"pointer\": \"/base\"\n      }\n    }\n  ]\n}"
            }
          },
          "204": {
            "description": "Empty",
            "examples": {
              "application/json": "{}"
            }
          }
        }
      },
      "patch": {
        "summary": "Companies/Enrolments/Update",
        "tags": [
          "Enrolments"
        ],
        "description": "",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "422": {
            "description": "Unprocessable",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 3202,\n      \"title\": \"Enrolment event date is out of range.\",\n      \"detail\": \"Please choose your enrolment date from within a six-month window, which starts on 01 May, 2017 and ends on 31 October, 2017.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/event_on\"\n      }\n    },\n    {\n      \"code\": 3202,\n      \"title\": \"Enrolment event date is out of range.\",\n      \"detail\": \"Please choose your enrolment date from within a six-month window, which starts on  and ends on .\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/event_on\"\n      }\n    },\n    {\n      \"code\": 3202,\n      \"title\": \"Enrolment event date is out of range.\",\n      \"detail\": \"Please choose your enrolment date from within a six-month window, which starts on 01 May, 2017 and ends on 31 October, 2017.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/event_on\"\n      }\n    },\n    {\n      \"code\": 3202,\n      \"title\": \"Enrolment event date is out of range.\",\n      \"detail\": \"Please choose your enrolment date from within a six-month window, which starts on 01 May, 2017 and ends on 31 October, 2017.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/event_on\"\n      }\n    },\n    {\n      \"code\": 3202,\n      \"title\": \"Enrolment event date is out of range.\",\n      \"detail\": \"Please choose your enrolment date from within a six-month window, which starts on 01 May, 2017 and ends on 31 October, 2017.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/event_on\"\n      }\n    },\n    {\n      \"code\": 3202,\n      \"title\": \"Enrolment event date is out of range.\",\n      \"detail\": \"Please choose your enrolment date from within a six-month window, which starts on 01 May, 2017 and ends on 31 October, 2017.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/event_on\"\n      }\n    },\n    {\n      \"code\": 3202,\n      \"title\": \"Enrolment event date is out of range.\",\n      \"detail\": \"Please choose your enrolment date from within a six-month window, which starts on 01 May, 2017 and ends on 31 October, 2017.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/event_on\"\n      }\n    }\n  ]\n}"
            }
          },
          "403": {
            "description": "Forbidden",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 47,\n      \"title\": \"Enrolment cannot be updated/deleted.\",\n      \"detail\": \"The enrolment cannot be updated/deleted as enrolment history cannot contain missing records.\",\n      \"source\": {\n        \"pointer\": \"/base\"\n      }\n    }\n  ]\n}"
            }
          },
          "204": {
            "description": "Empty",
            "examples": {
              "application/json": "{}"
            }
          }
        }
      },
      "get": {
        "summary": "Companies/Enrolments/Get",
        "tags": [
          "Enrolments"
        ],
        "description": "",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "include",
            "in": "query",
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "200": {
            "description": "OK",
            "examples": {
              "application/json": "{\n  \"id\": 430,\n  \"company_id\": 422,\n  \"event_on\": \"2017-05-01\",\n  \"next_re_declaration_of_compliance_deadline_on\": \"2020-09-30\",\n  \"next_re_enrolment_window_starts_on\": \"2020-02-01\",\n  \"next_re_enrolment_window_ends_on\": \"2020-07-31\",\n  \"created_at\": \"2017-05-15T10:16:30.000+01:00\",\n  \"updated_at\": \"2017-05-15T10:16:30.000+01:00\",\n  \"links\": [\n\n  ]\n}"
            }
          }
        }
      }
    },
    "/companies/{company_id}/employees/{employee_id}/postponements/{id}": {
      "patch": {
        "summary": "Companies/Employees/Postponements/Update",
        "tags": [
          "Postponements"
        ],
        "description": "",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "employee_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "deferral_on",
            "in": "query",
            "required": true,
            "description": "Deferral On",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "422": {
            "description": "Unprocessable",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 1401,\n      \"title\": \"The deferral date is a required field.\",\n      \"detail\": \"You need to select a deferral date for the postponement. This can be any date up to 3 months and a day later than either your staging date or the employees start of employment, which ever is the latest.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/deferral_on\"\n      }\n    }\n  ]\n}"
            }
          },
          "204": {
            "description": "Empty",
            "examples": {
              "application/json": "{}"
            }
          }
        }
      },
      "delete": {
        "summary": "Companies/Employees/Postponements/Update",
        "tags": [
          "Postponements"
        ],
        "description": "",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "employee_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "403": {
            "description": "Forbidden",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 28,\n      \"title\": \"Employee has contributions.\",\n      \"detail\": \"Postponement cannot be deleted or updated because there are contribution records for this employee.\",\n      \"source\": {\n        \"pointer\": \"/base\"\n      }\n    }\n  ]\n}"
            }
          },
          "204": {
            "description": "Empty",
            "examples": {
              "application/json": "{}"
            }
          }
        }
      },
      "get": {
        "summary": "Companies/Employees/Postponements/Get",
        "tags": [
          "Postponements"
        ],
        "description": "",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "employee_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "include",
            "in": "query",
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "200": {
            "description": "OK",
            "examples": {
              "application/json": "{\n  \"id\": 12,\n  \"employee_id\": 102,\n  \"starts_on\": \"2017-05-01\",\n  \"ends_on\": \"2017-05-01\",\n  \"created_at\": \"2017-05-15T10:15:02.000+01:00\",\n  \"updated_at\": \"2017-05-15T10:15:02.000+01:00\",\n  \"deferral_on\": \"2017-05-02\",\n  \"links\": [\n    {\n      \"rel\": \"employee\",\n      \"title\": \"employee\",\n      \"href\": \"https://api.host.com/companies/210/employees/102\"\n    }\n  ]\n}"
            }
          }
        }
      }
    },
    "/customers/envelope": {
      "get": {
        "summary": "Customers/Envelope/Get",
        "tags": [
          "Envelope"
        ],
        "description": "",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "200": {
            "description": "OK",
            "examples": {
              "application/json": "{\n  \"id\": 2,\n  \"company_id\": 62,\n  \"pdf_url\": null,\n  \"title\": \"PARTICIPATION AGREEMENT\",\n  \"created_at\": \"2017-05-15T10:14:11.000+01:00\",\n  \"updated_at\": \"2017-05-15T10:14:11.000+01:00\",\n  \"signed_at\": null,\n  \"links\": [\n\n  ]\n}"
            }
          }
        }
      }
    },
    "/customers/verify_two_fas": {
      "get": {
        "summary": "Customers/VerifyTwoFas",
        "tags": [
          "Customers"
        ],
        "description": "",
        "parameters": [
          {
            "name": "tmp_token",
            "in": "query",
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "200": {
            "description": "OK",
            "examples": {
              "application/json": "{\n  \"id\": 78,\n  \"api_key\": \"api_key\"\n}"
            }
          }
        }
      }
    },
    "/advisers/{adviser_id}/users": {
      "get": {
        "summary": "Advisers/Users/List",
        "tags": [
          "Users"
        ],
        "description": "",
        "parameters": [
          {
            "name": "adviser_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "include",
            "in": "query",
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string"
          },
          {
            "name": "direction",
            "in": "query",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "200": {
            "description": "OK",
            "examples": {
              "application/json": "{\n  \"limit\": 50,\n  \"offset\": 0,\n  \"total\": 3,\n  \"links\": [\n    {\n      \"rel\": \"self\",\n      \"title\": \"self\",\n      \"href\": \"http://api.example.com/advisers/16/users?include%5B%5D=adviser\"\n    },\n    {\n      \"rel\": \"first\",\n      \"title\": \"first\",\n      \"href\": \"http://api.example.com/advisers/16/users?include%5B%5D=adviser&offset=0&limit=50\"\n    },\n    {\n      \"rel\": \"last\",\n      \"title\": \"last\",\n      \"href\": \"http://api.example.com/advisers/16/users?include%5B%5D=adviser&offset=0&limit=50\"\n    }\n  ],\n  \"users\": [\n    {\n      \"id\": 13,\n      \"email\": \"email@example.com\",\n      \"title\": null,\n      \"forename\": \"forename\",\n      \"surname\": \"surname\",\n      \"api_key\": \"lrIXTQlA2YLhVb00-Gl1MA\",\n      \"telephone\": \"0123456789\",\n      \"adviser_id\": 16,\n      \"created_at\": \"2017-05-15T10:14:13.000+01:00\",\n      \"updated_at\": \"2017-05-15T10:14:13.000+01:00\",\n      \"links\": [\n        {\n          \"rel\": \"adviser\",\n          \"title\": \"adviser\",\n          \"href\": \"https://api.host.com/advisers/16\"\n        }\n      ],\n      \"adviser\": {\n        \"id\": 16,\n        \"name\": \"super\",\n        \"type\": \"Adviser\",\n        \"address\": \"address\",\n        \"created_at\": \"2017-05-15T10:14:12.000+01:00\",\n        \"updated_at\": \"2017-05-15T10:14:12.000+01:00\",\n        \"signup_start\": null,\n        \"signup_finish\": null\n      }\n    },\n    {\n      \"id\": 14,\n      \"email\": \"user1@example.com\",\n      \"title\": null,\n      \"forename\": \"abcd\",\n      \"surname\": \"surname\",\n      \"api_key\": \"m8ROpobXfcLkUtAZUwdAHg\",\n      \"telephone\": \"0123456789\",\n      \"adviser_id\": 16,\n      \"created_at\": \"2017-05-15T10:14:13.000+01:00\",\n      \"updated_at\": \"2017-05-15T10:14:13.000+01:00\",\n      \"links\": [\n        {\n          \"rel\": \"adviser\",\n          \"title\": \"adviser\",\n          \"href\": \"https://api.host.com/advisers/16\"\n        }\n      ],\n      \"adviser\": {\n        \"id\": 16,\n        \"name\": \"super\",\n        \"type\": \"Adviser\",\n        \"address\": \"address\",\n        \"created_at\": \"2017-05-15T10:14:12.000+01:00\",\n        \"updated_at\": \"2017-05-15T10:14:12.000+01:00\",\n        \"signup_start\": null,\n        \"signup_finish\": null\n      }\n    },\n    {\n      \"id\": 15,\n      \"email\": \"user2@example.com\",\n      \"title\": null,\n      \"forename\": \"wxyz\",\n      \"surname\": \"surname\",\n      \"api_key\": \"I_4vknjAUnLwzeRGiGLQRw\",\n      \"telephone\": \"0123456789\",\n      \"adviser_id\": 16,\n      \"created_at\": \"2017-05-15T10:14:13.000+01:00\",\n      \"updated_at\": \"2017-05-15T10:14:13.000+01:00\",\n      \"links\": [\n        {\n          \"rel\": \"adviser\",\n          \"title\": \"adviser\",\n          \"href\": \"https://api.host.com/advisers/16\"\n        }\n      ],\n      \"adviser\": {\n        \"id\": 16,\n        \"name\": \"super\",\n        \"type\": \"Adviser\",\n        \"address\": \"address\",\n        \"created_at\": \"2017-05-15T10:14:12.000+01:00\",\n        \"updated_at\": \"2017-05-15T10:14:12.000+01:00\",\n        \"signup_start\": null,\n        \"signup_finish\": null\n      }\n    }\n  ]\n}"
            }
          },
          "422": {
            "description": "Unprocessable",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 1504,\n      \"title\": \"Offset must be greater than or equal to 0.\",\n      \"detail\": \"You need to enter an offset which must be a numerical value greater or equal than 0.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/offset\"\n      }\n    }\n  ]\n}"
            }
          }
        }
      },
      "post": {
        "summary": "Advisers/Users/Create",
        "tags": [
          "Users"
        ],
        "description": "",
        "parameters": [
          {
            "name": "adviser_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "email",
            "in": "query",
            "required": true,
            "description": "User email",
            "type": "string"
          },
          {
            "name": "password",
            "in": "query",
            "required": true,
            "description": "User password",
            "type": "string"
          },
          {
            "name": "title",
            "in": "query",
            "required": true,
            "description": "User title",
            "type": "string"
          },
          {
            "name": "forename",
            "in": "query",
            "required": true,
            "description": "User forename",
            "type": "string"
          },
          {
            "name": "surname",
            "in": "query",
            "required": true,
            "description": "User surname",
            "type": "string"
          },
          {
            "name": "telephone",
            "in": "query",
            "required": true,
            "description": "User telephone",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "201": {
            "description": "Created",
            "examples": {
              "application/json": "{\n  \"id\": 169,\n  \"email\": \"email@email.com\",\n  \"title\": null,\n  \"forename\": \"forename\",\n  \"surname\": \"surename\",\n  \"api_key\": \"bg9PiEk4pri-1zk5fwIfZg\",\n  \"telephone\": \"0123456789\",\n  \"adviser_id\": 114,\n  \"created_at\": \"2017-05-15T10:16:17.000+01:00\",\n  \"updated_at\": \"2017-05-15T10:16:17.000+01:00\",\n  \"links\": [\n    {\n      \"rel\": \"adviser\",\n      \"title\": \"adviser\",\n      \"href\": \"https://api.host.com/advisers/114\"\n    }\n  ]\n}"
            }
          },
          "403": {
            "description": "Forbidden",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 35,\n      \"title\": \"Maximum number of create users reached!\",\n      \"detail\": \"You cannot have more than 50 create users.\",\n      \"source\": {\n        \"pointer\": \"/base\"\n      }\n    }\n  ]\n}"
            }
          },
          "422": {
            "description": "Unprocessable",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 1804,\n      \"title\": \"Email address is a required field.\",\n      \"detail\": \"You need to enter an email address for this user.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/email\"\n      }\n    },\n    {\n      \"code\": 1801,\n      \"title\": \"Password is a required field.\",\n      \"detail\": \"You need to enter a password for this user.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/password\"\n      }\n    },\n    {\n      \"code\": 1806,\n      \"title\": \"Forename is a required field.\",\n      \"detail\": \"You need to include the forename for this user.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/forename\"\n      }\n    },\n    {\n      \"code\": 1807,\n      \"title\": \"Surname is a required field.\",\n      \"detail\": \"You need to include the surname for this user.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/surname\"\n      }\n    },\n    {\n      \"code\": 1808,\n      \"title\": \"Telephone number is a required field.\",\n      \"detail\": \"You need to include a telephone number for this user.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/telephone\"\n      }\n    }\n  ]\n}"
            }
          }
        }
      }
    },
    "/companies/{company_id}/imports": {
      "post": {
        "summary": "Companies/Imports/Create",
        "tags": [
          "Imports"
        ],
        "description": "",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "file",
            "in": "query",
            "required": true,
            "description": "Import file",
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "description": "Import type",
            "type": "string"
          },
          {
            "name": "metadata",
            "in": "query",
            "required": false,
            "description": "Metadata",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "201": {
            "description": "Created",
            "examples": {
              "application/json": "{\n  \"id\": 3,\n  \"state\": \"ignition\",\n  \"response_errors\": [\n\n  ],\n  \"file_url\": \"/home/anthony/code/api/public/system/contributions_imports/files/000/000/003/original/valid.xls\",\n  \"file_file_name\": \"valid.xls\",\n  \"created_at\": \"2017-05-15T10:14:15.000+01:00\",\n  \"updated_at\": \"2017-05-15T10:14:15.000+01:00\",\n  \"type\": \"ContributionsImport\",\n  \"metadata\": {\n    \"contributions\": {\n      \"starts_on\": \"2016-01-01\",\n      \"ends_on\": \"2016-01-31\"\n    }\n  },\n  \"company_id\": 69,\n  \"links\": [\n    {\n      \"rel\": \"company\",\n      \"title\": \"company\",\n      \"href\": \"https://api.host.com/companies/69\"\n    }\n  ],\n  \"response\": [\n\n  ]\n}"
            }
          },
          "422": {
            "description": "Unprocessable",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 1304,\n      \"title\": \"The type is required.\",\n      \"detail\": \"You need to set a type of file to import.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/type\"\n      }\n    },\n    {\n      \"code\": 1304,\n      \"title\": \"The type is required.\",\n      \"detail\": \"You need to set a type of file to import.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/type\"\n      }\n    },\n    {\n      \"code\": 1301,\n      \"title\": \"The file is required.\",\n      \"detail\": \"You need to choose a file to import.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/file\"\n      }\n    },\n    {\n      \"code\": 1301,\n      \"title\": \"The file is required.\",\n      \"detail\": \"You need to choose a file to import.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/file\"\n      }\n    }\n  ]\n}"
            }
          }
        }
      },
      "get": {
        "summary": "Companies/Imports/List",
        "tags": [
          "Imports"
        ],
        "description": "",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string"
          },
          {
            "name": "direction",
            "in": "query",
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "string"
          },
          {
            "name": "include",
            "in": "query",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "422": {
            "description": "Unprocessable",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 1504,\n      \"title\": \"Offset must be greater than or equal to 0.\",\n      \"detail\": \"You need to enter an offset which must be a numerical value greater or equal than 0.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/offset\"\n      }\n    }\n  ]\n}"
            }
          },
          "200": {
            "description": "OK",
            "examples": {
              "application/json": "{\n  \"limit\": 50,\n  \"offset\": 0,\n  \"total\": 2,\n  \"links\": [\n    {\n      \"rel\": \"self\",\n      \"title\": \"self\",\n      \"href\": \"http://api.example.com/companies/84/imports?filter%5Btype%5D=PapdisImport\"\n    },\n    {\n      \"rel\": \"first\",\n      \"title\": \"first\",\n      \"href\": \"http://api.example.com/companies/84/imports?filter%5Btype%5D=PapdisImport&offset=0&limit=50\"\n    },\n    {\n      \"rel\": \"last\",\n      \"title\": \"last\",\n      \"href\": \"http://api.example.com/companies/84/imports?filter%5Btype%5D=PapdisImport&offset=0&limit=50\"\n    }\n  ],\n  \"data\": [\n    {\n      \"id\": 14,\n      \"state\": \"ignition\",\n      \"response_errors\": [\n\n      ],\n      \"file_url\": \"/home/anthony/code/api/public/system/papdis_imports/files/000/000/014/original/valid.xml\",\n      \"file_file_name\": \"valid.xml\",\n      \"created_at\": \"2017-05-15T10:14:19.000+01:00\",\n      \"updated_at\": \"2017-05-15T10:14:19.000+01:00\",\n      \"type\": \"PapdisImport\",\n      \"metadata\": {\n      },\n      \"company_id\": 84,\n      \"links\": [\n        {\n          \"rel\": \"company\",\n          \"title\": \"company\",\n          \"href\": \"https://api.host.com/companies/84\"\n        }\n      ]\n    },\n    {\n      \"id\": 15,\n      \"state\": \"ignition\",\n      \"response_errors\": [\n\n      ],\n      \"file_url\": \"/home/anthony/code/api/public/system/papdis_imports/files/000/000/015/original/valid.xml\",\n      \"file_file_name\": \"valid.xml\",\n      \"created_at\": \"2017-05-15T10:14:19.000+01:00\",\n      \"updated_at\": \"2017-05-15T10:14:19.000+01:00\",\n      \"type\": \"PapdisImport\",\n      \"metadata\": {\n      },\n      \"company_id\": 84,\n      \"links\": [\n        {\n          \"rel\": \"company\",\n          \"title\": \"company\",\n          \"href\": \"https://api.host.com/companies/84\"\n        }\n      ]\n    }\n  ]\n}"
            }
          }
        }
      }
    },
    "/companies/{company_id}/enrolments": {
      "post": {
        "summary": "Companies/Enrolments/Create",
        "tags": [
          "Enrolments"
        ],
        "description": "",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "event_on",
            "in": "query",
            "required": true,
            "description": "Enrolment Event On",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "201": {
            "description": "Created",
            "examples": {
              "application/json": "{\n  \"id\": 70,\n  \"company_id\": 78,\n  \"event_on\": \"2017-05-15\",\n  \"next_re_declaration_of_compliance_deadline_on\": \"2020-10-14\",\n  \"next_re_enrolment_window_starts_on\": \"2020-02-15\",\n  \"next_re_enrolment_window_ends_on\": \"2020-08-14\",\n  \"created_at\": \"2017-05-15T10:14:16.000+01:00\",\n  \"updated_at\": \"2017-05-15T10:14:16.000+01:00\",\n  \"links\": [\n\n  ]\n}"
            }
          },
          "422": {
            "description": "Unprocessable",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 3201,\n      \"title\": \"Enrolment event on is a required field.\",\n      \"detail\": \"Please include your re-enrolment date.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/event_on\"\n      }\n    },\n    {\n      \"code\": 3201,\n      \"title\": \"Enrolment event on is a required field.\",\n      \"detail\": \"Please include your re-enrolment date.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/event_on\"\n      }\n    }\n  ]\n}"
            }
          },
          "403": {
            "description": "Forbidden",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 45,\n      \"title\": \"The re-enrolment date cannot be created yet.\",\n      \"detail\": \"The re-enrolment date cannot be created because it is too far in the future. You will be able to set it from 01 January, 2020\",\n      \"source\": {\n        \"pointer\": \"/base\"\n      }\n    }\n  ]\n}"
            }
          }
        }
      },
      "get": {
        "summary": "Companies/Enrolments/List",
        "tags": [
          "Enrolments"
        ],
        "description": "",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "string"
          },
          {
            "name": "include",
            "in": "query",
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string"
          },
          {
            "name": "direction",
            "in": "query",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "200": {
            "description": "OK",
            "examples": {
              "application/json": "{\n  \"limit\": 1,\n  \"offset\": 0,\n  \"total\": 2,\n  \"links\": [\n    {\n      \"rel\": \"self\",\n      \"title\": \"self\",\n      \"href\": \"http://api.example.com/companies/101/enrolments?limit=1\"\n    },\n    {\n      \"rel\": \"next\",\n      \"title\": \"next\",\n      \"href\": \"http://api.example.com/companies/101/enrolments?limit=1&offset=1\"\n    },\n    {\n      \"rel\": \"first\",\n      \"title\": \"first\",\n      \"href\": \"http://api.example.com/companies/101/enrolments?limit=1&offset=0\"\n    },\n    {\n      \"rel\": \"last\",\n      \"title\": \"last\",\n      \"href\": \"http://api.example.com/companies/101/enrolments?limit=1&offset=1\"\n    }\n  ],\n  \"enrolments\": [\n    {\n      \"id\": 93,\n      \"company_id\": 101,\n      \"event_on\": \"2014-07-01\",\n      \"next_re_declaration_of_compliance_deadline_on\": \"2017-11-30\",\n      \"next_re_enrolment_window_starts_on\": \"2017-04-01\",\n      \"next_re_enrolment_window_ends_on\": \"2017-09-30\",\n      \"created_at\": \"2017-05-15T10:14:24.000+01:00\",\n      \"updated_at\": \"2017-05-15T10:14:24.000+01:00\",\n      \"links\": [\n\n      ]\n    }\n  ]\n}"
            }
          },
          "422": {
            "description": "Unprocessable",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 1504,\n      \"title\": \"Offset must be greater than or equal to 0.\",\n      \"detail\": \"You need to enter an offset which must be a numerical value greater or equal than 0.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/offset\"\n      }\n    }\n  ]\n}"
            }
          }
        }
      }
    },
    "/advisers/{adviser_id}/users/{id}": {
      "get": {
        "summary": "Advisers/Users/Get",
        "tags": [
          "Users"
        ],
        "description": "",
        "parameters": [
          {
            "name": "adviser_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "include",
            "in": "query",
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "200": {
            "description": "OK",
            "examples": {
              "application/json": "{\n  \"id\": 32,\n  \"email\": \"email@example.com\",\n  \"title\": null,\n  \"forename\": \"forename\",\n  \"surname\": \"surname\",\n  \"api_key\": \"DPI22iVzZw8MZ0vfioYWyA\",\n  \"telephone\": \"0123456789\",\n  \"adviser_id\": 23,\n  \"created_at\": \"2017-05-15T10:14:17.000+01:00\",\n  \"updated_at\": \"2017-05-15T10:14:17.000+01:00\",\n  \"links\": [\n    {\n      \"rel\": \"adviser\",\n      \"title\": \"adviser\",\n      \"href\": \"https://api.host.com/advisers/23\"\n    }\n  ]\n}"
            }
          }
        }
      },
      "delete": {
        "summary": "Advisers/Users/Destroy",
        "tags": [
          "Users"
        ],
        "description": "",
        "parameters": [
          {
            "name": "adviser_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "204": {
            "description": "Empty",
            "examples": {
              "application/json": "{}"
            }
          },
          "403": {
            "description": "Forbidden",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 1,\n      \"title\": \"User cannot be deleted.\",\n      \"detail\": \"The last user cannot be deleted as an Adviser must have at least one user.\",\n      \"source\": {\n        \"pointer\": \"/base\"\n      }\n    }\n  ]\n}"
            }
          }
        }
      },
      "patch": {
        "summary": "Advisers/Users/Update",
        "tags": [
          "Users"
        ],
        "description": "",
        "parameters": [
          {
            "name": "adviser_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "204": {
            "description": "Empty",
            "examples": {
              "application/json": "{}"
            }
          },
          "422": {
            "description": "Unprocessable",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 1804,\n      \"title\": \"Email address is a required field.\",\n      \"detail\": \"You need to enter an email address for this user.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/email\"\n      }\n    }\n  ]\n}"
            }
          }
        }
      }
    },
    "/contribution_settings/contributions": {
      "get": {
        "summary": "ContributionSettings/Contribution",
        "tags": [
          "ContributionSettings"
        ],
        "description": "",
        "parameters": [
          {
[...]
