{
  "swagger": "2.0",
  "info": {
    "title": "Smart Pension API",
    "version": "v5",
    "description": "This is the endpoint description of Smart Pension API."
  },
  "host": "api.sandbox.autoenrolment.co.uk",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "x-samples-languages": [
    "curl"
  ],
  "paths": {
    "/companies/{company_id}/groups/{id}": {
      "parameters": [
        {
          "name": "company_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "Authorization",
          "in": "header",
          "required": true,
          "type": "string"
        },
        {
          "name": "Host",
          "in": "header",
          "required": true,
          "type": "string"
        },
        {
          "name": "Accept",
          "in": "header",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "summary": "Companies/Groups/Get",
        "tags": [
          "Company"
        ],
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "summary": "Companies/Groups/Destroy",
        "tags": [
          "Company"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "patch": {
        "summary": "Companies/Groups/Update",
        "tags": [
          "Company"
        ],
        "parameters": [
          {
            "name": "group",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/group"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        }
      }
    },
    "/companies/{company_id}/groups": {
      "parameters": [
        {
          "name": "company_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "Authorization",
          "in": "header",
          "required": true,
          "type": "string"
        },
        {
          "name": "Host",
          "in": "header",
          "required": true,
          "type": "string"
        },
        {
          "name": "Accept",
          "in": "header",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "summary": "Companies/Groups/List",
        "tags": [
          "Company"
        ],
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        }
      },
      "post": {
        "summary": "Companies/Groups/Create",
        "tags": [
          "Company"
        ],
        "parameters": [
          {
            "name": "group[name]",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        }
      }
    }
  },
  "definitions": {
    "group": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "required": [
        "name"
      ]
    }
  }
}