{
  "swagger": "2.0",
  "info": {
    "title": "Smart Pension API",
    "version": "v8",
    "description": "This is the endpoint description of Smart Pension API."
  },
  "host": "api.sandbox.autoenrolment.co.uk",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "x-samples-languages": [
    "curl"
  ],
  "x-proxy-enabled": false,
  "securityDefinitions": {
    "oAuth2": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://id.sandbox.autoenrolment.co.uk/oauth/authorize",
      "tokenUrl": "https://id.sandbox.autoenrolment.co.uk/oauth/token",
      "scopes": {
        "customer": "Manage the customer's company.\n- Create postponements\n- Create and import contributions\n- Edit company details\n- Add and edit employees",
        "user": "Manage all companies linked to the user's adviser.\n- Manage adviser details\n- Add and edit adviser's users\n- Create and import contributions for any company managed by the adviser",
        "employee": "Manage the employee account.\n- List employee contributions\n- Edit employee details and preferences"
      }
    }
  },
  "paths": {
    "/advisers": {
      "post": {
        "summary": "Advisers/Create",
        "tags": [
          "Adviser"
        ],
        "parameters": [
          {
            "name": "adviser",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/adviser"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "examples": {
              "application/json": {
                "id": 31,
                "name": "name",
                "type": "Adviser",
                "address": "address",
                "created_at": "2018-05-03T17:12:05.000+01:00",
                "updated_at": "2018-05-03T17:12:05.000+01:00",
                "signup_start": "signup_start_text",
                "signup_finish": "signup_finish_text",
                "user_id": 34,
                "title": "Mr",
                "forename": "forename",
                "surname": "surname",
                "email": "name@email.com",
                "telephone": "0123456789",
                "api_key": "OQ4AmyZuFf1WJ-OezSqnQQ",
                "authorization_redirect_uri": "https://id.host.com/user/callbacks/smartpension?code=29e95f1872f1c837fa9c10b6d9d700c93c426faf3ba7ca5869326324745f240c"
              }
            }
          },
          "422": {
            "description": "Invalid parameters",
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": 218,
                    "title": "Not Enough Characters for name provided.",
                    "detail": "You need to enter a name with a minimum of 2 characters.",
                    "source": {
                      "pointer": "/data/attributes/name"
                    }
                  },
                  {
                    "code": 204,
                    "title": "Adviser name is required.",
                    "detail": "You need to include a name for this adviser account; this is the name that clients of this adviser will see.",
                    "source": {
                      "pointer": "/data/attributes/name"
                    }
                  },
                  {
                    "code": 219,
                    "title": "Not Enough Characters for address.",
                    "detail": "You need to enter an address with a minimum of 2 characters.",
                    "source": {
                      "pointer": "/data/attributes/address"
                    }
                  },
                  {
                    "code": 206,
                    "title": "Adviser address is required.",
                    "detail": "You need to include an address for this adviser account. This can be the registered address of the firm or the place that receives business related correspondence.",
                    "source": {
                      "pointer": "/data/attributes/address"
                    }
                  },
                  {
                    "code": 207,
                    "title": "Email address is a required field.",
                    "detail": "You need to enter an email address for this adviser.",
                    "source": {
                      "pointer": "/data/attributes/email"
                    }
                  },
                  {
                    "code": 208,
                    "title": "Email address is not valid.",
                    "detail": "The email address you entered is not valid. This may be because of the address format or the domain being unreachable. Make sure the address uses this format: name@something.com and that email is enabled for this domain.",
                    "source": {
                      "pointer": "/data/attributes/email"
                    }
                  },
                  {
                    "code": 201,
                    "title": "Password is a required field.",
                    "detail": "You need to enter a password for this adviser.",
                    "source": {
                      "pointer": "/data/attributes/password"
                    }
                  },
                  {
                    "code": 210,
                    "title": "Forename is a required field.",
                    "detail": "You need to include a forename for this adviser.",
                    "source": {
                      "pointer": "/data/attributes/forename"
                    }
                  },
                  {
                    "code": 211,
                    "title": "Surname is a required field.",
                    "detail": "You need to include a surname for this adviser.",
                    "source": {
                      "pointer": "/data/attributes/surname"
                    }
                  },
                  {
                    "code": 212,
                    "title": "Telephone number is a required field.",
                    "detail": "You need to include a telephone number for this adviser.",
                    "source": {
                      "pointer": "/data/attributes/telephone"
                    }
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/advisers/{id}": {
      "get": {
        "summary": "Advisers/Get",
        "tags": [
          "Adviser"
        ],
        "security": [
          {
            "oAuth2": [
              "user"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "examples": {
              "application/json": {
                "id": 32,
                "name": "super",
                "type": "Adviser",
                "address": "address",
                "created_at": "2018-05-03T17:12:06.000+01:00",
                "updated_at": "2018-05-03T17:12:06.000+01:00",
                "signup_start": null,
                "signup_finish": null
              }
            }
          },
          "404": {
            "description": "Not Found",
            "examples": {
              "application/json": ""
            }
          }
        }
      },
      "patch": {
        "summary": "Advisers/Update",
        "tags": [
          "Adviser"
        ],
        "security": [
          {
            "oAuth2": [
              "user"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "adviser",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/adviser"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success",
            "examples": {
              "application/json": ""
            }
          },
          "422": {
            "description": "Invalid parameters",
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": 218,
                    "title": "Not Enough Characters for name provided.",
                    "detail": "You need to enter a name with a minimum of 2 characters.",
                    "source": {
                      "pointer": "/data/attributes/name"
                    }
                  },
                  {
                    "code": 204,
                    "title": "Adviser name is required.",
                    "detail": "You need to include a name for this adviser account; this is the name that clients of this adviser will see.",
                    "source": {
                      "pointer": "/data/attributes/name"
                    }
                  }
                ]
              }
            }
          },
          "404": {
            "description": "Not Found",
            "examples": {
              "application/json": ""
            }
          }
        }
      }
    },
    "/advisers/{adviser_id}/users": {
      "post": {
        "summary": "Users/Create",
        "tags": [
          "User"
        ],
        "security": [
          {
            "oAuth2": [
              "user"
            ]
          }
        ],
        "parameters": [
          {
            "name": "adviser_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "user",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/user"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "examples": {
              "application/json": {
                "id": 41,
                "email": "email@email.com",
                "title": null,
                "forename": "forename",
                "surname": "surename",
                "api_key": "z5ktcrRjVXNrq0FC_ravyQ",
                "telephone": "0123456789",
                "adviser_id": 37,
                "created_at": "2018-05-03T17:12:07.000+01:00",
                "updated_at": "2018-05-03T17:12:07.000+01:00",
                "links": [
                  {
                    "rel": "adviser",
                    "title": "adviser",
                    "href": "https://api.host.com/advisers/37"
                  }
                ]
              }
            }
          },
          "422": {
            "description": "Parameters invalid.",
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": 1818,
                    "title": "Not Enough Characters for email.",
                    "detail": "You need to enter an email with a minimum of 6 characters.",
                    "source": {
                      "pointer": "/data/attributes/email"
                    }
                  },
                  {
                    "code": 1804,
                    "title": "Email address is a required field.",
                    "detail": "You need to enter an email address for this user.",
                    "source": {
                      "pointer": "/data/attributes/email"
                    }
                  },
                  {
                    "code": 1805,
                    "title": "Email address is not valid.",
                    "detail": "The email address you entered is not valid. This may be because of the address format or the domain being unreachable. Make sure the address uses this format: name@something.com and that email is enabled for this domain.",
                    "source": {
                      "pointer": "/data/attributes/email"
                    }
                  },
                  {
                    "code": 1812,
                    "title": "Not Enough Characters for forename.",
                    "detail": "You need to enter a forename with a minimum of 2 characters.",
                    "source": {
                      "pointer": "/data/attributes/forename"
                    }
                  },
                  {
                    "code": 1806,
                    "title": "Forename is a required field.",
                    "detail": "You need to include the forename for this user.",
                    "source": {
                      "pointer": "/data/attributes/forename"
                    }
                  },
                  {
                    "code": 1813,
                    "title": "Not Enough Characters for surname.",
                    "detail": "You need to enter a surname with a minimum of 2 characters",
                    "source": {
                      "pointer": "/data/attributes/surname"
                    }
                  },
                  {
                    "code": 1807,
                    "title": "Surname is a required field.",
                    "detail": "You need to include the surname for this user.",
                    "source": {
                      "pointer": "/data/attributes/surname"
                    }
                  },
                  {
                    "code": 1814,
                    "title": "Not Enough Characters for telephone.",
                    "detail": "You need to enter a telephone with a minimum of 2 characters",
                    "source": {
                      "pointer": "/data/attributes/telephone"
                    }
                  },
                  {
                    "code": 1808,
                    "title": "Telephone number is a required field.",
                    "detail": "You need to include a telephone number for this user.",
                    "source": {
                      "pointer": "/data/attributes/telephone"
                    }
                  },
                  {
                    "code": 1801,
                    "title": "Password is a required field.",
                    "detail": "You need to enter a password for this user.",
                    "source": {
                      "pointer": "/data/attributes/password"
                    }
                  }
                ]
              }
            }
          },
          "403": {
            "description": "Forbidden - number of users exceeds allowed limit",
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": 35,
                    "title": "Maximum number of users reached!",
                    "detail": "You cannot have more than 5 users.",
                    "source": {
                      "pointer": "/base"
                    }
                  }
                ]
              }
            }
          }
        }
      },
      "get": {
        "summary": "Users/List",
        "tags": [
          "User"
        ],
        "security": [
          {
            "oAuth2": [
              "user"
            ]
          }
        ],
        "parameters": [
          {
            "name": "adviser_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "examples": {
              "application/json": {
                "limit": 50,
                "offset": 0,
                "total": 3,
                "links": [
                  {
                    "rel": "self",
                    "title": "self",
                    "href": "http://api.host.com/advisers/47/users"
                  },
                  {
                    "rel": "first",
                    "title": "first",
                    "href": "http://api.host.com/advisers/47/users?offset=0&limit=50"
                  },
                  {
                    "rel": "last",
                    "title": "last",
                    "href": "http://api.host.com/advisers/47/users?offset=0&limit=50"
                  }
                ],
                "users": [
                  {
                    "id": 56,
                    "email": "email@example.com",
                    "title": null,
                    "forename": "forename",
                    "surname": "surname",
                    "api_key": "j0OHeXtGwidAlIbzkn4VlA",
                    "telephone": "0123456789",
                    "adviser_id": 47,
                    "created_at": "2018-05-03T17:12:09.000+01:00",
                    "updated_at": "2018-05-03T17:12:09.000+01:00",
                    "links": [
                      {
                        "rel": "adviser",
                        "title": "adviser",
                        "href": "https://api.host.com/advisers/47"
                      }
                    ]
                  },
                  {
                    "id": 57,
                    "email": "user1@example.com",
                    "title": null,
                    "forename": "abcd",
                    "surname": "surname",
                    "api_key": "sfIpEX8JqJacoTTrF-3Dpg",
                    "telephone": "0123456789",
                    "adviser_id": 47,
                    "created_at": "2018-05-03T17:12:09.000+01:00",
                    "updated_at": "2018-05-03T17:12:09.000+01:00",
                    "links": [
                      {
                        "rel": "adviser",
                        "title": "adviser",
                        "href": "https://api.host.com/advisers/47"
                      }
                    ]
                  },
                  {
                    "id": 58,
                    "email": "user2@example.com",
                    "title": null,
                    "forename": "wxyz",
                    "surname": "surname",
                    "api_key": "CzMdFRC918RBY_7tGL0ziA",
                    "telephone": "0123456789",
                    "adviser_id": 47,
                    "created_at": "2018-05-03T17:12:09.000+01:00",
                    "updated_at": "2018-05-03T17:12:09.000+01:00",
                    "links": [
                      {
                        "rel": "adviser",
                        "title": "adviser",
                        "href": "https://api.host.com/advisers/47"
                      }
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/advisers/{adviser_id}/users/{id}": {
      "delete": {
        "summary": "Users/Destroy",
        "tags": [
          "User"
        ],
        "security": [
          {
            "oAuth2": [
              "user"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "adviser_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success",
            "examples": {
              "application/json": ""
            }
          },
          "403": {
            "description": "Forbidden when trying to delete last user.",
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": 1,
                    "title": "User cannot be deleted.",
                    "detail": "The last user cannot be deleted as an Adviser must have at least one user.",
                    "source": {
                      "pointer": "/base"
                    }
                  }
                ]
              }
            }
          }
        }
      },
      "get": {
        "summary": "Users/Get",
        "tags": [
          "User"
        ],
        "security": [
          {
            "oAuth2": [
              "user"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "adviser_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "examples": {
              "application/json": {
                "id": 51,
                "email": "email@example.com",
                "title": null,
                "forename": "forename",
                "surname": "surname",
                "api_key": "xx2xVx6BuGttBKoPO8KCQA",
                "telephone": "0123456789",
                "adviser_id": 42,
                "created_at": "2018-05-03T17:12:08.000+01:00",
                "updated_at": "2018-05-03T17:12:08.000+01:00",
                "links": [
                  {
                    "rel": "adviser",
                    "title": "adviser",
                    "href": "https://api.host.com/advisers/42"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Failing when user belongs to another adviser.",
            "examples": {
              "application/json": ""
            }
          },
          "404": {
            "description": "Not Found - Adviser does not exist",
            "examples": {
              "application/json": ""
            }
          }
        }
      },
      "patch": {
        "summary": "Users/Update",
        "tags": [
          "User"
        ],
        "security": [
          {
            "oAuth2": [
              "user"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "adviser_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "user",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/user"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success",
            "examples": {
              "application/json": ""
            }
          },
          "422": {
            "description": "Fail",
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": 1818,
                    "title": "Not Enough Characters for email.",
                    "detail": "You need to enter an email with a minimum of 6 characters.",
                    "source": {
                      "pointer": "/data/attributes/email"
                    }
                  },
                  {
                    "code": 1804,
                    "title": "Email address is a required field.",
                    "detail": "You need to enter an email address for this user.",
                    "source": {
                      "pointer": "/data/attributes/email"
                    }
                  },
                  {
                    "code": 1805,
                    "title": "Email address is not valid.",
                    "detail": "The email address you entered is not valid. This may be because of the address format or the domain being unreachable. Make sure the address uses this format: name@something.com and that email is enabled for this domain.",
                    "source": {
                      "pointer": "/data/attributes/email"
                    }
                  }
                ]
              }
            }
          },
          "404": {
            "description": "Not Found",
            "examples": {
              "application/json": ""
            }
          }
        }
      }
    },
    "/batch": {
      "post": {
        "summary": "Batch",
        "tags": [
          "Batch"
        ],
        "security": [
          {
            "oAuth2": [
              "user",
              "customer"
            ]
          }
        ],
        "parameters": [
          {
            "name": "operations",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/operations"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "examples": {
              "application/json": {
                "operations": [
                  {
                    "status": 200,
                    "headers": {
                      "X-Frame-Options": "SAMEORIGIN",
                      "X-XSS-Protection": "1; mode=block",
                      "X-Content-Type-Options": "nosniff",
                      "Content-Type": "application/json; charset=utf-8",
                      "ETag": "W/\"451642eb77c66756d07ed9348be63517\"",
                      "Cache-Control": "max-age=0, private, must-revalidate",
                      "X-Request-Id": "ae89cb67-6364-4425-9f3e-c1503cc40a3d",
                      "X-Runtime": "0.082000"
                    },
                    "body": {
                      "id": 194,
                      "name": "name",
                      "slug": "name",
                      "registration_number": "number",
                      "scheme_starts_on": "2018-05-01",
                      "tax_office_number": null,
                      "tax_office_employer_reference": null,
                      "legal_structure": "Limited Company",
                      "welcome_letters_reminder_sent_at": null,
                      "pension_regulator_letter_code": null,
                      "trading_address1": null,
                      "trading_address2": null,
                      "trading_address3": null,
                      "trading_address_postcode": null,
                      "reg_address1": null,
                      "reg_address2": null,
                      "reg_address3": null,
                      "reg_address4": null,
                      "reg_address_postcode": null,
                      "pensionable_earning_type": "unbanded",
                      "automatic_postponement_period": null,
                      "default_percentage": 2.0,
                      "employer_pension_scheme_registration": "SMART10000194",
                      "created_at": "2018-05-03T17:12:10.000+01:00",
                      "updated_at": "2018-05-03T17:12:10.000+01:00",
                      "state": "active",
                      "contribution_charge_id": null
                    },
                    "path": "companies/194",
                    "http_method": null,
                    "data": null
                  },
                  {
                    "status": 200,
                    "headers": {
                      "X-Frame-Options": "SAMEORIGIN",
                      "X-XSS-Protection": "1; mode=block",
                      "X-Content-Type-Options": "nosniff",
                      "Content-Type": "application/json; charset=utf-8",
                      "ETag": "W/\"451642eb77c66756d07ed9348be63517\"",
                      "Cache-Control": "max-age=0, private, must-revalidate",
                      "X-Request-Id": "3626f5d3-9ce7-49d4-9348-09dbbb2f222c",
                      "X-Runtime": "0.018162"
                    },
                    "body": {
                      "id": 194,
                      "name": "name",
                      "slug": "name",
                      "registration_number": "number",
                      "scheme_starts_on": "2018-05-01",
                      "tax_office_number": null,
                      "tax_office_employer_reference": null,
                      "legal_structure": "Limited Company",
                      "welcome_letters_reminder_sent_at": null,
                      "pension_regulator_letter_code": null,
                      "trading_address1": null,
                      "trading_address2": null,
                      "trading_address3": null,
                      "trading_address_postcode": null,
                      "reg_address1": null,
                      "reg_address2": null,
                      "reg_address3": null,
                      "reg_address4": null,
                      "reg_address_postcode": null,
                      "pensionable_earning_type": "unbanded",
                      "automatic_postponement_period": null,
                      "default_percentage": 2.0,
                      "employer_pension_scheme_registration": "SMART10000194",
                      "created_at": "2018-05-03T17:12:10.000+01:00",
                      "updated_at": "2018-05-03T17:12:10.000+01:00",
                      "state": "active",
                      "contribution_charge_id": null
                    },
                    "path": "companies/194",
                    "http_method": null,
                    "data": null
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/companies/{company_id}/contributions": {
      "get": {
        "summary": "Companies/Contributions/List",
        "tags": [
          "Contribution"
        ],
        "security": [
          {
            "oAuth2": [
              "user",
              "customer"
            ]
          }
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "examples": {
              "application/json": {
                "limit": 50,
                "offset": 0,
                "total": 2,
                "links": [
                  {
                    "rel": "self",
                    "title": "self",
                    "href": "http://api.host.com/companies/195/contributions"
                  },
                  {
                    "rel": "first",
                    "title": "first",
                    "href": "http://api.host.com/companies/195/contributions?offset=0&limit=50"
                  },
                  {
                    "rel": "last",
                    "title": "last",
                    "href": "http://api.host.com/companies/195/contributions?offset=0&limit=50"
                  }
                ],
                "contributions": [
                  {
                    "id": 30,
                    "category": "Eligible jobholders",
                    "employee_id": 115,
                    "period_type": "Weekly",
                    "gross_qualifying_earnings": 1000.0,
                    "pensionable_earnings": 1000.0,
                    "company_percentage": 2.0,
                    "employee_percentage": 3.0,
                    "state": "created",
                    "created_at": "2018-05-03T17:12:12.000+01:00",
                    "updated_at": "2018-05-03T17:12:12.000+01:00",
                    "contribute_if_entitled": true,
                    "company_amount": 20.0,
                    "employee_amount": 30.0,
                    "voluntary_amount": 0.0,
                    "works_in_uk": true,
                    "starts_on": "2018-05-03",
                    "ends_on": "2018-05-09",
                    "lower_level": 116.0,
                    "upper_level": 892.0,
                    "trigger_level": 192.0,
                    "pensionable_earning_type": "unbanded",
                    "links": [
                      {
                        "rel": "employee",
                        "title": "employee",
                        "href": "https://api.host.com/companies/195/employees/115"
                      }
                    ]
                  },
                  {
                    "id": 31,
                    "category": "Eligible jobholders",
                    "employee_id": 115,
                    "period_type": "Weekly",
                    "gross_qualifying_earnings": 1000.0,
                    "pensionable_earnings": 1000.0,
                    "company_percentage": 2.0,
                    "employee_percentage": 3.0,
                    "state": "created",
                    "created_at": "2018-05-03T17:12:12.000+01:00",
                    "updated_at": "2018-05-03T17:12:12.000+01:00",
                    "contribute_if_entitled": true,
                    "company_amount": 20.0,
                    "employee_amount": 30.0,
                    "voluntary_amount": 0.0,
                    "works_in_uk": true,
                    "starts_on": "2018-05-10",
                    "ends_on": "2018-05-16",
                    "lower_level": 116.0,
                    "upper_level": 892.0,
                    "trigger_level": 192.0,
                    "pensionable_earning_type": "unbanded",
                    "links": [
                      {
                        "rel": "employee",
                        "title": "employee",
                        "href": "https://api.host.com/companies/195/employees/115"
                      }
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/companies": {
      "post": {
        "summary": "Companies/Create",
        "tags": [
          "Company"
        ],
        "parameters": [
          {
            "name": "company",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/company"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Success - automatic linking with an Adviser",
            "examples": {
              "application/json": {
                "id": 198,
                "name": "name",
                "slug": "name",
                "registration_number": "123",
                "scheme_starts_on": null,
                "tax_office_number": null,
                "tax_office_employer_reference": null,
                "legal_structure": "Limited Company",
                "welcome_letters_reminder_sent_at": null,
                "pension_regulator_letter_code": null,
                "trading_address1": null,
                "trading_address2": null,
                "trading_address3": null,
                "trading_address_postcode": null,
                "reg_address1": null,
                "reg_address2": null,
                "reg_address3": null,
                "reg_address4": null,
                "reg_address_postcode": null,
                "pensionable_earning_type": "unbanded",
                "automatic_postponement_period": null,
                "default_percentage": 2.0,
                "employer_pension_scheme_registration": "SMART10000198",
                "created_at": "2018-05-03T17:12:12.000+01:00",
                "updated_at": "2018-05-03T17:12:12.000+01:00",
                "state": "active",
                "contribution_charge_id": null,
                "signatories": [
                  {
                    "id": 110,
                    "email": "john@doe.fr",
                    "reset_password_token": null,
                    "reset_password_sent_at": null,
                    "remember_created_at": null,
                    "last_sign_in_at": null,
                    "slug": "fsurname",
                    "created_at": "2018-05-03T17:12:13.000+01:00",
                    "updated_at": "2018-05-03T17:12:13.000+01:00",
                    "gauth_secret": "zdplx3tfoldjyskigidlulzjiiek6fl6wfgfhvkaagn2pepheyarbhj5kvx3k5oz",
                    "gauth_enabled": false,
                    "gauth_tmp": null,
                    "forename": "forename",
                    "surname": "surname",
                    "title": null,
                    "authentication_token": "mD3k--M8Wv_DUeuZP7mB",
                    "date_of_birth": null,
                    "line2": null,
                    "city": null,
                    "county": null,
                    "building_name": null,
                    "postcode": null,
                    "line1": null,
                    "building_number": null,
                    "telephone": null,
                    "referee_id": null,
                    "referee_type": null,
                    "referral_state": "ignition",
                    "referral_clicks": 0,
                    "referral_reward_name": null,
                    "authentication_token_generated_at": "2018-05-03T17:12:13.000+01:00",
                    "male": true,
                    "role": "signatory",
                    "middlename": null,
                    "envelope_state": "ignition",
                    "enforce_password": false,
                    "company_id": 198,
                    "api_key": "cNvcSCtkFTRNl20tK7gI-A",
                    "links": [
                      {
                        "rel": "company",
                        "title": "company",
                        "href": "https://api.host.com/companies/198"
                      }
                    ]
                  }
                ],
                "admins": [

                ]
              }
            }
          },
          "422": {
            "description": "When 2 signatories/admins have same emails",
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": 732,
                    "title": "There are duplications of emails.",
                    "detail": "The emails that you provided are duplicated in multiple admins/signatories: banana@doe.fr.",
                    "source": {
                      "pointer": "/data"
                    }
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/companies/{company_id}/customers": {
      "post": {
        "summary": "Customers/Create",
        "tags": [
          "Customer"
        ],
        "security": [
          {
            "oAuth2": [
              "user",
              "customer"
            ]
          }
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "customer",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/customer"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "examples": {
              "application/json": {
                "id": 112,
                "email": "email@gmail.com",
                "reset_password_token": null,
                "reset_password_sent_at": null,
                "remember_created_at": null,
                "last_sign_in_at": null,
                "slug": "fsurname5",
                "created_at": "2018-05-03T17:12:13.000+01:00",
                "updated_at": "2018-05-03T17:12:13.000+01:00",
                "gauth_secret": "ix66v4mhdpnbxtpznf3ljcco5eecn6cdmm4nhncltr4f6li7hwyalwlvhe6odgmw",
                "gauth_enabled": false,
                "gauth_tmp": null,
                "forename": "forename",
                "surname": "surname",
                "title": null,
                "authentication_token": "rXAyQ35szys1DsSA7DMZ",
                "date_of_birth": "2018-05-02",
                "line2": null,
                "city": null,
                "county": null,
                "building_name": null,
                "postcode": "w6 4ra",
                "line1": null,
                "building_number": null,
                "telephone": null,
                "referee_id": null,
                "referee_type": null,
                "referral_state": "ignition",
                "referral_clicks": 0,
                "referral_reward_name": null,
                "authentication_token_generated_at": "2018-05-03T17:12:13.000+01:00",
                "male": true,
                "role": "admin",
                "middlename": null,
                "envelope_state": "ignition",
                "enforce_password": true,
                "company_id": 199,
                "api_key": "fRBQq0ouWYUs_20ScTDr7A",
                "links": [
                  {
                    "rel": "company",
                    "title": "company",
                    "href": "https://api.host.com/companies/199"
                  }
                ]
              }
            }
          },
          "422": {
            "description": "Invalid parameters",
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": 919,
                    "title": "Forename is too short.",
                    "detail": "You need to enter a forename with at least 2 characters.",
                    "source": {
                      "pointer": "/data/attributes/forename"
                    }
                  },
                  {
                    "code": 911,
                    "title": "Forename is a required field.",
                    "detail": "You need to include the forename.",
                    "source": {
                      "pointer": "/data/attributes/forename"
                    }
                  },
                  {
                    "code": 920,
                    "title": "Surname is too short.",
                    "detail": "You need to enter a surname with at least 2 characters.",
                    "source": {
                      "pointer": "/data/attributes/surname"
                    }
                  },
                  {
                    "code": 913,
                    "title": "Surname is a required field.",
                    "detail": "You need to include the surname.",
                    "source": {
                      "pointer": "/data/attributes/surname"
                    }
                  },
                  {
                    "code": 925,
                    "title": "Postcode is too short.",
                    "detail": "You need to enter a postcode with at least 2 characters.",
                    "source": {
                      "pointer": "/data/attributes/postcode"
                    }
                  },
                  {
                    "code": 915,
                    "title": "Postcode is a required field.",
                    "detail": "You need to include the postcode.",
                    "source": {
                      "pointer": "/data/attributes/postcode"
                    }
                  },
                  {
                    "code": 936,
                    "title": "Email is too short.",
                    "detail": "You need to enter an email with at least 6 characters.",
                    "source": {
                      "pointer": "/data/attributes/email"
                    }
                  },
                  {
                    "code": 906,
                    "title": "Email address is a required field.",
                    "detail": "You need to include the email address.",
                    "source": {
                      "pointer": "/data/attributes/email"
                    }
                  },
                  {
                    "code": 907,
                    "title": "Email address is not valid.",
                    "detail": "The email address you entered is not valid. This may be because of the address format or the domain being unreachable. Make sure the address uses this format: name@something.com and that email is enabled for this domain.",
                    "source": {
                      "pointer": "/data/attributes/email"
                    }
                  },
                  {
                    "code": 904,
                    "title": "Date of birth is a required field.",
                    "detail": "You need to enter the date of birth.",
                    "source": {
                      "pointer": "/data/attributes/date_of_birth"
                    }
                  }
                ]
              }
            }
          },
          "403": {
            "description": "Forbidden number of customers (max 50)",
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": 35,
                    "title": "Maximum number of customers reached!",
                    "detail": "You cannot have more than 5 customers.",
                    "source": {
                      "pointer": "/base"
                    }
                  }
                ]
              }
            }
          }
        }
      },
      "get": {
        "summary": "Customers/List",
        "tags": [
          "Customer"
        ],
        "security": [
          {
            "oAuth2": [
              "user",
              "customer"
            ]
          }
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "examples": {
              "application/json": {
                "limit": 50,
                "offset": 0,
                "total": 3,
                "links": [
                  {
                    "rel": "self",
                    "title": "self",
                    "href": "http://api.host.com/companies/206/customers"
                  },
                  {
                    "rel": "first",
                    "title": "first",
                    "href": "http://api.host.com/companies/206/customers?offset=0&limit=50"
                  },
                  {
                    "rel": "last",
                    "title": "last",
                    "href": "http://api.host.com/companies/206/customers?offset=0&limit=50"
                  }
                ],
                "customers": [
                  {
                    "id": 124,
                    "email": "signatory@example.com",
                    "reset_password_token": null,
                    "reset_password_sent_at": null,
                    "remember_created_at": null,
                    "last_sign_in_at": null,
                    "slug": "fsurname",
                    "created_at": "2018-05-03T17:12:15.000+01:00",
                    "updated_at": "2018-05-03T17:12:15.000+01:00",
                    "gauth_secret": "morw4kg3pvuzhequrcaby4akzqqoqad7axtah2afbc4d6aqtrcit5kt3ovfsq4mu",
                    "gauth_enabled": false,
                    "gauth_tmp": null,
                    "forename": "forename",
                    "surname": "surname",
                    "title": null,
                    "authentication_token": "ezDrzsb6Y5ZEZvz8V6z7",
                    "date_of_birth": null,
                    "line2": null,
                    "city": null,
                    "county": null,
                    "building_name": null,
                    "postcode": null,
                    "line1": null,
                    "building_number": null,
                    "telephone": null,
                    "referee_id": null,
                    "referee_type": null,
                    "referral_state": "ignition",
                    "referral_clicks": 0,
                    "referral_reward_name": null,
                    "authentication_token_generated_at": "2018-05-03T17:12:15.000+01:00",
                    "male": true,
                    "role": "signatory",
                    "middlename": null,
                    "envelope_state": "ignition",
                    "enforce_password": false,
                    "company_id": 206,
                    "api_key": "Zp_KxqZNq66I-Wvyppcv3A",
                    "links": [
                      {
                        "rel": "company",
                        "title": "company",
                        "href": "https://api.host.com/companies/206"
                      }
                    ]
                  },
                  {
                    "id": 125,
                    "email": "email1@example.com",
                    "reset_password_token": null,
                    "reset_password_sent_at": null,
                    "remember_created_at": null,
                    "last_sign_in_at": null,
                    "slug": "fsurname3",
                    "created_at": "2018-05-03T17:12:15.000+01:00",
                    "updated_at": "2018-05-03T17:12:16.000+01:00",
                    "gauth_secret": "b4hnjkjtwxasaehkzdldlnfm7dr3pdsfi636cczqbzuv2zf26zdmd2v5rnipqdm2",
                    "gauth_enabled": false,
                    "gauth_tmp": null,
                    "forename": "forename",
                    "surname": "surname",
                    "title": null,
                    "authentication_token": "-JBhVGfe7hMEvuTDq1o-",
                    "date_of_birth": "2003-05-03",
                    "line2": null,
                    "city": null,
                    "county": null,
                    "building_name": null,
                    "postcode": "postcode",
                    "line1": null,
                    "building_number": null,
                    "telephone": null,
                    "referee_id": null,
                    "referee_type": null,
                    "referral_state": "ignition",
                    "referral_clicks": 0,
                    "referral_reward_name": null,
                    "authentication_token_generated_at": "2018-05-03T17:12:15.000+01:00",
                    "male": true,
                    "role": "admin",
                    "middlename": null,
                    "envelope_state": "ignition",
                    "enforce_password": true,
                    "company_id": 206,
                    "api_key": "cKMsnt8zRozxNvJqzvb8Sg",
                    "links": [
                      {
                        "rel": "company",
                        "title": "company",
                        "href": "https://api.host.com/companies/206"
                      }
                    ]
                  },
                  {
                    "id": 126,
                    "email": "email2@example.com",
                    "reset_password_token": null,
                    "reset_password_sent_at": null,
                    "remember_created_at": null,
                    "last_sign_in_at": null,
                    "slug": "fsurname0",
                    "created_at": "2018-05-03T17:12:16.000+01:00",
                    "updated_at": "2018-05-03T17:12:16.000+01:00",
                    "gauth_secret": "zhtkaqi2z6fikhmfcnkyzkskwjgbbzbrlq7was6ef3suruqukyktwdubnm7hbt47",
                    "gauth_enabled": false,
                    "gauth_tmp": null,
                    "forename": "forename",
                    "surname": "surname",
                    "title": null,
                    "authentication_token": "sQZNfza7ZeGBJYANasZm",
                    "date_of_birth": "2003-05-03",
                    "line2": null,
                    "city": null,
                    "county": null,
                    "building_name": null,
                    "postcode": "postcode",
                    "line1": null,
                    "building_number": null,
                    "telephone": null,
                    "referee_id": null,
                    "referee_type": null,
                    "referral_state": "ignition",
                    "referral_clicks": 0,
                    "referral_reward_name": null,
                    "authentication_token_generated_at": "2018-05-03T17:12:16.000+01:00",
                    "male": true,
                    "role": "admin",
                    "middlename": null,
                    "envelope_state": "ignition",
                    "enforce_password": true,
                    "company_id": 206,
                    "api_key": "2931V7vFV2LKL9uv0feOwg",
                    "links": [
                      {
                        "rel": "company",
                        "title": "company",
                        "href": "https://api.host.com/companies/206"
                      }
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/companies/{company_id}/customers/{id}": {
      "delete": {
        "summary": "Customers/Destroy",
        "tags": [
          "Customer"
        ],
        "security": [
          {
            "oAuth2": [
              "user",
              "customer"
            ]
          }
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success",
            "examples": {
              "application/json": ""
            }
          },
          "403": {
            "description": "Forbidden when customer is a signatory",
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": 5,
                    "title": "Customer signatory cannot be deleted.",
                    "detail": "The customer cannot be deleted as they are a signatory of the company.",
                    "source": {
                      "pointer": "/base"
                    }
                  }
                ]
              }
            }
          }
        }
      },
      "get": {
        "summary": "Customers/Get",
        "tags": [
          "Customer"
        ],
        "security": [
          {
            "oAuth2": [
              "user",
              "customer"
            ]
          }
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "examples": {
              "application/json": {
                "id": 122,
                "email": "signatory@example.com",
                "reset_password_token": null,
                "reset_password_sent_at": null,
                "remember_created_at": null,
                "last_sign_in_at": null,
                "slug": "fsurname",
                "created_at": "2018-05-03T17:12:15.000+01:00",
                "updated_at": "2018-05-03T17:12:15.000+01:00",
                "gauth_secret": "7kjpsovdgi27voqapmjx7zctrnhw77vizor4s7hq4xksmymnkarlaphqkcvfkhgj",
                "gauth_enabled": false,
                "gauth_tmp": null,
                "forename": "forename",
                "surname": "surname",
                "title": null,
                "authentication_token": "expyysA9oFbxgRC8e37J",
                "date_of_birth": null,
                "line2": null,
                "city": null,
                "county": null,
                "building_name": null,
                "postcode": null,
                "line1": null,
                "building_number": null,
                "telephone": null,
                "referee_id": null,
                "referee_type": null,
                "referral_state": "ignition",
                "referral_clicks": 0,
                "referral_reward_name": null,
                "authentication_token_generated_at": "2018-05-03T17:12:15.000+01:00",
                "male": true,
                "role": "signatory",
                "middlename": null,
                "envelope_state": "ignition",
                "enforce_password": false,
                "company_id": 204,
                "api_key": "W0A4C8-K33KSbwtFmFJiVA",
                "links": [
                  {
                    "rel": "company",
                    "title": "company",
                    "href": "https://api.host.com/companies/204"
                  }
                ]
              }
            }
          },
          "404": {
            "description": "Not Found",
            "examples": {
              "application/json": ""
            }
          }
        }
      },
      "patch": {
        "summary": "Customers/Update",
        "tags": [
          "Customer"
        ],
        "security": [
          {
            "oAuth2": [
              "user",
              "customer"
            ]
          }
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "customer",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/customer"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Updates a customer. Only the field submitted in the request are used.",
            "examples": {
              "application/json": ""
            }
          },
          "403": {
            "description": "Forbidden email update for signatory with unsigned envelope",
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": 34,
                    "title": "Company without envelope.",
                    "detail": "The Participation Agreement cannot be generated because we are currently generating another one for the same company.",
                    "source": {
                      "pointer": "/base"
                    }
                  }
                ]
              }
            }
          },
          "422": {
            "description": "Invalid parameters",
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": 919,
                    "title": "Forename is too short.",
                    "detail": "You need to enter a forename with at least 2 characters.",
                    "source": {
                      "pointer": "/data/attributes/forename"
                    }
                  },
                  {
                    "code": 911,
                    "title": "Forename is a required field.",
                    "detail": "You need to include the forename.",
                    "source": {
                      "pointer": "/data/attributes/forename"
                    }
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/companies/{company_id}/employees/{employee_id}/contributions": {
      "post": {
        "summary": "Contribution/Create",
        "tags": [
          "Contribution"
        ],
        "security": [
          {
            "oAuth2": [
              "user",
              "customer"
            ]
          }
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "employee_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "contribution",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/contribution"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Creates a contribution with pensionable earnings and amounts",
            "examples": {
              "application/json": {
                "id": 33,
                "category": "Eligible jobholders",
                "employee_id": 118,
                "period_type": "Weekly",
                "gross_qualifying_earnings": 1200.0,
                "pensionable_earnings": 1000.0,
                "company_percentage": 2.0,
                "employee_percentage": 3.0,
                "state": "created",
                "created_at": "2018-05-03T17:12:22.000+01:00",
                "updated_at": "2018-05-03T17:12:22.000+01:00",
                "contribute_if_entitled": true,
                "company_amount": 1.0,
                "employee_amount": 1.0,
                "voluntary_amount": 0.0,
                "works_in_uk": true,
                "starts_on": "2018-05-03",
                "ends_on": "2018-05-09",
                "lower_level": 116.0,
                "upper_level": 892.0,
                "trigger_level": 192.0,
                "pensionable_earning_type": "tier1",
                "links": [
                  {
                    "rel": "employee",
                    "title": "employee",
                    "href": "https://api.host.com/companies/212/employees/118"
                  }
                ]
              }
            }
          },
          "422": {
            "description": "Invalid parameters",
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": 311,
                    "title": "Period type is a required field.",
                    "detail": "You need to enter a pay period type.",
                    "source": {
                      "pointer": "/data/attributes/period_type"
                    }
                  },
                  {
                    "code": 312,
                    "title": "Period type is not valid.",
                    "detail": "Valid values for the period types are: Weekly, Fortnightly, FourWeekly, Monthly, Quarterly, BiAnnually, Annually.",
                    "source": {
                      "pointer": "/data/attributes/period_type"
                    }
                  },
                  {
                    "code": 313,
                    "title": "Pay period start date is a required field.",
                    "detail": "You need to enter a pay period start date.",
                    "source": {
                      "pointer": "/data/attributes/starts_on"
                    }
                  },
                  {
                    "code": 319,
                    "title": "Pay period end date is a required field.",
                    "detail": "You need to enter a pay period end date.",
                    "source": {
                      "pointer": "/data/attributes/ends_on"
                    }
                  },
                  {
                    "code": 307,
                    "title": "Gross qualifying earnings is a required field.",
                    "detail": "You need to enter a gross qualifying earnings.",
                    "source": {
                      "pointer": "/data/attributes/gross_qualifying_earnings"
                    }
                  }
                ]
              }
            }
          },
          "403": {
            "description": "Forbidden self_certified",
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": 21,
                    "title": "Contribution cannot be created.",
                    "detail": "The contribution cannot be created as the company pensionable earning type is self-certification, and the contribution does not have the amounts calculated.",
                    "source": {
                      "pointer": "/base"
                    }
                  }
                ]
              }
            }
          }
        }
      },
      "get": {
        "summary": "Contribution/List",
        "tags": [
          "Contribution"
        ],
        "security": [
          {
            "oAuth2": [
              "user",
              "customer"
            ]
          }
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "employee_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "examples": {
              "application/json": {
                "limit": 50,
                "offset": 0,
                "total": 2,
                "links": [
                  {
                    "rel": "self",
                    "title": "self",
                    "href": "http://api.host.com/companies/219/employees/125/contributions?contribution%5Baction%5D=index"
                  },
                  {
                    "rel": "first",
                    "title": "first",
                    "href": "http://api.host.com/companies/219/employees/125/contributions?contribution%5Baction%5D=index&offset=0&limit=50"
                  },
                  {
                    "rel": "last",
                    "title": "last",
                    "href": "http://api.host.com/companies/219/employees/125/contributions?contribution%5Baction%5D=index&offset=0&limit=50"
                  }
                ],
                "contributions": [
                  {
                    "id": 39,
                    "category": "Eligible jobholders",
                    "employee_id": 125,
                    "period_type": "Weekly",
                    "gross_qualifying_earnings": 1000.0,
                    "pensionable_earnings": 1000.0,
                    "company_percentage": 2.0,
                    "employee_percentage": 3.0,
                    "state": "created",
                    "created_at": "2018-05-03T17:12:30.000+01:00",
                    "updated_at": "2018-05-03T17:12:30.000+01:00",
                    "contribute_if_entitled": true,
                    "company_amount": 20.0,
                    "employee_amount": 30.0,
                    "voluntary_amount": 0.0,
                    "works_in_uk": true,
                    "starts_on": "2018-05-03",
                    "ends_on": "2018-05-09",
                    "lower_level": 116.0,
                    "upper_level": 892.0,
                    "trigger_level": 192.0,
                    "pensionable_earning_type": "unbanded",
                    "links": [
                      {
                        "rel": "employee",
                        "title": "employee",
                        "href": "https://api.host.com/companies/219/employees/125"
                      }
                    ]
                  },
                  {
                    "id": 40,
                    "category": "Eligible jobholders",
                    "employee_id": 125,
                    "period_type": "Weekly",
                    "gross_qualifying_earnings": 1000.0,
                    "pensionable_earnings": 1000.0,
                    "company_percentage": 2.0,
                    "employee_percentage": 3.0,
                    "state": "created",
                    "created_at": "2018-05-03T17:12:30.000+01:00",
                    "updated_at": "2018-05-03T17:12:30.000+01:00",
                    "contribute_if_entitled": true,
                    "company_amount": 20.0,
                    "employee_amount": 30.0,
                    "voluntary_amount": 0.0,
                    "works_in_uk": true,
                    "starts_on": "2018-05-10",
                    "ends_on": "2018-05-16",
                    "lower_level": 116.0,
                    "upper_level": 892.0,
                    "trigger_level": 192.0,
                    "pensionable_earning_type": "unbanded",
                    "links": [
                      {
                        "rel": "employee",
                        "title": "employee",
                        "href": "https://api.host.com/companies/219/employees/125"
                      }
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/companies/{company_id}/employees/{employee_id}/contributions/{id}": {
      "delete": {
        "summary": "Contribution/Destroy",
        "tags": [
          "Contribution"
        ],
        "security": [
          {
            "oAuth2": [
              "user",
              "customer"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "company_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "employee_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success",
            "examples": {
              "application/json": ""
            }
          },
          "403": {
            "description": "Forbidden when the contribution is in the payment/investment cycle",
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": 2,
                    "title": "Contribution cannot be deleted.",
                    "detail": "The contribution cannot be deleted as it has been paid or payment is pending and a permanent record must be kept.",
                    "source": {
                      "pointer": "/base"
                    }
                  }
                ]
              }
            }
          },
          "404": {
            "description": "Not Fund",
            "examples": {
              "application/json": ""
            }
          }
        }
      },
      "get": {
        "summary": "Contribution/Get",
        "tags": [
          "Contribution"
        ],
        "security": [
          {
            "oAuth2": [
              "user",
              "customer"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "company_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "employee_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "examples": {
              "application/json": {
                "id": 37,
                "category": "Eligible jobholders",
                "employee_id": 123,
                "period_type": "Weekly",
                "gross_qualifying_earnings": 1000.0,
                "pensionable_earnings": 1000.0,
                "company_percentage": 2.0,
                "employee_percentage": 3.0,
                "state": "created",
                "created_at": "2018-05-03T17:12:28.000+01:00",
                "updated_at": "2018-05-03T17:12:28.000+01:00",
                "contribute_if_entitled": true,
                "company_amount": 20.0,
                "employee_amount": 30.0,
                "voluntary_amount": 0.0,
                "works_in_uk": true,
                "starts_on": "2018-05-03",
                "ends_on": "2018-05-09",
                "lower_level": 116.0,
                "upper_level": 892.0,
                "trigger_level": 192.0,
                "pensionable_earning_type": "unbanded",
                "links": [
                  {
                    "rel": "employee",
                    "title": "employee",
                    "href": "https://api.host.com/companies/217/employees/123"
                  }
                ]
              }
            }
          },
          "404": {
            "description": "Not Fund",
            "examples": {
              "application/json": ""
            }
          }
        }
      },
      "patch": {
        "summary": "Contribution/Update",
        "tags": [
          "Contribution"
        ],
        "security": [
          {
            "oAuth2": [
              "user",
              "customer"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "company_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "employee_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "contribution",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/contribution"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Creates a contribution with gross qualifying earnings",
            "examples": {
              "application/json": ""
            }
          },
          "403": {
            "description": "Forbidden when the contribution category changes",
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": 42,
                    "title": "Contribution cannot be updated.",
                    "detail": "This contribution cannot be updated because the new amount will change the assessment category for this employee. Please delete and recreate this contribution",
                    "source": {
                      "pointer": "/base"
                    }
                  }
                ]
              }
            }
          },
          "404": {
            "description": "Not Fund",
            "examples": {
              "application/json": ""
            }
          }
        }
      }
    },
    "/companies/{company_id}/employees": {
      "post": {
        "summary": "Employees/Create",
        "tags": [
          "Employee"
        ],
        "security": [
          {
            "oAuth2": [
              "user",
              "customer"
            ]
          }
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "employee",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/employee"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "examples": {
              "application/json": {
                "id": 131,
                "email": null,
                "reset_password_token": null,
                "reset_password_sent_at": null,
                "remember_created_at": null,
                "last_sign_in_at": null,
                "slug": "fsurname",
                "created_at": "2018-05-03T17:12:36.000+01:00",
                "updated_at": "2018-05-03T17:12:36.000+01:00",
                "confirmation_token": null,
                "gauth_secret": "dmyp3gmtooi6hrot3nmpm3weg37b2enavmrgkds2fygr6pa3baxebbylvxkgpy5h",
                "gauth_enabled": false,
                "gauth_tmp": null,
                "forename": "forename",
                "surname": "surname",
                "title": null,
                "authentication_token": "tzsv9xP6UtJ61nurhUDH",
                "date_of_birth": "2018-05-02",
                "group_id": null,
                "line2": null,
                "city": null,
                "county": null,
                "postcode": "w6 4ra",
                "line1": null,
                "telephone": null,
                "national_insurance_number": null,
                "works_in_uk": true,
                "starts_on": "2016-01-01",
                "authentication_token_generated_at": "2018-05-03T17:12:36.000+01:00",
                "male": true,
                "company_percentage": 2.0,
                "company_percentage_matched": 2.0,
                "company_match": false,
                "percentage": 3.0,
                "contribute_if_entitled": true,
                "enforce_password": true,
                "ends_on": null,
                "exit_reason": null,
                "onboarded_at": null,
                "opt_out_on": null,
                "opt_state": "ignition",
                "opt_in_on": null,
                "opt_out_window_starts_on": null,
                "company_id": 225,
                "api_key": "JujOWpfjnd3KRoEpwLvrJA",
                "automatically_enrolled": false,
                "external_id": null,
                "fund_id": null,
                "customer_id": null,
                "referral_clicks": 0,
                "fund_glidepath_id": null,
                "links": [
                  {
                    "rel": "company",
                    "title": "company",
                    "href": "https://api.host.com/companies/225"
                  }
                ]
              }
            }
          },
          "422": {
            "description": "Invalid parameters",
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": 2577,
                    "title": "Forename is too short",
                    "detail": "You need to enter a forename with at least 2 characters",
                    "source": {
                      "pointer": "/data/attributes/forename"
                    }
                  },
                  {
                    "code": 2522,
                    "title": "Forename is a required field.",
                    "detail": "You need to include the forename.",
                    "source": {
                      "pointer": "/data/attributes/forename"
                    }
                  },
                  {
                    "code": 2549,
                    "title": "Surname is too short",
                    "detail": "You need to enter a surname with at least 2 characters",
                    "source": {
                      "pointer": "/data/attributes/surname"
                    }
                  },
                  {
                    "code": 2524,
                    "title": "Surname is a required field.",
                    "detail": "You need to include the surname.",
                    "source": {
                      "pointer": "/data/attributes/surname"
                    }
                  },
                  {
                    "code": 2554,
                    "title": "Address postcode is too short.",
                    "detail": "You need to enter postcode of your address with at least 2 characters.",
                    "source": {
                      "pointer": "/data/attributes/postcode"
                    }
                  },
                  {
                    "code": 2526,
                    "title": "Postcode is a required field.",
                    "detail": "You need to include the postcode.",
                    "source": {
                      "pointer": "/data/attributes/postcode"
                    }
                  },
                  {
                    "code": 2565,
                    "title": "The start date is not in the correct date format.",
                    "detail": "The start date is not in the correct date format. Check the date you are entering and make sure it is in the correct Date format.",
                    "source": {
                      "pointer": "/data/attributes/starts_on"
                    }
                  },
                  {
                    "code": 2527,
                    "title": "Employment start date is a required field.",
                    "detail": "You need to include the employment start date.",
                    "source": {
                      "pointer": "/data/attributes/starts_on"
                    }
                  },
                  {
                    "code": 2504,
                    "title": "Date of birth is a required field.",
                    "detail": "You need to enter the date of birth.",
                    "source": {
                      "pointer": "/data/attributes/date_of_birth"
                    }
                  }
                ]
              }
            }
          }
        }
      },
      "get": {
        "summary": "Companies/Employees/List",
        "tags": [
          "Employee"
        ],
        "security": [
          {
            "oAuth2": [
              "user",
              "customer"
            ]
          }
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "examples": {
              "application/json": {
                "limit": 50,
                "offset": 0,
                "total": 2,
                "links": [
                  {
                    "rel": "self",
                    "title": "self",
                    "href": "http://api.host.com/companies/232/employees"
                  },
                  {
                    "rel": "first",
                    "title": "first",
                    "href": "http://api.host.com/companies/232/employees?offset=0&limit=50"
                  },
                  {
                    "rel": "last",
                    "title": "last",
                    "href": "http://api.host.com/companies/232/employees?offset=0&limit=50"
                  }
                ],
                "employees": [
                  {
                    "id": 137,
                    "email": "m1@example.com",
                    "reset_password_token": null,
                    "reset_password_sent_at": null,
                    "remember_created_at": null,
                    "last_sign_in_at": null,
                    "slug": "fsurname",
                    "created_at": "2018-05-03T17:12:43.000+01:00",
                    "updated_at": "2018-05-03T17:12:43.000+01:00",
                    "confirmation_token": null,
                    "gauth_secret": "y2a2hhlbppwin55detr2hcwau5mcz22cscap6avvzjugxzj56prx274oexne7g62",
                    "gauth_enabled": false,
                    "gauth_tmp": null,
                    "forename": "forename",
                    "surname": "surname",
                    "title": null,
                    "authentication_token": "4Ge88nCbR_hc5zqReXF_",
                    "date_of_birth": "1996-05-03",
                    "group_id": null,
                    "line2": null,
                    "city": null,
                    "county": null,
                    "postcode": "postcode",
                    "line1": null,
                    "telephone": null,
                    "national_insurance_number": null,
                    "works_in_uk": true,
                    "starts_on": "2018-05-03",
                    "authentication_token_generated_at": "2018-05-03T17:12:43.000+01:00",
                    "male": true,
                    "company_percentage": 2.0,
                    "company_percentage_matched": 2.0,
                    "company_match": false,
                    "percentage": 3.0,
                    "contribute_if_entitled": true,
                    "enforce_password": true,
                    "ends_on": null,
                    "exit_reason": null,
                    "onboarded_at": null,
                    "opt_out_on": null,
                    "opt_state": "ignition",
                    "opt_in_on": null,
                    "opt_out_window_starts_on": null,
                    "company_id": 232,
                    "api_key": "y-l-x1KbcAIoGySGYHNV1Q",
                    "automatically_enrolled": false,
                    "external_id": null,
                    "fund_id": null,
                    "customer_id": null,
                    "referral_clicks": 0,
                    "fund_glidepath_id": null,
                    "links": [
                      {
                        "rel": "company",
                        "title": "company",
                        "href": "https://api.host.com/companies/232"
                      }
                    ]
                  },
                  {
                    "id": 138,
                    "email": "m2@example.com",
                    "reset_password_token": null,
                    "reset_password_sent_at": null,
                    "remember_created_at": null,
                    "last_sign_in_at": null,
                    "slug": "fsurname9",
                    "created_at": "2018-05-03T17:12:43.000+01:00",
                    "updated_at": "2018-05-03T17:12:43.000+01:00",
                    "confirmation_token": null,
                    "gauth_secret": "bdwj5eyzsr3cgo2qqtn6zrmyyodqgotxldvly26zee6i2lhmtk5oa3px2x7xpgak",
                    "gauth_enabled": false,
                    "gauth_tmp": null,
                    "forename": "forename",
                    "surname": "surname",
                    "title": null,
                    "authentication_token": "x3ErFwbf7ym5Z942rWoL",
                    "date_of_birth": "1996-05-03",
                    "group_id": null,
                    "line2": null,
                    "city": null,
                    "county": null,
                    "postcode": "postcode",
                    "line1": null,
                    "telephone": null,
                    "national_insurance_number": null,
                    "works_in_uk": true,
                    "starts_on": "2018-05-03",
                    "authentication_token_generated_at": "2018-05-03T17:12:43.000+01:00",
                    "male": true,
                    "company_percentage": 2.0,
                    "company_percentage_matched": 2.0,
                    "company_match": false,
                    "percentage": 3.0,
                    "contribute_if_entitled": true,
                    "enforce_password": true,
                    "ends_on": null,
                    "exit_reason": null,
                    "onboarded_at": null,
                    "opt_out_on": null,
                    "opt_state": "ignition",
                    "opt_in_on": null,
                    "opt_out_window_starts_on": null,
                    "company_id": 232,
                    "api_key": "SLvGin-sI9bvl4GG9zDJtg",
                    "automatically_enrolled": false,
                    "external_id": null,
                    "fund_id": null,
                    "customer_id": null,
                    "referral_clicks": 0,
                    "fund_glidepath_id": null,
                    "links": [
                      {
                        "rel": "company",
                        "title": "company",
                        "href": "https://api.host.com/companies/232"
                      }
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/companies/{company_id}/employees/{id}": {
      "delete": {
        "summary": "Companies/Employees/Destroy",
        "tags": [
          "Employee"
        ],
        "security": [
          {
            "oAuth2": [
              "user",
              "customer"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "company_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success",
            "examples": {
              "application/json": ""
            }
          },
          "404": {
            "description": "Not Found",
            "examples": {
              "application/json": ""
            }
          },
          "403": {
            "description": "Forbidden - Employee cannot be deleted",
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": 27,
                    "title": "Employee cannot be deleted because there is account information which must be retained.",
                    "detail": "The employee cannot be deleted because there is contributions or postponement records for this employee and this information must be retained.",
                    "source": {
                      "pointer": "/base"
                    }
                  }
                ]
              }
            }
          }
        }
      },
      "get": {
        "summary": "Companies/Employees/Get",
        "tags": [
          "Employee"
        ],
        "security": [
          {
            "oAuth2": [
              "user",
              "customer"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "company_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "examples": {
              "application/json": {
                "id": 135,
                "email": "email@example.com",
                "reset_password_token": null,
                "reset_password_sent_at": null,
                "remember_created_at": null,
                "last_sign_in_at": null,
                "slug": "fsurname",
                "created_at": "2018-05-03T17:12:41.000+01:00",
                "updated_at": "2018-05-03T17:12:41.000+01:00",
                "confirmation_token": null,
                "gauth_secret": "qgwmusmo3e2oqnjyucvnpmp3bswiliisvmjdkd4wq3c7vwzemtundmyx7ftufhve",
                "gauth_enabled": false,
                "gauth_tmp": null,
                "forename": "forename",
                "surname": "surname",
                "title": null,
                "authentication_token": "CVNSu7fjzkLEFYRGEGYx",
                "date_of_birth": "1996-05-03",
                "group_id": null,
                "line2": null,
                "city": null,
                "county": null,
                "postcode": "postcode",
                "line1": null,
                "telephone": null,
                "national_insurance_number": null,
                "works_in_uk": true,
                "starts_on": "2018-05-03",
                "authentication_token_generated_at": "2018-05-03T17:12:41.000+01:00",
                "male": true,
                "company_percentage": 2.0,
                "company_percentage_matched": 2.0,
                "company_match": false,
                "percentage": 3.0,
                "contribute_if_entitled": true,
                "enforce_password": true,
                "ends_on": null,
                "exit_reason": null,
                "onboarded_at": null,
                "opt_out_on": null,
                "opt_state": "ignition",
                "opt_in_on": null,
                "opt_out_window_starts_on": null,
                "company_id": 230,
                "api_key": "WWU3j6_QFz7hfSl7exUsqw",
                "automatically_enrolled": false,
                "external_id": null,
                "fund_id": null,
                "customer_id": null,
                "referral_clicks": 0,
                "fund_glidepath_id": null,
                "links": [
                  {
                    "rel": "company",
                    "title": "company",
                    "href": "https://api.host.com/companies/230"
                  }
                ]
              }
            }
          },
          "404": {
            "description": "Not Found",
            "examples": {
              "application/json": ""
            }
          }
        }
      },
      "patch": {
        "summary": "Employees/Update",
        "tags": [
          "Employee"
        ],
        "security": [
          {
            "oAuth2": [
              "user",
              "customer"
            ]
          }
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "employee",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/employee"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Updates an employee. Only the field submited in the request are used.",
            "examples": {
              "application/json": ""
            }
          },
          "422": {
            "description": "Invalid parameters",
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": 2577,
                    "title": "Forename is too short",
                    "detail": "You need to enter a forename with at least 2 characters",
                    "source": {
                      "pointer": "/data/attributes/forename"
                    }
                  },
                  {
                    "code": 2522,
                    "title": "Forename is a required field.",
                    "detail": "You need to include the forename.",
                    "source": {
                      "pointer": "/data/attributes/forename"
                    }
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/companies/{company_id}/employees/{employee_id}/opt_in_requests/{id}": {
      "patch": {
        "summary": "Companies/Employees/OptInRequests/Update",
        "tags": [
          "OptInRequest"
        ],
        "security": [
          {
            "oAuth2": [
              "user",
              "customer"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "employee_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "company_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "opt_in_request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/opt_in_request"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success",
            "examples": {
              "application/json": ""
            }
          }
        }
      }
    },
    "/companies/{company_id}/employees/{id}/opt_state": {
      "get": {
        "summary": "Companies/Employees/OptStates/Get",
        "tags": [
[...]
