{
  "swagger": "2.0",
  "info": {
    "version": "Current",
    "title": "Smart Pension API",
    "description": "This is the endpoint description of Smart Pension API."
  },
  "host": "api.sandbox.autoenrolment.co.uk",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "paths": {
    "/companies/{company_id}/enrolments": {
      "post": {
        "summary": "Companies/Enrolments/Create",
        "tags": [
          "Enrolments"
        ],
        "description": "",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "event_on",
            "in": "query",
            "required": true,
            "description": "Enrolment Event On",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "201": {
            "description": "Created",
            "examples": {
              "application/json": "{\n  \"id\": 3,\n  \"company_id\": 16,\n  \"event_on\": \"2017-05-15\",\n  \"next_re_declaration_of_compliance_deadline_on\": \"2020-10-14\",\n  \"next_re_enrolment_window_starts_on\": \"2020-02-15\",\n  \"next_re_enrolment_window_ends_on\": \"2020-08-14\",\n  \"created_at\": \"2017-05-15T09:24:35.000+01:00\",\n  \"updated_at\": \"2017-05-15T09:24:35.000+01:00\",\n  \"links\": [\n\n  ]\n}"
            }
          },
          "422": {
            "description": "Unprocessable",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 3201,\n      \"title\": \"Enrolment event on is a required field.\",\n      \"detail\": \"Please include your re-enrolment date.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/event_on\"\n      }\n    },\n    {\n      \"code\": 3201,\n      \"title\": \"Enrolment event on is a required field.\",\n      \"detail\": \"Please include your re-enrolment date.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/event_on\"\n      }\n    }\n  ]\n}"
            }
          },
          "403": {
            "description": "Forbidden",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 45,\n      \"title\": \"The re-enrolment date cannot be created yet.\",\n      \"detail\": \"The re-enrolment date cannot be created because it is too far in the future. You will be able to set it from 01 January, 2020\",\n      \"source\": {\n        \"pointer\": \"/base\"\n      }\n    }\n  ]\n}"
            }
          }
        }
      },
      "get": {
        "summary": "Companies/Enrolments/List",
        "tags": [
          "Enrolments"
        ],
        "description": "",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "string"
          },
          {
            "name": "include",
            "in": "query",
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string"
          },
          {
            "name": "direction",
            "in": "query",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "422": {
            "description": "Unprocessable",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 1504,\n      \"title\": \"Offset must be greater than or equal to 0.\",\n      \"detail\": \"You need to enter an offset which must be a numerical value greater or equal than 0.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/offset\"\n      }\n    }\n  ]\n}"
            }
          },
          "200": {
            "description": "OK",
            "examples": {
              "application/json": "{\n  \"limit\": 50,\n  \"offset\": 0,\n  \"total\": 2,\n  \"links\": [\n    {\n      \"rel\": \"self\",\n      \"title\": \"self\",\n      \"href\": \"http://api.example.com/companies/187/enrolments?include%5B%5D=company\"\n    },\n    {\n      \"rel\": \"first\",\n      \"title\": \"first\",\n      \"href\": \"http://api.example.com/companies/187/enrolments?include%5B%5D=company&offset=0&limit=50\"\n    },\n    {\n      \"rel\": \"last\",\n      \"title\": \"last\",\n      \"href\": \"http://api.example.com/companies/187/enrolments?include%5B%5D=company&offset=0&limit=50\"\n    }\n  ],\n  \"enrolments\": [\n    {\n      \"id\": 185,\n      \"company_id\": 187,\n      \"event_on\": \"2014-07-01\",\n      \"next_re_declaration_of_compliance_deadline_on\": \"2017-11-30\",\n      \"next_re_enrolment_window_starts_on\": \"2017-04-01\",\n      \"next_re_enrolment_window_ends_on\": \"2017-09-30\",\n      \"created_at\": \"2017-05-15T09:25:22.000+01:00\",\n      \"updated_at\": \"2017-05-15T09:25:22.000+01:00\",\n      \"links\": [\n\n      ],\n      \"company\": {\n        \"id\": 187,\n        \"name\": \"name\",\n        \"slug\": \"name\",\n        \"registration_number\": \"number\",\n        \"staging_on\": \"2014-07-01\",\n        \"tax_office_number\": null,\n        \"tax_office_employer_reference\": null,\n        \"contact_id\": 273,\n        \"contact_type\": \"Customer\",\n        \"legal_structure\": \"Limited Company\",\n        \"welcome_letters_reminder_sent_at\": null,\n        \"pension_regulator_letter_code\": null,\n        \"trading_address1\": null,\n        \"trading_address2\": null,\n        \"trading_address3\": null,\n        \"trading_address_postcode\": null,\n        \"reg_address1\": null,\n        \"reg_address2\": null,\n        \"reg_address3\": null,\n        \"reg_address4\": null,\n        \"reg_address_postcode\": null,\n        \"pensionable_earning_type\": \"unbanded\",\n        \"automatic_postponement_period\": null,\n        \"default_percentage\": 1.0,\n        \"employer_pension_scheme_registration\": \"SMART10000187\",\n        \"created_at\": \"2017-05-15T09:25:22.000+01:00\",\n        \"updated_at\": \"2017-05-15T09:25:22.000+01:00\",\n        \"status\": \"active\"\n      }\n    },\n    {\n      \"id\": 186,\n      \"company_id\": 187,\n      \"event_on\": \"2017-05-01\",\n      \"next_re_declaration_of_compliance_deadline_on\": \"2020-09-30\",\n      \"next_re_enrolment_window_starts_on\": \"2020-02-01\",\n      \"next_re_enrolment_window_ends_on\": \"2020-07-31\",\n      \"created_at\": \"2017-05-15T09:25:22.000+01:00\",\n      \"updated_at\": \"2017-05-15T09:25:22.000+01:00\",\n      \"links\": [\n\n      ],\n      \"company\": {\n        \"id\": 187,\n        \"name\": \"name\",\n        \"slug\": \"name\",\n        \"registration_number\": \"number\",\n        \"staging_on\": \"2014-07-01\",\n        \"tax_office_number\": null,\n        \"tax_office_employer_reference\": null,\n        \"contact_id\": 273,\n        \"contact_type\": \"Customer\",\n        \"legal_structure\": \"Limited Company\",\n        \"welcome_letters_reminder_sent_at\": null,\n        \"pension_regulator_letter_code\": null,\n        \"trading_address1\": null,\n        \"trading_address2\": null,\n        \"trading_address3\": null,\n        \"trading_address_postcode\": null,\n        \"reg_address1\": null,\n        \"reg_address2\": null,\n        \"reg_address3\": null,\n        \"reg_address4\": null,\n        \"reg_address_postcode\": null,\n        \"pensionable_earning_type\": \"unbanded\",\n        \"automatic_postponement_period\": null,\n        \"default_percentage\": 1.0,\n        \"employer_pension_scheme_registration\": \"SMART10000187\",\n        \"created_at\": \"2017-05-15T09:25:22.000+01:00\",\n        \"updated_at\": \"2017-05-15T09:25:22.000+01:00\",\n        \"status\": \"active\"\n      }\n    }\n  ]\n}"
            }
          }
        }
      }
    },
    "/users/password": {
      "post": {
        "summary": "Users/Password/Create",
        "tags": [
          "Password"
        ],
        "description": "",
        "parameters": [
          {
            "name": "reset_password_token",
            "in": "query",
            "required": true,
            "description": "Password recovery token",
            "type": "string"
          },
          {
            "name": "password",
            "in": "query",
            "required": true,
            "description": "User new password",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "201": {
            "description": "Created",
            "examples": {
              "application/json": "{\n  \"id\": 3,\n  \"api_key\": \"8fyTHOGBjCvEbs64bTLsIA\"\n}"
            }
          },
          "422": {
            "description": "Unprocessable",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 1201,\n      \"title\": \"Password is a required field.\",\n      \"detail\": \"You need to enter a password.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/password\"\n      }\n    },\n    {\n      \"code\": 1201,\n      \"title\": \"Password is a required field.\",\n      \"detail\": \"You need to enter a password.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/password\"\n      }\n    }\n  ]\n}"
            }
          }
        }
      }
    },
    "/companies/{company_id}/groups/{id}": {
      "patch": {
        "summary": "Companies/Groups/Update",
        "tags": [
          "Groups"
        ],
        "description": "",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "204": {
            "description": "Empty",
            "examples": {
              "application/json": "{}"
            }
          },
          "422": {
            "description": "Unprocessable",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 1101,\n      \"title\": \"Group name is required.\",\n      \"detail\": \"You need to enter a name for the group so you can identify the different groups of employees within your company.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/name\"\n      }\n    }\n  ]\n}"
            }
          }
        }
      },
      "get": {
        "summary": "Companies/Groups/Get",
        "tags": [
          "Groups"
        ],
        "description": "",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "type": "string"
          },
          {
            "name": "include",
            "in": "query",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "200": {
            "description": "OK",
            "examples": {
              "application/json": "{\n  \"id\": 15\n}"
            }
          }
        }
      },
      "delete": {
        "summary": "Companies/Groups/Destroy",
        "tags": [
          "Groups"
        ],
        "description": "",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "204": {
            "description": "Empty",
            "examples": {
              "application/json": "{}"
            }
          }
        }
      }
    },
    "/employees/verify_credentials": {
      "get": {
        "summary": "Employees/VerifyCredentials",
        "tags": [
          "Employees"
        ],
        "description": "",
        "parameters": [
          {
            "name": "slug",
            "in": "query",
            "type": "string"
          },
          {
            "name": "login",
            "in": "query",
            "type": "string"
          },
          {
            "name": "password",
            "in": "query",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "200": {
            "description": "OK",
            "examples": {
              "application/json": "{\n  \"id\": 8,\n  \"two_fa_tmp_token\": \"89_h2eaN_bsiopkNssNU\"\n}"
            }
          }
        }
      }
    },
    "/companies/{company_id}/billing_detail": {
      "get": {
        "summary": "Companies/BillingDetail/Get",
        "tags": [
          "BillingDetail"
        ],
        "description": "",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "200": {
            "description": "OK",
            "examples": {
              "application/json": "{\n  \"state\": \"ignition\",\n  \"created_at\": \"2017-05-15T09:24:38.000+01:00\"\n}"
            }
          }
        }
      },
      "post": {
        "summary": "Companies/BillingDetail/Create",
        "tags": [
          "BillingDetail"
        ],
        "description": "",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "success_url",
            "in": "query",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "201": {
            "description": "Created",
            "examples": {
              "application/json": "{\n  \"redirect_url\": \"http://gocardless.com/RF1\"\n}"
            }
          },
          "422": {
            "description": "Unprocessable",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 2701,\n      \"title\": \"Success URL is not a valid URL\",\n      \"detail\": \"Success URL must be a valid https URL\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/success_url\"\n      }\n    }\n  ]\n}"
            }
          }
        }
      },
      "patch": {
        "summary": "Companies/BillingDetail/Update",
        "tags": [
          "BillingDetail"
        ],
        "description": "",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "204": {
            "description": "Empty",
            "examples": {
              "application/json": "{}"
            }
          }
        }
      }
    },
    "/companies/{company_id}/avatar": {
      "post": {
        "summary": "Companies/Avatar/Create",
        "tags": [
          "Avatar"
        ],
        "description": "",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "picture",
            "in": "query",
            "required": true,
            "description": "Company logo file",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "201": {
            "description": "Created",
            "examples": {
              "application/json": "{\n  \"id\": 2,\n  \"picture_url\": \"/home/anthony/code/api/public/system/avatars/pictures/000/000/002/original/image.jpeg\",\n  \"company_id\": 27,\n  \"created_at\": \"2017-05-15T09:24:38.000+01:00\",\n  \"updated_at\": \"2017-05-15T09:24:38.000+01:00\",\n  \"links\": [\n\n  ]\n}"
            }
          },
          "403": {
            "description": "Forbidden",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 20,\n      \"title\": \"Record already exists.\",\n      \"detail\": \"You can't create multiple records.\",\n      \"source\": {\n        \"pointer\": \"/base\"\n      }\n    }\n  ]\n}"
            }
          },
          "422": {
            "description": "Unprocessable",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 401,\n      \"title\": \"The picture is required.\",\n      \"detail\": \"You need to upload a picture for your company logo.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/picture\"\n      }\n    },\n    {\n      \"code\": 401,\n      \"title\": \"The picture is required.\",\n      \"detail\": \"You need to upload a picture for your company logo.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/picture\"\n      }\n    },\n    {\n      \"code\": 401,\n      \"title\": \"The picture is required.\",\n      \"detail\": \"You need to upload a picture for your company logo.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/picture\"\n      }\n    }\n  ]\n}"
            }
          }
        }
      },
      "get": {
        "summary": "Companies/Avatar/Get",
        "tags": [
          "Avatar"
        ],
        "description": "",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "200": {
            "description": "OK",
            "examples": {
              "application/json": "{\n  \"id\": 4,\n  \"picture_url\": \"/home/anthony/code/api/public/system/avatars/pictures/000/000/004/original/image.jpeg\",\n  \"company_id\": 331,\n  \"created_at\": \"2017-05-15T09:26:12.000+01:00\",\n  \"updated_at\": \"2017-05-15T09:26:12.000+01:00\",\n  \"links\": [\n\n  ]\n}"
            }
          }
        }
      },
      "patch": {
        "summary": "Companies/Avatar/Update",
        "tags": [
          "Avatar"
        ],
        "description": "",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "picture",
            "in": "query",
            "required": true,
            "description": "Company logo file",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "204": {
            "description": "Empty",
            "examples": {
              "application/json": "{}"
            }
          },
          "422": {
            "description": "Unprocessable",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 404,\n      \"title\": \"The picture file size is less than allowed.\",\n      \"detail\": \"The picture file size must be greater than 1 byte.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/picture\"\n      }\n    }\n  ]\n}"
            }
          }
        }
      }
    },
    "/companies/{company_id}/employees/{employee_id}/messages/{id}": {
      "get": {
        "summary": "Companies/Employees/Messages/Get",
        "tags": [
          "Messages"
        ],
        "description": "",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "employee_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "include",
            "in": "query",
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "200": {
            "description": "OK",
            "examples": {
              "application/json": "{\n  \"id\": 3,\n  \"subject\": \"Welcome to your Smart Pension\",\n  \"body\": null,\n  \"name\": \"welcome\",\n  \"recipient_id\": 11,\n  \"recipient_type\": \"Employee\",\n  \"read\": false,\n  \"created_at\": \"2017-05-15T09:24:39.000+01:00\",\n  \"updated_at\": \"2017-05-15T09:24:39.000+01:00\",\n  \"message_attachments_count\": 1,\n  \"links\": [\n\n  ],\n  \"recipient\": {\n    \"id\": 11,\n    \"email\": \"email@example.com\",\n    \"reset_password_token\": null,\n    \"reset_password_sent_at\": null,\n    \"remember_created_at\": null,\n    \"last_sign_in_at\": null,\n    \"slug\": \"fsurname\",\n    \"created_at\": \"2017-05-15T09:24:39.000+01:00\",\n    \"updated_at\": \"2017-05-15T09:24:39.000+01:00\",\n    \"confirmation_token\": null,\n    \"gauth_secret\": \"x56acxi3oi5zx3hvp72mhqzpkbyussaplzc66p2kfq2a7ur7csmp3pbv524sdnd6\",\n    \"gauth_enabled\": false,\n    \"gauth_tmp\": null,\n    \"forename\": \"forename\",\n    \"surname\": \"surname\",\n    \"title\": null,\n    \"authentication_token\": \"DuzspzMpyx8SxfyAxLVk\",\n    \"date_of_birth\": \"1995-05-15\",\n    \"group_id\": null,\n    \"line2\": null,\n    \"city\": null,\n    \"county\": null,\n    \"postcode\": \"postcode\",\n    \"line1\": null,\n    \"telephone\": null,\n    \"national_insurance_number\": null,\n    \"works_in_uk\": true,\n    \"starts_on\": \"2017-05-15\",\n    \"authentication_token_generated_at\": \"2017-05-15T09:24:39.000+01:00\",\n    \"male\": true,\n    \"company_percentage\": 1.0,\n    \"company_percentage_matched\": 1.0,\n    \"company_match\": false,\n    \"percentage\": 1.0,\n    \"contribute_if_entitled\": true,\n    \"temporary_password\": \"YR-TJ1RY\",\n    \"ends_on\": null,\n    \"exit_reason\": null,\n    \"opt_out_on\": null,\n    \"opt_state\": \"ignition\",\n    \"opt_in_on\": null,\n    \"opt_out_window_starts_on\": null,\n    \"company_id\": 31,\n    \"api_key\": \"Qt2f51t6tLPHNhX53CKCNA\",\n    \"automatically_enrolled\": false,\n    \"external_id\": null,\n    \"fund_id\": 1,\n    \"customer_id\": null,\n    \"referral_clicks\": 0,\n    \"contribution_ids\": [\n\n    ],\n    \"links\": [\n\n    ]\n  }\n}"
            }
          }
        }
      },
      "patch": {
        "summary": "Companies/Employees/Messages/Update",
        "tags": [
          "Messages"
        ],
        "description": "",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "employee_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "204": {
            "description": "Empty",
            "examples": {
              "application/json": "{}"
            }
          }
        }
      }
    },
    "/notifications/user_passwords": {
      "post": {
        "summary": "Notifications/UserPasswords",
        "tags": [
          "Notifications"
        ],
        "description": "",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "description": "user email",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "201": {
            "description": "Created",
            "examples": {
              "application/json": "{\n  \"email\": \"user@example.com\"\n}"
            }
          },
          "422": {
            "description": "Unprocessable",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 501,\n      \"title\": \"Email address is a required field.\",\n      \"detail\": \"You need to include the email address.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/email\"\n      }\n    },\n    {\n      \"code\": 501,\n      \"title\": \"Email address is a required field.\",\n      \"detail\": \"You need to include the email address.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/email\"\n      }\n    }\n  ]\n}"
            }
          }
        }
      }
    },
    "/companies/{company_id}/employees/{employee_id}/referrals": {
      "get": {
        "summary": "Companies/Employees/Referrals/List",
        "tags": [
          "Referrals"
        ],
        "description": "",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "employee_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string"
          },
          {
            "name": "direction",
            "in": "query",
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "200": {
            "description": "OK",
            "examples": {
              "application/json": "{\n  \"limit\": 50,\n  \"offset\": 0,\n  \"total\": 2,\n  \"links\": [\n    {\n      \"rel\": \"self\",\n      \"title\": \"self\",\n      \"href\": \"http://api.example.com/companies/34/employees/14/referrals?direction=DESC&sort=created_at\"\n    },\n    {\n      \"rel\": \"first\",\n      \"title\": \"first\",\n      \"href\": \"http://api.example.com/companies/34/employees/14/referrals?direction=DESC&sort=created_at&offset=0&limit=50\"\n    },\n    {\n      \"rel\": \"last\",\n      \"title\": \"last\",\n      \"href\": \"http://api.example.com/companies/34/employees/14/referrals?direction=DESC&sort=created_at&offset=0&limit=50\"\n    }\n  ],\n  \"referred_customers\": [\n    {\n      \"id\": 36,\n      \"forename\": \"forename\",\n      \"referral_state\": \"ignition\",\n      \"referral_reward_name\": null\n    },\n    {\n      \"id\": 35,\n      \"forename\": \"forename\",\n      \"referral_state\": \"ignition\",\n      \"referral_reward_name\": null\n    }\n  ]\n}"
            }
          },
          "422": {
            "description": "Unprocessable",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 1504,\n      \"title\": \"Offset must be greater than or equal to 0.\",\n      \"detail\": \"You need to enter an offset which must be a numerical value greater or equal than 0.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/offset\"\n      }\n    }\n  ]\n}"
            }
          }
        }
      }
    },
    "/companies/{company_id}/employees": {
      "get": {
        "summary": "Companies/Employees/List",
        "tags": [
          "Employees"
        ],
        "description": "",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "include",
            "in": "query",
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string"
          },
          {
            "name": "direction",
            "in": "query",
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "200": {
            "description": "OK",
            "examples": {
              "application/json": "{\n  \"limit\": 50,\n  \"offset\": 0,\n  \"total\": 2,\n  \"links\": [\n    {\n      \"rel\": \"self\",\n      \"title\": \"self\",\n      \"href\": \"http://api.example.com/companies/46/employees\"\n    },\n    {\n      \"rel\": \"first\",\n      \"title\": \"first\",\n      \"href\": \"http://api.example.com/companies/46/employees?offset=0&limit=50\"\n    },\n    {\n      \"rel\": \"last\",\n      \"title\": \"last\",\n      \"href\": \"http://api.example.com/companies/46/employees?offset=0&limit=50\"\n    }\n  ],\n  \"employees\": [\n    {\n      \"id\": 18,\n      \"email\": \"m1@example.com\",\n      \"reset_password_token\": null,\n      \"reset_password_sent_at\": null,\n      \"remember_created_at\": null,\n      \"last_sign_in_at\": null,\n      \"slug\": \"fsurname\",\n      \"created_at\": \"2017-05-15T09:24:42.000+01:00\",\n      \"updated_at\": \"2017-05-15T09:24:42.000+01:00\",\n      \"confirmation_token\": null,\n      \"gauth_secret\": \"ed4uhjdqc6xfxgf266ql2rqw5uqpzqymckd47tkwi5yvd25qpqmg2zibjvpytdnb\",\n      \"gauth_enabled\": false,\n      \"gauth_tmp\": null,\n      \"forename\": \"forename\",\n      \"surname\": \"surname\",\n      \"title\": null,\n      \"authentication_token\": \"mQBHYiwQ3tXRVowky8Ga\",\n      \"date_of_birth\": \"1995-05-15\",\n      \"group_id\": null,\n      \"line2\": null,\n      \"city\": null,\n      \"county\": null,\n      \"postcode\": \"postcode\",\n      \"line1\": null,\n      \"telephone\": null,\n      \"national_insurance_number\": null,\n      \"works_in_uk\": true,\n      \"starts_on\": \"2017-05-15\",\n      \"authentication_token_generated_at\": \"2017-05-15T09:24:42.000+01:00\",\n      \"male\": true,\n      \"company_percentage\": 1.0,\n      \"company_percentage_matched\": 1.0,\n      \"company_match\": false,\n      \"percentage\": 1.0,\n      \"contribute_if_entitled\": true,\n      \"temporary_password\": \"c3aBbZwq\",\n      \"ends_on\": null,\n      \"exit_reason\": null,\n      \"opt_out_on\": null,\n      \"opt_state\": \"ignition\",\n      \"opt_in_on\": null,\n      \"opt_out_window_starts_on\": null,\n      \"company_id\": 46,\n      \"api_key\": \"5BPoJZWLvE0au8WmzMRy_Q\",\n      \"automatically_enrolled\": false,\n      \"external_id\": null,\n      \"fund_id\": 1,\n      \"customer_id\": null,\n      \"referral_clicks\": 0,\n      \"contribution_ids\": [\n\n      ],\n      \"links\": [\n        {\n          \"rel\": \"company\",\n          \"title\": \"company\",\n          \"href\": \"https://api.host.com/companies/46\"\n        }\n      ]\n    },\n    {\n      \"id\": 19,\n      \"email\": \"m2@example.com\",\n      \"reset_password_token\": null,\n      \"reset_password_sent_at\": null,\n      \"remember_created_at\": null,\n      \"last_sign_in_at\": null,\n      \"slug\": \"fsurname1\",\n      \"created_at\": \"2017-05-15T09:24:42.000+01:00\",\n      \"updated_at\": \"2017-05-15T09:24:42.000+01:00\",\n      \"confirmation_token\": null,\n      \"gauth_secret\": \"6hv4dnqjs4czau7dus3eyxlmp3uqfedezpz7zpe4whsnesj7beriyrkhegauqz6p\",\n      \"gauth_enabled\": false,\n      \"gauth_tmp\": null,\n      \"forename\": \"forename\",\n      \"surname\": \"surname\",\n      \"title\": null,\n      \"authentication_token\": \"yZhvoMtx59dYvhRofnza\",\n      \"date_of_birth\": \"1995-05-15\",\n      \"group_id\": null,\n      \"line2\": null,\n      \"city\": null,\n      \"county\": null,\n      \"postcode\": \"postcode\",\n      \"line1\": null,\n      \"telephone\": null,\n      \"national_insurance_number\": null,\n      \"works_in_uk\": true,\n      \"starts_on\": \"2017-05-15\",\n      \"authentication_token_generated_at\": \"2017-05-15T09:24:42.000+01:00\",\n      \"male\": true,\n      \"company_percentage\": 1.0,\n      \"company_percentage_matched\": 1.0,\n      \"company_match\": false,\n      \"percentage\": 1.0,\n      \"contribute_if_entitled\": true,\n      \"temporary_password\": \"8-Yn6zPn\",\n      \"ends_on\": null,\n      \"exit_reason\": null,\n      \"opt_out_on\": null,\n      \"opt_state\": \"ignition\",\n      \"opt_in_on\": null,\n      \"opt_out_window_starts_on\": null,\n      \"company_id\": 46,\n      \"api_key\": \"2GUdnGCFEqY6LUbjwV6Mjg\",\n      \"automatically_enrolled\": false,\n      \"external_id\": null,\n      \"fund_id\": 1,\n      \"customer_id\": null,\n      \"referral_clicks\": 0,\n      \"contribution_ids\": [\n\n      ],\n      \"links\": [\n        {\n          \"rel\": \"company\",\n          \"title\": \"company\",\n          \"href\": \"https://api.host.com/companies/46\"\n        }\n      ]\n    }\n  ]\n}"
            }
          },
          "422": {
            "description": "Unprocessable",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 1504,\n      \"title\": \"Offset must be greater than or equal to 0.\",\n      \"detail\": \"You need to enter an offset which must be a numerical value greater or equal than 0.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/offset\"\n      }\n    }\n  ]\n}"
            }
          }
        }
      },
      "post": {
        "summary": "Companies/Employees/Create",
        "tags": [
          "Employees"
        ],
        "description": "",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "external_id",
            "in": "query",
            "required": true,
            "description": "External ID",
            "type": "string"
          },
          {
            "name": "fund_id",
            "in": "query",
            "required": true,
            "description": "Fund ID",
            "type": "string"
          },
          {
            "name": "email",
            "in": "query",
            "required": true,
            "description": "Employee email",
            "type": "string"
          },
          {
            "name": "forename",
            "in": "query",
            "required": true,
            "description": "Employee forename",
            "type": "string"
          },
          {
            "name": "surname",
            "in": "query",
            "required": true,
            "description": "Employee surname",
            "type": "string"
          },
          {
            "name": "title",
            "in": "query",
            "required": true,
            "description": "Employee title",
            "type": "string"
          },
          {
            "name": "telephone",
            "in": "query",
            "required": true,
            "description": "Employee telephone number",
            "type": "string"
          },
          {
            "name": "male",
            "in": "query",
            "required": true,
            "description": "Employee male",
            "type": "string"
          },
          {
            "name": "line1",
            "in": "query",
            "required": true,
            "description": "Employee address line 1",
            "type": "string"
          },
          {
            "name": "line2",
            "in": "query",
            "required": true,
            "description": "Employee address line 2",
            "type": "string"
          },
          {
            "name": "city",
            "in": "query",
            "required": true,
            "description": "Employee address city",
            "type": "string"
          },
          {
            "name": "county",
            "in": "query",
            "required": true,
            "description": "Employee address county",
            "type": "string"
          },
          {
            "name": "postcode",
            "in": "query",
            "required": true,
            "description": "Employee address postcode",
            "type": "string"
          },
          {
            "name": "date_of_birth",
            "in": "query",
            "required": true,
            "description": "Employee date of birth",
            "type": "string"
          },
          {
            "name": "national_insurance_number",
            "in": "query",
            "required": true,
            "description": "Employee national insurance number",
            "type": "string"
          },
          {
            "name": "starts_on",
            "in": "query",
            "required": true,
            "description": "Employee start date",
            "type": "string"
          },
          {
            "name": "ends_on",
            "in": "query",
            "required": true,
            "description": "Employee end employment date",
            "type": "string"
          },
          {
            "name": "exit_reason",
            "in": "query",
            "required": true,
            "description": "Employee exit reason",
            "type": "string"
          },
          {
            "name": "percentage",
            "in": "query",
            "required": true,
            "description": "Employee percentage",
            "type": "string"
          },
          {
            "name": "company_percentage",
            "in": "query",
            "required": true,
            "description": "Employee company percentage",
            "type": "string"
          },
          {
            "name": "company_match",
            "in": "query",
            "required": true,
            "description": "Employee company percentage match",
            "type": "string"
          },
          {
            "name": "opt_state",
            "in": "query",
            "required": true,
            "description": "Employee opt state",
            "type": "string"
          },
          {
            "name": "group_id",
            "in": "query",
            "required": true,
            "description": "Employee group ID",
            "type": "string"
          },
          {
            "name": "works_in_uk",
            "in": "query",
            "required": true,
            "description": "Employee works in UK",
            "type": "string"
          },
          {
            "name": "contribute_if_entitled",
            "in": "query",
            "required": true,
            "description": "Employee contribute if entitled",
            "type": "string"
          },
          {
            "name": "customer_id",
            "in": "query",
            "required": true,
            "description": "Employee associated customer ID",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "201": {
            "description": "Created",
            "examples": {
              "application/json": "{\n  \"id\": 52,\n  \"email\": null,\n  \"reset_password_token\": null,\n  \"reset_password_sent_at\": null,\n  \"remember_created_at\": null,\n  \"last_sign_in_at\": null,\n  \"slug\": \"fsurname\",\n  \"created_at\": \"2017-05-15T09:25:09.000+01:00\",\n  \"updated_at\": \"2017-05-15T09:25:09.000+01:00\",\n  \"confirmation_token\": null,\n  \"gauth_secret\": \"sljegiltiee7ndys3raleowujmsredlxakux25m5ckht6d7w56kqma5vhzcbbneq\",\n  \"gauth_enabled\": false,\n  \"gauth_tmp\": null,\n  \"forename\": \"forename\",\n  \"surname\": \"surname\",\n  \"title\": null,\n  \"authentication_token\": \"JEpsj3DRhc-9K-fUFony\",\n  \"date_of_birth\": \"2017-05-14\",\n  \"group_id\": null,\n  \"line2\": null,\n  \"city\": null,\n  \"county\": null,\n  \"postcode\": \"w6 4ra\",\n  \"line1\": null,\n  \"telephone\": null,\n  \"national_insurance_number\": null,\n  \"works_in_uk\": true,\n  \"starts_on\": \"2016-01-01\",\n  \"authentication_token_generated_at\": \"2017-05-15T09:25:09.000+01:00\",\n  \"male\": true,\n  \"company_percentage\": 10.0,\n  \"company_percentage_matched\": 10.0,\n  \"company_match\": false,\n  \"percentage\": 1.0,\n  \"contribute_if_entitled\": true,\n  \"temporary_password\": \"sBtdX2xQ\",\n  \"ends_on\": null,\n  \"exit_reason\": null,\n  \"opt_out_on\": null,\n  \"opt_state\": \"ignition\",\n  \"opt_in_on\": null,\n  \"opt_out_window_starts_on\": null,\n  \"company_id\": 134,\n  \"api_key\": \"B95naL0T9be-X218S-vJhg\",\n  \"automatically_enrolled\": false,\n  \"external_id\": null,\n  \"fund_id\": 1,\n  \"customer_id\": null,\n  \"referral_clicks\": 0,\n  \"contribution_ids\": [\n\n  ],\n  \"links\": [\n    {\n      \"rel\": \"company\",\n      \"title\": \"company\",\n      \"href\": \"https://api.host.com/companies/134\"\n    }\n  ]\n}"
            }
          },
          "422": {
            "description": "Unprocessable",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 2522,\n      \"title\": \"Forename is a required field.\",\n      \"detail\": \"You need to include the forename.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/forename\"\n      }\n    },\n    {\n      \"code\": 2524,\n      \"title\": \"Surname is a required field.\",\n      \"detail\": \"You need to include the surname.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/surname\"\n      }\n    },\n    {\n      \"code\": 2526,\n      \"title\": \"Postcode is a required field.\",\n      \"detail\": \"You need to include the postcode.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/postcode\"\n      }\n    },\n    {\n      \"code\": 2504,\n      \"title\": \"Date of birth is a required field.\",\n      \"detail\": \"You need to enter the date of birth.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/date_of_birth\"\n      }\n    },\n    {\n      \"code\": 2527,\n      \"title\": \"Employment start date is a required field.\",\n      \"detail\": \"You need to include the employment start date.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/starts_on\"\n      }\n    }\n  ]\n}"
            }
          }
        }
      }
    },
    "/companies/{company_id}/exports/{id}": {
      "get": {
        "summary": "Companies/Exports/Get",
        "tags": [
          "Exports"
        ],
        "description": "",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "type": "string"
          },
          {
            "name": "include",
            "in": "query",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Export id",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "200": {
            "description": "OK",
            "examples": {
              "application/json": "{\n  \"id\": 6,\n  \"state\": \"success\",\n  \"created_at\": \"2017-05-15T09:24:44.000+01:00\",\n  \"updated_at\": \"2017-05-15T09:24:44.000+01:00\",\n  \"type\": \"ContributionsExport\",\n  \"content_type\": \"data\",\n  \"file_format\": \"csv\",\n  \"resource_type\": \"Company\",\n  \"resource_id\": 52,\n  \"metadata\": {\n  },\n  \"company_id\": 52,\n  \"links\": [\n    {\n      \"rel\": \"company\",\n      \"title\": \"company\",\n      \"href\": \"https://api.host.com/companies/52\"\n    }\n  ]\n}"
            }
          }
        }
      }
    },
    "/companies/{company_id}/employees/{employee_id}/messages/{message_id}/attachments/{id}": {
      "get": {
        "summary": "Companies/Employees/Messages/Attachments/Get",
        "tags": [
          "Attachments"
        ],
        "description": "",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "employee_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "200": {
            "description": "OK",
            "examples": {
              "application/json": "{\n  \"id\": 90974\n}"
            }
          }
        }
      }
    },
    "/customers/referrals": {
      "post": {
        "summary": "Customers/Referrals/Create",
        "tags": [
          "Referrals"
        ],
        "description": "",
        "parameters": [
          {
            "name": "referee_token",
            "in": "query",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "201": {
            "description": "Created",
            "examples": {
              "application/json": "{\n  \"id\": 59,\n  \"type\": \"customer\"\n}"
            }
          }
        }
      }
    },
    "/companies/{company_id}/customers": {
      "post": {
        "summary": "Companies/Customers/Create",
        "tags": [
          "Customers"
        ],
        "description": "",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "email",
            "in": "query",
            "required": true,
            "description": "Customer email",
            "type": "string"
          },
          {
            "name": "forename",
            "in": "query",
            "required": true,
            "description": "Customer forename",
            "type": "string"
          },
          {
            "name": "surname",
            "in": "query",
            "required": true,
            "description": "Customer surname",
            "type": "string"
          },
          {
            "name": "title",
            "in": "query",
            "required": true,
            "description": "Customer title",
            "type": "string"
          },
          {
            "name": "telephone",
            "in": "query",
            "required": true,
            "description": "Customer telephone number",
            "type": "string"
          },
          {
            "name": "male",
            "in": "query",
            "required": true,
            "description": "Customer male",
            "type": "string"
          },
          {
            "name": "line1",
            "in": "query",
            "required": true,
            "description": "Customer address line 1",
            "type": "string"
          },
          {
            "name": "line2",
            "in": "query",
            "required": true,
            "description": "Customer address line 2",
            "type": "string"
          },
          {
            "name": "city",
            "in": "query",
            "required": true,
            "description": "Customer address city",
            "type": "string"
          },
          {
            "name": "county",
            "in": "query",
            "required": true,
            "description": "Customer address county",
            "type": "string"
          },
          {
            "name": "postcode",
            "in": "query",
            "required": true,
            "description": "Customer address postcode",
            "type": "string"
          },
          {
            "name": "building_name",
            "in": "query",
            "required": true,
            "description": "Customer address building name",
            "type": "string"
          },
          {
            "name": "building_number",
            "in": "query",
            "required": true,
            "description": "Customer address building number",
            "type": "string"
          },
          {
            "name": "date_of_birth",
            "in": "query",
            "required": true,
            "description": "Customer date of birth",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "422": {
            "description": "Unprocessable",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 906,\n      \"title\": \"Email address is a required field.\",\n      \"detail\": \"You need to include the email address.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/email\"\n      }\n    },\n    {\n      \"code\": 911,\n      \"title\": \"Forename is a required field.\",\n      \"detail\": \"You need to include the forename.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/forename\"\n      }\n    },\n    {\n      \"code\": 913,\n      \"title\": \"Surname is a required field.\",\n      \"detail\": \"You need to include the surname.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/surname\"\n      }\n    },\n    {\n      \"code\": 915,\n      \"title\": \"Postcode is a required field.\",\n      \"detail\": \"You need to include the postcode.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/postcode\"\n      }\n    },\n    {\n      \"code\": 904,\n      \"title\": \"Date of birth is a required field.\",\n      \"detail\": \"You need to enter the date of birth.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/date_of_birth\"\n      }\n    }\n  ]\n}"
            }
          },
          "201": {
            "description": "Created",
            "examples": {
              "application/json": "{\n  \"id\": 62,\n  \"email\": \"email@gmail.com\",\n  \"reset_password_token\": null,\n  \"reset_password_sent_at\": null,\n  \"remember_created_at\": null,\n  \"last_sign_in_at\": null,\n  \"slug\": \"fsurname9\",\n  \"created_at\": \"2017-05-15T09:24:46.000+01:00\",\n  \"updated_at\": \"2017-05-15T09:24:46.000+01:00\",\n  \"gauth_secret\": \"wiytd5kbnfmk7gj7qnepoi57j6zf7c35saaskncnbhgusfy5udrv2rzsbitlkiw2\",\n  \"gauth_enabled\": false,\n  \"gauth_tmp\": null,\n  \"forename\": \"forename\",\n  \"surname\": \"surname\",\n  \"title\": null,\n  \"authentication_token\": \"m95dxD6oPXNdvGHZ3h8L\",\n  \"duedil_id\": null,\n  \"date_of_birth\": \"2017-05-14\",\n  \"duedil_address\": null,\n  \"line2\": null,\n  \"city\": null,\n  \"county\": null,\n  \"building_name\": null,\n  \"postcode\": \"w6 4ra\",\n  \"line1\": null,\n  \"building_number\": null,\n  \"telephone\": null,\n  \"referee_id\": null,\n  \"referee_type\": null,\n  \"referral_state\": \"ignition\",\n  \"referral_clicks\": 0,\n  \"referral_reward_name\": null,\n  \"authentication_token_generated_at\": \"2017-05-15T09:24:46.000+01:00\",\n  \"male\": true,\n  \"role\": \"admin\",\n  \"middlename\": null,\n  \"envelope_state\": \"ignition\",\n  \"temporary_password\": \"t1q_Ntn5\",\n  \"company_id\": 61,\n  \"api_key\": \"jrrNKrdNsgMrmdxIFIGe9w\",\n  \"links\": [\n    {\n      \"rel\": \"company\",\n      \"title\": \"company\",\n      \"href\": \"https://api.host.com/companies/61\"\n    }\n  ]\n}"
            }
          },
          "403": {
            "description": "Forbidden",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 35,\n      \"title\": \"Maximum number of create customers reached!\",\n      \"detail\": \"You cannot have more than 50 create customers.\",\n      \"source\": {\n        \"pointer\": \"/base\"\n      }\n    }\n  ]\n}"
            }
          }
        }
      },
      "get": {
        "summary": "Companies/Customers/List",
        "tags": [
          "Customers"
        ],
        "description": "",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "include",
            "in": "query",
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string"
          },
          {
            "name": "direction",
            "in": "query",
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "200": {
            "description": "OK",
            "examples": {
              "application/json": "{\n  \"limit\": 50,\n  \"offset\": 0,\n  \"total\": 3,\n  \"links\": [\n    {\n      \"rel\": \"self\",\n      \"title\": \"self\",\n      \"href\": \"http://api.example.com/companies/157/customers?include%5B%5D=company\"\n    },\n    {\n      \"rel\": \"first\",\n      \"title\": \"first\",\n      \"href\": \"http://api.example.com/companies/157/customers?include%5B%5D=company&offset=0&limit=50\"\n    },\n    {\n      \"rel\": \"last\",\n      \"title\": \"last\",\n      \"href\": \"http://api.example.com/companies/157/customers?include%5B%5D=company&offset=0&limit=50\"\n    }\n  ],\n  \"customers\": [\n    {\n      \"id\": 230,\n      \"email\": \"signatory@example.com\",\n      \"reset_password_token\": null,\n      \"reset_password_sent_at\": null,\n      \"remember_created_at\": null,\n      \"last_sign_in_at\": null,\n      \"slug\": \"fsurname\",\n      \"created_at\": \"2017-05-15T09:25:14.000+01:00\",\n      \"updated_at\": \"2017-05-15T09:25:14.000+01:00\",\n      \"gauth_secret\": \"7qnajrsm5fbxz3bpvildlwr45xe7h2jgsnijvkcpq2o6sxbi3iajmyrhxmzdbfsh\",\n      \"gauth_enabled\": false,\n      \"gauth_tmp\": null,\n      \"forename\": \"forename\",\n      \"surname\": \"surname\",\n      \"title\": null,\n      \"authentication_token\": \"NtwxnsoUD27egGWeAfVS\",\n      \"duedil_id\": null,\n      \"date_of_birth\": null,\n      \"duedil_address\": null,\n      \"line2\": null,\n      \"city\": null,\n      \"county\": null,\n      \"building_name\": null,\n      \"postcode\": null,\n      \"line1\": null,\n      \"building_number\": null,\n      \"telephone\": null,\n      \"referee_id\": null,\n      \"referee_type\": null,\n      \"referral_state\": \"ignition\",\n      \"referral_clicks\": 0,\n      \"referral_reward_name\": null,\n      \"authentication_token_generated_at\": \"2017-05-15T09:25:14.000+01:00\",\n      \"male\": true,\n      \"role\": \"signatory\",\n      \"middlename\": null,\n      \"envelope_state\": \"ignition\",\n      \"temporary_password\": null,\n      \"company_id\": 157,\n      \"api_key\": \"WLQWyYOEvSXcHHUz4zVy8A\",\n      \"links\": [\n        {\n          \"rel\": \"company\",\n          \"title\": \"company\",\n          \"href\": \"https://api.host.com/companies/157\"\n        }\n      ],\n      \"company\": {\n        \"id\": 157,\n        \"name\": \"name\",\n        \"slug\": \"name\",\n        \"registration_number\": \"number\",\n        \"staging_on\": \"2017-05-01\",\n        \"tax_office_number\": null,\n        \"tax_office_employer_reference\": null,\n        \"contact_id\": 230,\n        \"contact_type\": \"Customer\",\n        \"legal_structure\": \"Limited Company\",\n        \"welcome_letters_reminder_sent_at\": null,\n        \"pension_regulator_letter_code\": null,\n        \"trading_address1\": null,\n        \"trading_address2\": null,\n        \"trading_address3\": null,\n        \"trading_address_postcode\": null,\n        \"reg_address1\": null,\n        \"reg_address2\": null,\n        \"reg_address3\": null,\n        \"reg_address4\": null,\n        \"reg_address_postcode\": null,\n        \"pensionable_earning_type\": \"unbanded\",\n        \"automatic_postponement_period\": null,\n        \"default_percentage\": 1.0,\n        \"employer_pension_scheme_registration\": \"SMART10000157\",\n        \"created_at\": \"2017-05-15T09:25:14.000+01:00\",\n        \"updated_at\": \"2017-05-15T09:25:14.000+01:00\",\n        \"status\": \"active\"\n      }\n    },\n    {\n      \"id\": 231,\n      \"email\": \"email1@example.com\",\n      \"reset_password_token\": null,\n      \"reset_password_sent_at\": null,\n      \"remember_created_at\": null,\n      \"last_sign_in_at\": null,\n      \"slug\": \"fsurname9\",\n      \"created_at\": \"2017-05-15T09:25:14.000+01:00\",\n      \"updated_at\": \"2017-05-15T09:25:14.000+01:00\",\n      \"gauth_secret\": \"g4bw2ioet3md4k36k5hnjg5ciwq422kbxvdxxat7v5zkbirjf2muyl5e6zr7cyup\",\n      \"gauth_enabled\": false,\n      \"gauth_tmp\": null,\n      \"forename\": \"forename\",\n      \"surname\": \"surname\",\n      \"title\": null,\n      \"authentication_token\": \"18JHF5ShzCsV1yoUGzf3\",\n      \"duedil_id\": null,\n      \"date_of_birth\": \"2002-05-15\",\n      \"duedil_address\": null,\n      \"line2\": null,\n      \"city\": null,\n      \"county\": null,\n      \"building_name\": null,\n      \"postcode\": \"postcode\",\n      \"line1\": null,\n      \"building_number\": null,\n      \"telephone\": null,\n      \"referee_id\": null,\n      \"referee_type\": null,\n      \"referral_state\": \"ignition\",\n      \"referral_clicks\": 0,\n      \"referral_reward_name\": null,\n      \"authentication_token_generated_at\": \"2017-05-15T09:25:14.000+01:00\",\n      \"male\": true,\n      \"role\": \"admin\",\n      \"middlename\": null,\n      \"envelope_state\": \"ignition\",\n      \"temporary_password\": \"edYrwKAW\",\n      \"company_id\": 157,\n      \"api_key\": \"TIPv6EHCIBPpt3PTAzaEWQ\",\n      \"links\": [\n        {\n          \"rel\": \"company\",\n          \"title\": \"company\",\n          \"href\": \"https://api.host.com/companies/157\"\n        }\n      ],\n      \"company\": {\n        \"id\": 157,\n        \"name\": \"name\",\n        \"slug\": \"name\",\n        \"registration_number\": \"number\",\n        \"staging_on\": \"2017-05-01\",\n        \"tax_office_number\": null,\n        \"tax_office_employer_reference\": null,\n        \"contact_id\": 230,\n        \"contact_type\": \"Customer\",\n        \"legal_structure\": \"Limited Company\",\n        \"welcome_letters_reminder_sent_at\": null,\n        \"pension_regulator_letter_code\": null,\n        \"trading_address1\": null,\n        \"trading_address2\": null,\n        \"trading_address3\": null,\n        \"trading_address_postcode\": null,\n        \"reg_address1\": null,\n        \"reg_address2\": null,\n        \"reg_address3\": null,\n        \"reg_address4\": null,\n        \"reg_address_postcode\": null,\n        \"pensionable_earning_type\": \"unbanded\",\n        \"automatic_postponement_period\": null,\n        \"default_percentage\": 1.0,\n        \"employer_pension_scheme_registration\": \"SMART10000157\",\n        \"created_at\": \"2017-05-15T09:25:14.000+01:00\",\n        \"updated_at\": \"2017-05-15T09:25:14.000+01:00\",\n        \"status\": \"active\"\n      }\n    },\n    {\n      \"id\": 232,\n      \"email\": \"email2@example.com\",\n      \"reset_password_token\": null,\n      \"reset_password_sent_at\": null,\n      \"remember_created_at\": null,\n      \"last_sign_in_at\": null,\n      \"slug\": \"fsurname8\",\n      \"created_at\": \"2017-05-15T09:25:14.000+01:00\",\n      \"updated_at\": \"2017-05-15T09:25:14.000+01:00\",\n      \"gauth_secret\": \"eg32abmejliii7mbhddbb7qjuzyyxpmc6qm7psiqm3incewzmbhxf6tqvwkbl5qx\",\n      \"gauth_enabled\": false,\n      \"gauth_tmp\": null,\n      \"forename\": \"forename\",\n      \"surname\": \"surname\",\n      \"title\": null,\n      \"authentication_token\": \"zAsz1ACZTsMjmatQyHFN\",\n      \"duedil_id\": null,\n      \"date_of_birth\": \"2002-05-15\",\n      \"duedil_address\": null,\n      \"line2\": null,\n      \"city\": null,\n      \"county\": null,\n      \"building_name\": null,\n      \"postcode\": \"postcode\",\n      \"line1\": null,\n      \"building_number\": null,\n      \"telephone\": null,\n      \"referee_id\": null,\n      \"referee_type\": null,\n      \"referral_state\": \"ignition\",\n      \"referral_clicks\": 0,\n      \"referral_reward_name\": null,\n      \"authentication_token_generated_at\": \"2017-05-15T09:25:14.000+01:00\",\n      \"male\": true,\n      \"role\": \"admin\",\n      \"middlename\": null,\n      \"envelope_state\": \"ignition\",\n      \"temporary_password\": \"nWHfkzJy\",\n      \"company_id\": 157,\n      \"api_key\": \"FE2N1EeTDsiWBaaOdSvs7A\",\n      \"links\": [\n        {\n          \"rel\": \"company\",\n          \"title\": \"company\",\n          \"href\": \"https://api.host.com/companies/157\"\n        }\n      ],\n      \"company\": {\n        \"id\": 157,\n        \"name\": \"name\",\n        \"slug\": \"name\",\n        \"registration_number\": \"number\",\n        \"staging_on\": \"2017-05-01\",\n        \"tax_office_number\": null,\n        \"tax_office_employer_reference\": null,\n        \"contact_id\": 230,\n        \"contact_type\": \"Customer\",\n        \"legal_structure\": \"Limited Company\",\n        \"welcome_letters_reminder_sent_at\": null,\n        \"pension_regulator_letter_code\": null,\n        \"trading_address1\": null,\n        \"trading_address2\": null,\n        \"trading_address3\": null,\n        \"trading_address_postcode\": null,\n        \"reg_address1\": null,\n        \"reg_address2\": null,\n        \"reg_address3\": null,\n        \"reg_address4\": null,\n        \"reg_address_postcode\": null,\n        \"pensionable_earning_type\": \"unbanded\",\n        \"automatic_postponement_period\": null,\n        \"default_percentage\": 1.0,\n        \"employer_pension_scheme_registration\": \"SMART10000157\",\n        \"created_at\": \"2017-05-15T09:25:14.000+01:00\",\n        \"updated_at\": \"2017-05-15T09:25:14.000+01:00\",\n        \"status\": \"active\"\n      }\n    }\n  ]\n}"
            }
          },
          "422": {
            "description": "Unprocessable",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 1504,\n      \"title\": \"Offset must be greater than or equal to 0.\",\n      \"detail\": \"You need to enter an offset which must be a numerical value greater or equal than 0.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/offset\"\n      }\n    }\n  ]\n}"
            }
          }
        }
      }
    },
    "/advisers/{id}": {
      "get": {
        "summary": "Advisers/Get",
        "tags": [
          "Advisers"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "200": {
            "description": "OK",
            "examples": {
              "application/json": "{\n  \"id\": 8,\n  \"name\": \"super\",\n  \"type\": \"Adviser\",\n  \"address\": \"address\",\n  \"created_at\": \"2017-05-15T09:24:49.000+01:00\",\n  \"updated_at\": \"2017-05-15T09:24:49.000+01:00\",\n  \"signup_start\": null,\n  \"signup_finish\": null\n}"
            }
          }
        }
      },
      "patch": {
        "summary": "Advisers/Update",
        "tags": [
          "Advisers"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "description": "Adviser name",
            "type": "string"
          },
          {
            "name": "address",
            "in": "query",
            "required": true,
            "description": "Adviser address",
            "type": "string"
          },
          {
            "name": "signup_start",
            "in": "query",
            "required": true,
            "description": "Signup Start Text",
            "type": "string"
          },
          {
            "name": "signup_finish",
            "in": "query",
            "required": true,
            "description": "Signup Finish Text",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "422": {
            "description": "Unprocessable",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 204,\n      \"title\": \"Adviser name is required.\",\n      \"detail\": \"You need to include a name for this adviser account; this is the name that clients of this adviser will see.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/name\"\n      }\n    }\n  ]\n}"
            }
          },
          "204": {
            "description": "Empty",
            "examples": {
              "application/json": "{}"
            }
          }
        }
      }
    },
    "/companies/{company_id}/staging_date": {
      "get": {
        "summary": "Companies/StagingDates/Get",
        "tags": [
          "StagingDates"
        ],
        "description": "",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "200": {
            "description": "OK",
            "examples": {
              "application/json": "{\n  \"staging_on\": \"2017-05-01\",\n  \"locked\": false\n}"
            }
          }
        }
      }
    },
    "/advisers/{adviser_id}/exports": {
      "post": {
        "summary": "Advisers/Exports/Create",
        "tags": [
          "Exports"
        ],
        "description": "",
        "parameters": [
          {
            "name": "adviser_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "description": "Export type",
            "type": "string"
          },
          {
            "name": "content_type",
            "in": "query",
            "required": true,
            "description": "Export content type",
            "type": "string"
          },
          {
            "name": "file_format",
            "in": "query",
            "required": true,
            "description": "Export file format",
            "type": "string"
          },
          {
            "name": "resource_type",
            "in": "query",
            "required": true,
            "description": "Resource type to base the export type upon",
            "type": "string"
          },
          {
            "name": "resource_id",
            "in": "query",
            "required": true,
            "description": "Id of resource type",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "201": {
            "description": "Created",
            "examples": {
              "application/json": "{\n  \"id\": 10,\n  \"state\": \"ignition\",\n  \"created_at\": \"2017-05-15T09:24:50.000+01:00\",\n  \"updated_at\": \"2017-05-15T09:24:50.000+01:00\",\n  \"type\": \"CompaniesExport\",\n  \"content_type\": \"template\",\n  \"file_format\": \"xls\",\n  \"resource_type\": \"Adviser\",\n  \"resource_id\": 11,\n  \"metadata\": {\n  },\n  \"adviser_id\": 11,\n  \"links\": [\n    {\n      \"rel\": \"adviser\",\n      \"title\": \"adviser\",\n      \"href\": \"https://api.host.com/advisers/11\"\n    }\n  ]\n}"
            }
          },
          "422": {
            "description": "Unprocessable",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 2901,\n      \"title\": \"The resource type is required.\",\n      \"detail\": \"You need to set a resource type of export.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/resource_type\"\n      }\n    },\n    {\n      \"code\": 2901,\n      \"title\": \"The resource type is required.\",\n      \"detail\": \"You need to set a resource type of export.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/resource_type\"\n      }\n    },\n    {\n      \"code\": 2903,\n      \"title\": \"The resource id is required.\",\n      \"detail\": \"You need to set an id for the resource of the export.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/resource_id\"\n      }\n    },\n    {\n      \"code\": 2903,\n      \"title\": \"The resource id is required.\",\n      \"detail\": \"You need to set an id for the resource of the export.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/resource_id\"\n      }\n    }\n  ]\n}"
            }
          }
        }
      },
      "get": {
        "summary": "Advisers/Exports/List",
        "tags": [
          "Exports"
        ],
        "description": "",
        "parameters": [
          {
            "name": "adviser_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string"
          },
          {
            "name": "direction",
            "in": "query",
            "type": "string"
          },
          {
            "name": "include",
            "in": "query",
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "default": "api.example.com",
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/vnd.autoenrolment.v5+json",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "examples": {
              "application/json": "{}"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json": "{}"
            }
          },
          "404": {
            "description": "Resource not found",
            "examples": {
              "application/json": "{}"
            }
          },
          "409": {
            "description": "Conflict",
            "examples": {
              "application/json": "{}"
            }
          },
          "422": {
            "description": "Unprocessable",
            "examples": {
              "application/json": "{\n  \"errors\": [\n    {\n      \"code\": 1504,\n      \"title\": \"Offset must be greater than or equal to 0.\",\n      \"detail\": \"You need to enter an offset which must be a numerical value greater or equal than 0.\",\n      \"source\": {\n        \"pointer\": \"/data/attributes/offset\"\n      }\n    }\n  ]\n}"
            }
          },
          "200": {
            "description": "OK",
            "examples": {
[...]
